<ul class="unstyled settings-list settings-accounts-list">
  <li>
    <div class="pull-left">
      <i class="ss-standard ss-check"></i>
    </div>
    <div class="clearfix">
      <div class="pull-right account-actions">
        <button class="btn btn-warning">Disconnect</button>
        <button class="btn">Email Settings</button>
      </div>
      <div class="description">
        <p>Gmail Connected!</p>
      </div>
    </div>
  </li>

  <li>
    <div class="pull-left">
    </div>
    <div class="clearfix">
      <div class="pull-right account-actions">
        <form class="form-horizontal">
          <input type="text" class="input-medium" placeholder="Username">
          <input type="text" class="input-medium" placeholder="Password">
          <div class="btn btn-success">Add Account</div>
        </form>
      </div>
      <div class="description">
        <p>Connect to Twitter</p>
      </div>
    </div>
  </li>

  <li>
    <div class="pull-left">
    </div>
    <div class="clearfix">
      <div class="pull-right account-actions">
        <button class="btn btn-info">Connect</button>
      </div>
      <div class="description">
        <p>Connect to LinkedIn</p>
      </div>
    </div>
  </li>

  <li>
    <div class="pull-left">
    </div>
    <div class="clearfix">
      <div class="pull-right account-actions">
        <button class="btn btn-info">Connect</button>
      </div>
      <div class="description">
        <p>Connect to Facebook</p>
      </div>
    </div>
  </li>

  <li>
    <div class="pull-left">
    </div>
    <div class="clearfix">
      <div class="pull-right account-actions">
        <button class="btn btn-info">Connect</button>
      </div>
      <div class="description">
        <p>Connect to Microsoft Exchange</p>
      </div>
    </div>
  </li>

</ul>
