<div class="page-header">
  <button class="btn btn-success pull-right">Save</button>
  <h3>My Profile</h3>
</div>
<form class="form-horizontal settings-form">
  <fieldset>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="icon-edit"></i>
        </button>
        <img src="/images/default_avatars/large.png" alt="" class="img-polaroid">
      </div>
      <div class="controls settings-user-details">
        <input type="text" value="Michael Bolton" class="input-block-level user-fullname"><br>
        <input type="email" value="Michael@initech.com" class="input-block-level user-email"><br>
        <input type="text" value="Initech Inc." class="input-block-level">
        <a href="#" class="btn btn-small">Login Settings</a>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label" for="phoneNumber">Phone Number</label>
      <div class="controls">
        <input type="text" id="phoneNumber" placeholder="Phone Number">
        <br>
        <a href="#" class="btn btn-small">Mobile Settings</a>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label" for="companyName">Company</label>
      <div class="controls">
        <input type="text" id="companyName" placeholder="Company Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="companyLogo">Company Logo</label>
      <div class="controls">
        <input type="file" id="companyLogo">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label for="timezone" class="control-label">Timezone</label>
      <div class="controls">
        <select name="">
          <option value="">+1 GMT</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label" for="currency">Currency</label>
      <div class="controls">
        <select id="currency">
          <option value="">USD</option>
          <option value="">CAN</option>
          <option value="">EUR</option>
          <option value="">£</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label" for="language">Language</label>
      <div class="controls">
        <select id="language">
          <option value="">English</option>
          <option value="">French</option>
          <option value="">German</option>
          <option value="">Finnish</option>
          <option value="">Swedish</option>
        </select>
      </div>
    </div>
  </fieldset>
</form>