<h3 class="settings-title">Radium API Key</h3>
<p>
  To use the API please contact us by describing your use case. <a href="#" {{action "openIntercom"}}>Click here</a>.
</p>
<div class="alert alert-info api-key-panel">
  <div class="form form-horizontal">
    <div class="control-group">
      <label class="control-label">Your API key:</label>
      <div class="controls">
        {{input value=token class="api-field" readonly="readonly"}}
      </div>
    </div>
  </div>
</div>
