<div class="page-header">
  <h3>API</h3>
</div>
<div class="alert alert-info">
  <h3>Your API key: <pre style="display: inline-block;font-size: 24px;margin:0;">hsd929sdif9sj131id11412</pre></h3>
</div>