<h3 class="settings-title">Radium API Key</h3>
<div class="alert alert-info api-key-panel">
  <div class="form form-horizontal">
    <div class="control-group">
      <label class="control-label">Your API key:</label>
      <div class="controls">
        {{input value=token class="api-field" readonly="readonly"}}
      </div>
    </div>
  </div>
</div>
<div class="wrap">
  <h3>Integrations</h3>
  <div class="integrations">
    <div class="service">
      <div {{bind-attr class=":logo currentUser.thirdPartyConnected:connected:disconnected"}}></Div>
      <div class="description">
        <h2>Zapier <span><i class="ss-standard ss-check"></i></span></h2>
        <div>
          <p>Integrate Radium with 300+ Apps in the Zapier system.</p>
          <p>
            <a href="https://zapier.com/developer/invite/14201/e005aeb13826bc7771001b1b5f8f71b4/" target="_blank">Learn More</a>
          </p>
        </div>
        {{#unless currentUser.thirdPartyConnected}}
          <a href= "https://zapier.com/developer/invite/14201/e005aeb13826bc7771001b1b5f8f71b4/" target="_blank"" class= "btn-primary btn-large">Connect</a>
        {{/unless}}
      </div>
    </div>
  </div>
</div>