<form class="form-horizontal settings-form">
  <fieldset>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="icon-edit"></i>
        </button>
        <img src="/images/default_avatars/large.png" alt="" class="img-polaroid">
      </div>
      <div class="controls settings-user-details">
        {{input value=companyName class="input-block-level inline-field large-inline-field"}}
      </div>
    </div>
  </fieldset>
</form>

{{render "inviteUser"}}

<h6>Team</h6>
{{#if controller.users.length}}
  <ul class="unstyled settings-list settings-users-list">
    {{each controller.users itemViewClass="Radium.SettingsUsersItemView"}}
  </ul>
{{else}}
  <p>No users added yet, invite one now! ^</p>
{{/if}}
