<div class="pipeline-states-list">
  <h3>Contact Statuses</h3>

  <ol class="lead-sources">
    {{#each contactStatus in controller}}
      {{field-editor model=contactStatus saveModel="saveContactStatuses" tagName="li"}}
    {{/each}}
  </ol>

  <div class="row">
    <div class="span5 pipeline-state-create">
      {{#if currentUser.isAdmin}}
        <button class="btn btn-large btn-success" {{action "createContactStatus" bubbles="false"}}>
          Add Contact Status
        </button>
      {{/if}}
    </div>
  </div>
</div>