<!-- file:///Users/paulcowan/Dropbox/Mockups/views/settings/custom.html -->
<div class="custom-fields-view">
  <div class="main">
    <h1>Custom Fields for Contact</h1>
    {{#each customField in customFields}}
      {{customfield-picker customField=customField lastItem=lastItem createCustomField="createCustomField" addNewCustomField="addNewCustomField" removeCustomField="removeCustomField"}}
    {{/each}}
  </div>
</div>