<div class="page-header">
  <h3>Custom Fields</h3>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.
</p>

<form class="form-horizontal settings-form">
  <fieldset>
    <div class="control-group">
      <label for="" class="control-label">Custom Field</label>
      <div class="controls">
        <input type="text" value="Example Field Name" class="inline-field">
        <button class="btn btn-danger"><i class="icon-delete"></i></button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="control-group">
      <label for="" class="control-label">Add a Custom Field</label>
      <div class="controls">
        <input type="text" placeholder="Field Name"> <button class="btn btn-success">Add</button>
      </div>
    </div>
  </fieldset>
</form>