<!-- file:///Users/paulcowan/Dropbox/Mockups/views/settings/custom.html -->
<div class="custom-fields-view">
  <div class="main">
    <h1>Custom Fields for Contact</h1>
    <div>
      <div>
        <select>
          <option>Text</option>
          <option>Date</option>
          <option>$</option>
          <option>URL</option>
          <option value="dropdown">Dropdown</option>
        </select>
        <input type="text" value="" class="field">
        <a href="#" id="add" class="more"><i class="ss-standard ss-plus"></i></a>
      </div>
    </div>
  </div>
</div>