<div class="page-header">
  <h3>Email Settings</h3>
</div>

<form class="form-horizontal settings-form">
  <fieldset>
    <legend>Emails</legend>
    <div class="control-group">
      <label class="control-label">Gmail</label>
      <div class="controls">
        <input type="text" name="" id="" class="inline-field" value="Michael@gmail.com">
        <div class="label label-success"><i class="icon-todo"></i> Confirmed</div>
        <button class="btn btn-mini btn-danger"><i class="icon-delete"></i></button>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Add Another Email</label>
      <div class="controls">
        <div class="input-prepend">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              Type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Gmail</a>
                <a href="#">Outlook.com</a>
                <a href="#">iCloud</a>
              </li>
            </ul>
          </div>
          <input class="span2" id="prependedDropdownButton" type="text">
        </div>
        <button class="btn">Add</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Signature</label>
      <div class="controls">
        <div class="btn-group">
          <button class="btn">Bold</button>
          <button class="btn">Italic</button>
        </div>
        <div class="clearfix"></div>
        <textarea rows="8">
Michael Bolton
Marketing Manager
Initech Inc.
California
+ 1 234 6789
Michael@initech.com

Sent from RadiumCRM</textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </fieldset>
</form>
