<div class="page-header">
  <h3>Mobile Settings</h3>
</div>

<form class="form-horizontal settings-form">
  <fieldset>
    <div class="control-group">
      <label class="control-label">Mobile Phone</label>
      <div class="controls">
        <input type="text" name="" id="" class="inline-field" value="+1 555 555 5555">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Add Another Phone</label>
      <div class="controls">
        <input type="text" placeholder="Mobile Number">
        <select>
          <option value="">Office</option>
          <option value="">Home</option>
          <option value="">Other</option>
        </select>
        <button class="btn">Add</button>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </fieldset>
</form>
