<div class="page-header">
  <h3>Pipeline States</h3>
</div>
<div class="pipeline-states-list">
  {{each controller itemViewClass="Radium.PipelineStatesItemView"}}

  <div class="row">
    <div class="span5 pipeline-state-create">
      <button class="btn btn-large btn-success" {{action "createPipelineState"}}>
        Add Pipeline State
      </button>
    </div>
  </div>
</div> <!-- /.pipeline-states-list -->
