<div class="page-header">
  <h3>My Profile</h3>
</div>
<form class="form-horizontal settings-form">
  <fieldset>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="icon-edit"></i>
        </button>
        <img src="/images/default_avatars/large.png" alt="" class="img-polaroid">
      </div>
      <div class="controls settings-user-details">
        <input type="text" value="Michael Bolton" class="input-block-level inline-field large-inline-field"><br>
        <input type="email" value="Michael@initech.com" class="input-block-level inline-field user-email"><br>
        <input type="text" value="Initech Inc." class="input-block-level inline-field">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label">Gmail</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <input class="span2" id="appendedPrependedInput" type="text" value="MichaelB@gmail.com" readonly>
          <span class="add-on">
            <span class="label label-success"><i class="icon-todo"></i> Connected</span>
          </span>
        </div>
        <span class="help-inline">
          <button class="btn btn-small btn-warning">Disconnect</button>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="emailAddress">Email</label>
      <div class="controls">
        <input type="email" id="emailAddress" placeholder="Email Address">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="phoneNumber">Phone Number</label>
      <div class="controls">
        <input type="tel" id="phoneNumber" placeholder="Phone Number">
      </div>
    </div>
  </fieldset>
    <fieldset>
    <div class="control-group">
      <label class="control-label">Signature</label>
      <div class="controls">
        <textarea rows="8">
Michael Bolton
Marketing Manager
Initech Inc.
California
+ 1 234 6789
Michael@initech.com

Sent from RadiumCRM</textarea>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>