<div class="page-header">
  <h3>Reminders & Alerts</h3>
</div>

<form action="" class="form-horizontal settings-form">
  <fieldset>
    <legend>Reminders</legend>
    <div class="control-group">
      <span class="help-block">Send me a reminder when I have an overdue task:</span>
      <label for="" class="control-label">When task is overdue</label>
      <div class="controls">
        <input class="input-mini" type="number" placeholder="1">
        <select name="" class="span1">
          <option value="">Day</option>
        </select>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
      </div>
    </div>

    <div class="control-group">
      <span class="help-block">Send me a reminder when I create a task for someone else:</span>
      <label for="" class="control-label">When task is overdue</label>
      <div class="controls">
        <input class="input-mini" type="number" placeholder="1">
        <select name="" class="span1">
          <option value="">Day</option>
        </select>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
      </div>
    </div>

    <div class="control-group">
      <span class="help-block">Send me a reminder when a meeting is in my office/office building:</span>
      <label for="" class="control-label">When meeting is in</label>
      <div class="controls">
        <input class="input-mini" type="number" placeholder="1">
        <select name="" class="span1">
          <option value="">Day</option>
        </select>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
      </div>
    </div>

    <div class="control-group">
      <span class="help-block">Send me a reminder when a meeting is not in my office/office building:</span>
      <label for="" class="control-label">When meeting is</label>
      <div class="controls">
        <input class="input-mini" type="number" placeholder="1">
        <select name="" class="span1">
          <option value="">Day</option>
        </select>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Alerts</legend>
    <p>
      If a lead is ignored for more than <input type="number" name="" id="" class="input-mini" value="1"> days highlight that lead <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
    </p>
    <p>
      If a client is ignored for more than <input type="number" name="" id="" class="input-mini" value="1"> days highlight that lead <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
    </p>
    <p>
      If a task is ignored for more than <input type="number" name="" id="" class="input-mini" value="1"> days highlight that lead <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Enabled
        </label>
    </p>
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>