<div class="page-header">
  <img src="http://placehold.it/50x50" alt="" class="pull-left company-logo">
  <h3>Initech, Inc.</h3>
</div>

<form class="form-inline">
  <input type="text" class="input-xlarge" placeholder="Add a member by Email">
  <button class="btn btn-success">Connect</button>
</form>

<h6>Users</h6>
<ul class="unstyled settings-users-list">
  <li>
    <div class="pull-left user-avatar">
      <img src="/images/default_avatars/small.png" alt="" class="img-polaroid">
    </div>
    <div class="clearfix">
      <div class="pull-right user-actions">
        <button class="btn btn-link"><i class="icon-edit"></i></button>
        <button class="btn btn-link"><i class="icon-delete"></i></button>
      </div>
      <div class="user-meta">
        <h5 class="name">Chris Cox <a href="#">Chris@initech.com</a></h5>
        <div class="message muted">
          <small>LAST LOGIN 02/08/2013</small>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="pull-left user-avatar">
      <img src="/images/default_avatars/small.png" alt="" class="img-polaroid">
    </div>
    <div class="clearfix">
      <div class="pull-right user-actions">
        <button class="btn btn-link"><i class="icon-edit"></i></button>
        <button class="btn btn-link"><i class="icon-delete"></i></button>
      </div>
      <div class="user-meta">
        <h5 class="name">
          Chris Cox <a href="#">Chris@initech.com</a>
          <span class="label label-info">Admin</span>
        </h5>
        <div class="message muted">
          <small>LAST LOGIN 02/08/2013</small>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="pull-left user-avatar">
      <img src="/images/default_avatars/small.png" alt="" class="img-polaroid">
    </div>
    <div class="clearfix">
      <div class="pull-right user-actions">
        <button class="btn btn-link"><i class="icon-edit"></i></button>
        <button class="btn btn-link"><i class="icon-delete"></i></button>
        <button class="btn btn-warning">Resend Invite</button>
      </div>
      <div class="user-meta">
        <h5 class="name">Chris Cox <a href="#">Chris@initech.com</a></h5>
        <div class="message text-warning">
          <small><i class="icon-warning"></i> NEVER LOGGED IN</small>
        </div>
      </div>
    </div>
  </li>
</ul>