{{#if isTag}}
  <div class="list">
    <div class="name">
      <b>New Orleans</b>
      <span class="count">36</span>
    </div>
  </div>
  <div class="helper">36 people in this list</div>
  <a href="#" class="remove" tabindex="-1">
    <i class="ss-standard ss-delete"></i>
  </a>
{{else}}
  <div class="name">
    <b>{{recipient.person.displayName}}</b>
    {{#if recipient.person.company.name}}
      from {{recipient.person.company.name}}
    {{/if}}
  </div>
  <div class="helper">
    {{#if recipient.person.name}}
      {{recipient.person.email}}
    {{/if}}
  </div>
  <a href="#" class="remove" tabindex="-1">
    <i class="ss-standard ss-delete"></i>
  </a>
{{/if}}
