<div class="sidebar-panel sidebar-panel-main">
  <div class="sidebar-panel-content">
    <div class="contact-detail">
      <div class="user-avatar pull-left">
        {{avatar-picker person=contact}}
      </div>
      {{toggle-switch checked=shared action="switchShared" dataOn="Share" dataOff="private" dontPropagate=true}}
    </div>

    {{! render 'sidebar/contact_header' contact}}
    {{!render 'sidebar/contact_company' contact}}

    <div id="sidebar-social">
      <a href="#" class="active"><i class="ss-icon ss-social ss-twitter"></i></a>
      <a href="#" class="active"><i class="ss-icon ss-social ss-facebook"></i></a>
      <a href="#"><i class="ss-icon ss-social ss-googleplus"></i></a>
      <a href="#"><i class="ss-icon ss-social ss-linkedin"></i></a>
    </div>
  </div>
</div>