<div class="sidebar-panel sidebar-panel-main">
  <div class="sidebar-panel-content">
    <div class="contact-detail">
      <div class="user-avatar pull-left">
        {{avatar-picker person=contact}}
      </div>
      {{toggle-switch checked=shared action="switchShared" dataOn="Share" dataOff="private" dontPropagate=true}}
      {{inline-editor model=contact bufferKey="name" notRoutable=true placeholder="Add Name"}}
    </div>
  </div>
</div>