<span class="selected-container" {{action "toggleDropdown"}}>
  {{country-display country=current editable=true}}
  <span class="caret selectbox-caret"></span>
</span>
<ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
  {{#each country in source}}
    <li>
      <a {{action "changeCountry" country}} tabindex="-1" href="#" data-option="USD">
        {{country-display country=country}}
      </a>
    </li>
  {{/each}}
</ul>