<a href="#" data-toggle="dropdown" class="dropdown-toggle">
  {{country-display country=current}}
  <span class="caret selectbox-caret"></span>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
  {{#each country in countryList}}
    <li>
      <a {{action "changeCountry" country}} tabindex="-1" href="#" data-option="USD">
        {{country-display country=country}}
      </a>
    </li>
  {{/each}}
</ul>