<a href="#" data-toggle="dropdown" class="dropdown-toggle">
  {{currency-display currency=currentCurrency}}
  <span class="caret selectbox-caret"></span>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
  {{#each currency in currencies}}
    <li>
      <a {{action "changeCurrency" currency}} tabindex="-1" href="#" data-option="USD">
        {{currency-display currency=currency}}
      </a>
    </li>
  {{/each}}
</ul>