<div class="input-prepend">
  <span class="add-on">{{currencySymbol}}</span>
  {{currency-input value=customFieldValue.value class="span2 customfield-textinput" submit="commit"}}
</div>
{{currencySymbol}}