<div class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <h2 class="deal-title">
        <i class="ss-standard ss-briefcase"></i>
        {{inline-editor model=deal bufferKey="name" notRoutable=true placeholder="Add Name" parent=this isRequired=true}}
      </h2>
    </div>
  </div>
</div>