<h1>Add to {{list.itemName}}</h1>
<div class="form">
  <div class="item">
    <input type="text" placeholder="Company/Account name"/>
  </div>
  <div class="item">
   or
  </div>
  <div class="item">
    <input type="text" placeholder="Contact Name"/>
  </div>
  <div claass="item">
    <input type="text" placeholder="List Name"/>
  </div>
  <div class="actions">
    <button {{action "submit"}} class="btn btn-primary">Submit</button>
    <button {{action "cancel"}} class="btn">Cancel</submit>
  </div>
</div>