<h2>Add to {{list.itemName}}</h2>
<div class="form">
  <div class="item">
    {{api-autocomplete value=company url="https://autocomplete.clearbit.com/v1/companies/suggest" queryKey="name"}}
  </div>
  <br/> or
  <div class="item">
    <input type="text" placeholder="Contact Name"/>
  </div>
  <div class="item">
    <input type="text" placeholder="Item Name"/>
  </div>
  <div class="actions">
    <button {{action "submit"}} class="btn btn-primary">Submit</button>
    <button {{action "cancel"}} class="btn">Cancel</button>
  </div>
</div>