<label class="control-label">{{leader}}</label>
<div class="controls">
  {{view view.autocomplete source=source value=value}}
  <span class="help-inline preview-inline">{{previewLeader}}</span>
</div>
