<div class="icon">
  <i {{bind-attr class=":ss-standard icon"}}></i>
</div>
<div class="description">{{leader}}</div>
{{autocomplete-textbox source=source value=value class="field" queryKey="name" dontReset=true setindex=true}}
<span class="help-inline preview-inline">{{previewLeader}}</span>
