{{#link-to "list" list class="list"}}
  <div class="nav-pills-left">
    <i>&nbsp;</i>
    <span>{{list.name}}</span>
  </div>
  <span class="nav-list" {{action "makeTagConfigurable" list bubbles=false}}>
    <i class="ss-standard ss-star"></i>
  </span>
  <div class="nav-pills-right total">
    <span>{{contactsTotal}}</span>
  </div>
  <div class="nav-pills-right delete">
    <span>
      <i class="ss-standard ss-trash" {{action "deleteList" list bubbles=false}}></i>
    </span>
  </div>
{{/link-to}}