<div class="span6">
  {{inline-editor model=listStatus bufferKey="name" notRoutable=true placeholder="Add Status" parent=parent class="list-status"}}
</div>
<a {{action "deleteListStatus" listStatus}} href="#" class="btn btn-link btn-remove-field btn-none pull-right">
  <i class="ss-symbolicons-block ss-trash cancel"></i>
</a>