<div id="topbar" role="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    {{#link-to "index" class="brand"}}
      <img src="/images/logo_white.png" alt="::radium">
    {{/link-to}}
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".main-nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse nav-collapse main-nav-collapse">
        <ul class="nav main-nav">

          <li>
            <a class="notifications-link" {{action "toggleNotifications"}} href="#">
              <i class="ss-standard ss-notifications"></i>
              {{#if notificationCount}}
                {{badge notificationCount style="important"}}
              {{/if}}
            </a>
          </li>

          <li class="dropdown">
            {{#link-to "conversations" "incoming"}}
              Conversations
            {{/link-to}}
          </li>

          <li class="addressbook-top-nav">
            {{#link-to "people.contacts" class="dropdown-toggle contacts-nav"}}
              Contacts
            {{/link-to}}
            <ul class="dropdown-menu">
              <li>{{#link-to "addressbook.companies"}}Companies{{/link-to}}</li>
            </ul>
          </li>

          <li>
            {{#link-to "user" currentUser}}
              Tasks
            {{/link-to}}
          </li>

          {{#each list in listsService.configurableLists}}
            <li>
              {{#link-to "list" list}}{{list.name}}{{/link-to}}
            </li>
          {{/each}}
        </ul>
        <ul class="nav pull-right nav-icons">
          <li>
            {{#link-to "messages" "inbox" title="Messages"}}
              <i class="ss-standard ss-mail"></i>
            {{/link-to}}
          </li>

          <li>
            {{#link-to "calendar.index" today title="Calendar"}}
              <i class="ss-standard ss-calendar"></i>
            {{/link-to}}
          </li>

          <li>
            {{#link-to "reports" title="Reports"}}
              <i class="ss-symbolicons-block ss-barchart"></i>
            {{/link-to}}
          </li>

          <li>
            {{#link-to "settings" class="settings"}}
              <i class="ss-standard ss-settings"></i>
            {{/link-to}}
          </li>

          <li>
            <a href="#" {{action "logOut"}}>
              <i class="ss-standard ss-logout"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>