<a href="#">
  <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
  <span contenteditable="true" class="editableList" {{bind-attr placeholder=newItemPlaceholder}}></span>
  <span>&nbsp;</span>
</a>
