<i class="ss-standard ss-write" {{action "edit"}}></i><a class="cancel" {{action "cancel"}}>cancel</a>
<div {{action "edit"}}>
  {{rd-conversation-input value=buffer.body editable=isEditing focus=hasFocus}}
</div>
