<button class="btn btn-mini btn-main btn-primary" {{action "track" this}}>Track</button>
<a href="#" {{action "destroyContact" this bubbles="false"}} class="btn btn-link btn-remove-field">
  <i class="ss-symbolicons-block ss-trash"></i>
</a>