<button class="btn btn-mini"
  {{bind-attr disabled="isFirstItem"}}
  {{action "move" model "up"}}>▲</button>
  <button class="btn btn-mini"
    {{bind-attr disabled="isLastItem"}}
    {{action "move" model "down"}}>▼</button>