{{#each displayFiles}}
  <div class="upload-file">
    <a href="#">{{name}} ({{size}})</a>
    <button type="button" class="close" data-dismiss="alert">
      <i class="ss-standard ss-delete"></i>
    </button>
  </div>
{{/each}}
