{{#each files}}
  <div class="upload-file">
    <a href="#">{{name}} ({{size}})</a>
    <button type="button" {{action removeFile this}} class="close">
      <i class="ss-standard ss-delete"></i>
    </button>
  </div>
{{/each}}
