<div class="tasks-content">
  {{form-box}}
  {{!--
  {{render "task_list" currentTasks}}
  --}}
</div>
{{activity-feed subject=user}}
{{!-- {{#delete-confirmation deleteAction="deleteRecord" showDeleteConfirmation=showDeleteConfirmation}}
<p>This action cannot be undone! Deleting <strong>{{name}}</strong> will be permanent.</p>
{{/delete-confirmation}} --}}