<div class="sidebar">
  {{company-sidebar company=company parent=parent addTag="addTag" removeTag="removeTag" customFields=customFields files=files}}
</div>
{{company-main company=company parent=parent confirmDeletion="confirmCompanyDeletion" noscroll=mainnoscroll hideDeals=hideDeals}}