<div class="sidebar">
  {{company-sidebar company=company parent=parent addList="addList" removeList="removeList" customFields=customFields files=files showDeleteConfirmation=showDeleteConfirmation}}
</div>
{{company-main company=company parent=parent confirmDeletion="confirmCompanyDeletion" noscroll=mainnoscroll hideDeals=hideDeals showDeleteConfirmation=showDeleteConfirmation deleteCompany="deleteCompany"}}