<div class="sidebar">
  {{contact-sidebar contact=contact parent=parent addList="addList" removeList="removeList" customFields=customFields confirmDeletion="confirmDeletion" condense=condenseSidebar startPolling="startPolling" showDeleteConfirmation=showDeleteConfirmation lists=lists}}
</div>
<div class="main-content">
  {{#unless hideMain}}
    {{contact-main contact=contact customFields=customFields form=form noscroll=mainnoscroll showDeleteConfirmation=showDeleteConfirmation parent=parent deleteContact="deleteContact"}}
  {{/unless}}
</div>
