<div class="sidebar">
  {{contact-sidebar contact=contact tags=tags parent=parent addTag="addTag" removeTag="removeTag" customFields=customFields confirmDeletion="confirmDeletion"}}
</div>
<div class="main-content">
  {{contact-main contact=contact customFields=customFields form=form files=files}}
</div>
