<input type="radio" id="{{unbound view.radioButtonId}}" {{bind-attr name=name value=value checked=checked disabled=disabled}}/>
<label for="{{unbound radioButtonId}}"><span class="x-check"></span>{{leader}}</label>