.block {
  padding: 15px;
  background-color: $bright;
  margin-bottom: 10px;
  border: solid 1px $selected-item-border;
  position: relative;

  & > :last-child {
    margin-bottom: 0;
  }

  .adder {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;

    i {
      position: absolute;
      bottom: 4px;
      left: 18px;

      color: #37aed4;

      &:hover {
        cursor: pointer;
      }
    }

    .arrow {
      position: absolute;
      content: ' ';
      height: 0;
      width: 0;
      bottom: 0px;
      border: solid 30px transparent;
      border-bottom-color: $associated-blue;
    }
  }
}

.block-gray {
  background-color: $light-background;
}

.block-connected {
  margin-top: -11px;
}

.block.block-blue {
  background-color: $associated-blue;
}

.block-arrow-top {
  @include css-arrow(top, 15px, $bright, 1px, $selected-item-border, solid);
  margin-top: 15px;

  // move the arrow to a different position. There is no argument
  // for this
  &:after, &:before {
    left: 40px;
  }
}

.block-arrow-bottom {
  @include css-arrow(bottom, 15px, $bright, 1px, $selected-item-border, solid);
  margin-top: 15px;

  // move the arrow to a different position. There is no argument
  // for this
  &:after, &:before {
    left: 40px;
  }
}


.block-arrow-top.block-blue {
  @include css-arrow(top, 15px, $associated-blue, 1px, $selected-item-border, solid);

  // move the arrow to a different position. There is no argument
  // for this
  &:after, &:before {
    left: 40px;
  }
}

.block-arrow-bottom.block-blue {
  @include css-arrow(bottom, 15px, $associated-blue, 1px, $selected-item-border, solid);

  // move the arrow to a different position. There is no argument
  // for this
  &:after, &:before {
    left: 40px;
  }
}

.block-arrow-bottom + .block-connected {
  margin-top: -11px;
  padding-top: 30px;
}
