#drawer-buttons {
  width: $button-bar-width;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  z-index: 999;
  background-color: #313131;

  > a {
    margin-bottom: 1px;
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px rgba(black, 0.8);
    color: #787878;
    background-color: rgba(white, 0);
    @include transition(background-color 0.25s);

    &.active,
    &:hover {
      background-color: rgba(white, 0.1);
    }

    &.active {
      color: #fff;
    }

    i {
      position: relative;
      top: 2px;
    }

    &.highlight {
      background-color: #fff;
      -webkit-animation-name: blinker;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
      -webkit-animation-duration: 1s;
    }
  }

  .drawer-toggle-arrow {
    font-size: 8px;
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 9;
    color: #B1B1B1;
    text-shadow: -1px -1px 5px #000;
  }

  .settings {
    position: absolute;
    bottom: 0;
    border: none;
    width: 100%;
    padding: 0;
  }

  .badge-important{
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    bottom: 15px;
    background-color: $red;
  }
}
