.drawer-view {
  &:not(.contact-drawer) {
    max-width: 370px;
    width: 370px;
  }

  @extend .sidebar;
  z-index: 99;
  color: $text;
  background-color: #303030;
  @include translateX(-100%);
  @include transition(transform 0.25s);

  &.open {
    @include translateX(0);
  }

  .scroller .thumb {
    background-color: rgba(0,0,0, 0.5);
  }

}

$contact-drawer-width: 75%;

.contact-drawer.drawer-view {
  max-width: $contact-drawer-width;
  width: $contact-drawer-width;
  z-index: 90;
  background: lighten($background, 10%);
  border-right: 1px solid $border;
}

.contact-drawer.drawer-view .sidebar {
  top: 0;
}

.contact-drawer.drawer-view .two-column-layout{
  padding: 0px 10px 60px 340px;
}

.drawer-view .close {
  font-size: 25px;
}