.drawer-view {
  &:not(.contact-drawer) {
    max-width: 370px;
    width: 370px;
  }

  @extend .sidebar;
  z-index: 99;
  color: $text;
  background-color: $background;
  @include translateX(-100%);
  @include transition(transform 0.25s);

  &.open {
    @include translateX(0);
  }

  .scroller .thumb {
    background-color: rgba(0,0,0, 0.5);
  }

}

.drawer-overlay {
  width: 100%;
  z-index: 1000;
}

.contact-drawer.drawer-view {
  max-width: 75%;
  width: auto;
  z-index: 1010;
  background: $background;
  border-right: 1px solid $border;
  padding-right: 20px;
}

.contact-drawer.drawer-view .sidebar {
  top: 0;
}

.contact-drawer.drawer-view .two-column-layout{
  padding: 0px 10px 60px 340px;
}

.drawer-view .close-drawer {
  font-size: 16px;
  top: 12px;
  position: relative;
}