#topbar {

  .navbar-inner {
    height: 47px;
    padding: 0 60px;
    background: $black;
    border: none;
    @include box-shadow(none);
  }

  .nav {
    top: 2px;
  }

  .navbar-search {
    margin-top: 9px;
  }

  a.active {
    color: #fff;
  }
}