.topbar {
  position: fixed !important;

  .navbar-inner {
    height: $navbar-height;
    padding: 0 !important;
    background: $navbar;
    border: none;
    @include box-shadow(none);
  }

  .brand {
    margin-left: 18px;
    margin-top: 2px;
    line-height: 60px;
    padding: 0 0 8px;
    margin-right: 200px;
  }

  .container {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .nav {

    > li {
      margin: 0 9px;

      > a {
        padding: 12px 33px 20px;

        @media (max-width: 1280px) {
          padding: 12px 22px 20px;
        }

        &.active {
          text-shadow: none;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          font-weight: 600;
        }

        &:not(.notifications-link) {

          &.active {
            background: $background;
            color: $text;
          }
        }
      }
    }
  }

  .pull-right {

    .nav {
      margin: 0;

      > li {
        margin: 0;

        a {
          padding-right: 24px;

          i {
            font-size: 16px;
            margin-left: 0;
            color: #fff;
          }
        }
      }
    }
  }

  @include breakpoint(portrait) {
    .nav-collapse {
      background: $navbar;

      a {
        padding: {
          right: 30px;
          left: 30px;
        }
      }
    }
  }

  .btn-navbar {
    position: absolute;
    top: 20px;
    left: 130px;
  }

  .navbar-search {
    margin-top: 12px;

    input.field {
      height: 27px;
    }

    .ss-search {
      margin: 0 9px;
      vertical-align: middle;
      font-size: 16px;
      color: #000;
    }
  }

  .btn,
  .btn-group {
    margin-top: 0;
  }

  a {
    font-size: 16px;
    line-height: 18px;
    color: #f3f3f3;

    @include breakpoint(desktop) {
      padding: {
        right: 10px;
        left: 10px;
      }
    }

    @include breakpoint(landscape) {
      padding: {
        right: 0;
        left: 0;
      }
    }

    i {
      position: relative;
      top: 1px;
      font-size: 12px;
      color: lighten(#787878, 10%);
      text-shadow: 0 1px 0 rgba(black, 0.25);
    }

    &.active,
    &.active i {
      color: #333;
    }
  }

  .navbar-search {
    display: none;
  }

  .main-nav {

    li:first-of-type {
      margin-right: 0;

      a {
        padding: 12px 11px 20px 30px;

        i {
          font-size: 18px;
          color: #fff;
          margin-left: 0px;
        }
      }
    }

    li:nth-of-type(2) {
      margin-left: 2px;
    }

    .badge {
      position: relative;
      top: -16px;
      left: -10px;
      border-radius: 30px;
      height: auto;
      width: auto;
      padding: 2px 6px;
      background: #c6262f;
    }
  }

  .nav-bar-tag.highlight {
    background-color: #fff;
    @include add-blinker;
  }

  .nav-icons {

    li {

      a {
        padding: 12px 18px 20px;

        &.active {
          background-color: transparent;
        }
      }
    }
  }
}