$navbar: #313131;

#topbar {
  position: fixed !important;
  
  .navbar-inner {
    height: $navbar-height;
    background: $navbar;
    border: none;
    @include box-shadow(none);
  }

  .brand {
    margin-left: 30px;
  }

  .container {
    width: 100%;
    margin-left: 0;
  }

  .nav {
    top: 2px;

    > li {
      margin: 0 10px;
    }
  }

  @include breakpoint(portrait) {
    .nav-collapse {
      background: $navbar;

      a {
        padding: {
          right: 30px;
          left: 30px;
        }
      }
    }
  }

  .btn-navbar {
    position: absolute;
    top: 20px;
    left: 130px;
  }

  .navbar-search {
    margin-top: 12px;

    input.field {
      height: 27px;
    }

    .ss-search {
      margin: 0 9px;
      vertical-align: middle;
      font-size: 16px;
      color: #000;
    }
  }

  .btn,
  .btn-group {
    margin-top: 0;
  }

  a {
    font-size: 16px;
    line-height: 36px;
    color: #787878;

    @include breakpoint(desktop) {
      padding: {
        right: 10px;
        left: 10px;
      }
    }

    @include breakpoint(landscape) {
      padding: {
        right: 0;
        left: 0;
      }
    }

    i {
      margin-left: 5px;
      position: relative;
      top: 1px;
      font-size: 12px;
      color: lighten(#787878, 10%);
      text-shadow: 0 1px 0 rgba(black, 0.25);
    }

    &.active,
    &.active i {
      color: #fff;
    }
  }
  
  a.brand {
    line-height: 30px;
  }
}