.autocomplete {
  ul.as-selections {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    @include box-shadow(none);

    li {
      margin: 0;
    }

    li.as-selection-item,
    li.as-selection-item.blur {
      border: solid 1px $control-border-color;
      background-color: $light-background;
      color: inherit;
    }

    li.as-selection-item:hover,
    li.as-selection-item.selected {
      border-color: darken($control-border-color, 25%);
    }

    li.as-selection-item:hover .as-close {
      color: darken($control-border-color, 25%);
    }

    li.as-selection-item {
      background-image: none;
      @include border-radius(4px);
      @include box-shadow(none);
      font-size: inherit;
      padding: 4px 6px;
      margin-right: 10px;
      font-family: inherit;
      text-shadow: none;

      &.selected{
        border-color: $dark;
      }

      &.is-editable{
        &:hover{
          cursor: pointer;
        }
      }

      a.as-close{
        text-shadow: none;
        color: $muted;
      }

    }

    li.as-original input {
      height: auto;
      font-size: inherit;
      padding: 4px 6px;
      width: auto;
    }
  }
}

.control-box .autocomplete {
  padding: 4px 0;
}

li.as-result-item.active {
  cursor: pointer;
	color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

li.as-result-item, li.as-message {
  margin: 0 0 0 0;
  padding: 5px 12px;
  background-color: transparent;
  border: solid 1px $control-border-color;
  cursor: pointer;
  border-radius: none !important;
}

ul.as-list {
  left: 0 !important;
  box-shadow: none;
  border-radius: none;
}
