#bulk-actions {

}

.addressbook-view,
#pipeline-results {
  .assign, .change-status{
    position: relative;

    > div{
      display: inline-block;
      vertical-align: top;
    }

    label {
      position: relative;
      top: 5px;
      width: 30px;
      height: 20px;
      color: $muted;
      cursor: default;
    }
  }

  .change-status,
  .assign{
    .combobox,
    .assign-todo{
      position: relative;
      border: 1px solid $dark-background;
    }

    .assign-todo{
      width: 54%;
      padding-bottom: 2px;
      background-color: $bright;
      .todo{
        margin-left: 20px;
      }

      .icon-todo{
        position: absolute;
        top: 7px;
      }
    }

    .assign-todo,
    .reassign{
      .btn{
        padding-right: 25px;
      }
    }

    .success {
      position: relative;
      top: 4px;
      right: 5px;
      color: $bright;
    }
  }
}

.bulk-actions-list {
  li {
    padding: 10px;
    position: relative;
    background: #ebf4fd;
    border: 1px solid $blue;
    border-top: none;

    &:first-of-type {
      border-top: 2px solid #595758;
    }

    time {
      font-size: 11px;
      line-height: 1em;
    }

    .check-box {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;
    }

    .bulk-actions-list-content {
      position: relative;
      margin: 0 0 0 60px;
    }

    .message-item-title {
      line-height: 0.9em;
    }
  }
}
