.call-form {
  .primary {
    position: relative;

    &.is-finished {
      background-color: $dark-background;

      .checker label::after {
        border-color: $muted
      }

      &::after {
        width: 96%;
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        margin: 0 auto;
        left: 2%;
        top: 50%;
      }
    }
  }
  .success-message {
    margin-right: 10px;
  }

  &.is-expandable:not(.is-editable) .todo textarea,
  &.is-expandable:not(.is-expanded) .todo textarea,
  &.is-expandable:not(.is-editable) .contact-picker input,
  &.is-expandable:not(.is-expanded) .contact-picker input {
    cursor: pointer;
  }

  .icon-comment{
    margin-left: 5px;
  }

  &.is-expanded .contact-picker {
    border: 1px solid $control-border-color;
  }

  &.just-added .primary {
    .checker label {
      color: $green;
    }

    .todo textarea,
    .todo .mentions,
    .todo .mentions a,
    .contact-picker input {
      color: $bright;
    }

    .success {
      margin-top: 4px;
    }
  }

  &.is-expandable .primary {
    cursor: pointer
  }

  .call-control-box {
    .dropdown-toggle {
      padding-top: 0;
      padding-bottom: 0;
    }

    .caret {
      height: 19px;
    }

    .icon-call {
      font-size: 23px;
    }

    .btn-success{
      &:not(.dropdown-toggle){
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .dropdown-toggle:focus {
      outline: none;
    }
  }

  .checker {
    label {
      color: $muted;
    }

    input:not([disabled]) + label:hover {
      color: $green;
    }
  }

  .is-finished .checker {
    label {
      color: $muted;
    }
  }

  .contact-picker {
    float: left;

    input {
      width: 140px;
    }
  }

  .field.todo {
    display: inline-block;
  }
}
