.checklist-total{
  label{
    display: inline-block;
    position: relative;
    top: 3px;
    width: 40px;
    font-weight: bold;
    font-size: 18px;
  }
}
.additional-check{
  position: relative;
  top: -3px;
}

.checklist-items{
  background-color: $bright;
  border: 1px solid $dark-background;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  label{
    display: inline;
  }
  table{
    margin-top: 10px;
    margin-bottom: 10px;
    tr{
      td{
        padding: 5px;
        vertical-align: middle;

        input.field {
          margin-bottom: 0;
        }

        &.check{
          input[type=checkbox]{
            position: relative;
            top: -3px;
          }
        }
        &.is-finished{
          color: $green;
        }
        .icon-plus{
          position: relative;
          top: -2px;
        }
      }
    }
  }
}
