.checklist-total{
  label{
    display: inline-block;
    position: relative;
    top: 3px;
    width: 40px;
    font-weight: bold;
    font-size: 18px;
  }
}
.additional-check{
  position: relative;
  top: -3px;
}

.checklist-items{
  background-color: $bright;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  label{
    display: inline;
    font-size: 16px;
  }
  table{
    margin-top: 10px;
    margin-bottom: 10px;
    tr{
      td{
        padding: 5px;
        vertical-align: middle;
        line-height: 30px;

        input.field {
          margin-bottom: 0;
          height: 34px;
        }

        &.check{
          input[type=checkbox]{
            position: relative;
            top: -3px;
          }
        }
        &.is-finished{
          color: $green;
        }
        .icon-plus{
          position: relative;
          top: -2px;
        }
        &.checklist-number {
          width: 100px;
          display: inline-block;

          .field {
            float: left;
          }
          span {
            float: left;
            line-height: 44px;
            margin-left: 6px;
          }
        }
      }
    }
  }
}
