.control-box {
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 0px 2px;

  &.is-disabled,
  &.is-readonly,
  input[disabled],
  input[readonly] {
    cursor: default;
  }

  &.is-invalid .text {
    color: red;
  }

  // take the bootstrap add-on but don't bring
  // in all the crap related to it's styling
  .text {
    vertical-align: top;
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    color: $light-text;
  }

  .add-on {
    color: $light-text;
  }

  .btn-group {
    position: static;

    .dropdown-toggle:focus, .dropdown-toggle:active {
      outline: none;
    }
  }

  // everything that could possibly have
  // a style brought in from bootstrap
  .add-on, input, input:focus,
  .btn, .btn:hover, .btn:active,
  .btn-group.open .btn, 
  {
    border: none !important;
    border-radius: 0px !important;
    background-color: white;
    background-image: none;
    box-shadow: none;
  }

  .btn-group {
    .btn i, .dropdown-menu i  {
      opacity: 0.5;
    }

    .dropdown-menu {
      width: 100%;
    }
  }
}
