.control-box {
  position: relative;
  display: inline-block;
  background-color: white;
  @include border-radius(3px);

  &.is-disabled,
  &.is-readonly,
  [disabled],
  [readonly] {
    cursor: default;
    background-color: $disabled;
  }

  &.is-invalid .text {
    color: red;
  }

  // take the bootstrap add-on but don't bring
  // in all the crap related to it's styling
  .text {
    vertical-align: top;
    display: inline-block;
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
    color: $muted;
  }

  .add-on {
    color: $muted;
  }

  .btn-group {
    position: static;

    .dropdown-toggle:focus, .dropdown-toggle:active {
      outline: none;
    }
  }

  .btn-group > .btn.controlbox-dropdown:first-child {
    height: 35px;
    padding: {
      top: 5px;
      bottom: 5px;
    }
    border: none;
    @include border-radius(0 2px 2px 0);
  }

  &.field-blend-in {
    .add-on, input, input:focus,
    .btn, .btn:hover, .btn:active,
    .btn-group.open .btn {
      background-color: transparent;
    }
  }

  // everything that could possibly have
  // a style brought in from bootstrap
  .add-on, input, input:focus {
    border: none !important;
    border-radius: 0px !important;
    background-color: white;
    background-image: none;
    box-shadow: none;
  }

  .prepend-group .btn {
    border-color: transparent;
    background: none;
    @include box-shadow(none);
  }

  i {
    color: #c4c4c4;
  }

  .btn-group {
    .dropdown-menu {
      width: 100%;
    }
  }

  input {
    width: auto;
    margin-bottom: 0;
  }
}

.control-box-block-level {
  display: block;
}
