.datepicker-control-box {
  .prepend-group {
    height: 35px;

    .btn {
      height: 35px;
      padding: {
        top: 0;
        bottom: 0;
      }
      background: none !important;
      @include box-sizing(border-box);
    }
  }

  &.is-disabled > i {
    margin-left: 12px;
  }

  .text {
    padding-right: 0px;
  }

  input {
    width: 200px;
    padding-left: 0px;

    &.timepicker {
      width: 75px;
    }
  }
}