.datepicker-control-box {

  .prepend-group {
    height: inherit;
    float: left;
    margin-left: 10px;

    .btn {
      height: inherit;
      padding: {
        top: 0;
        bottom: 0;
      }
      background: none !important;
      @include box-sizing(border-box);
    }
  }

  &.is-disabled > i {
    margin-left: 12px;
  }

  .text {
    padding-right: 0px;
  }

  input {
    width: calc(100% - 42px);
    float: left;
    padding-left: 0px;

    &.timepicker {
      width: 75px;
    }
  }
}

.datepicker.dropdown-menu {
  z-index: 99999;
}

.datepicker {

  .switch {
    display: table-cell;
  }
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.date-timepicker-component {

  .date-picker-component {
    float: left;
    width: 240px;
    height: 44px;
    line-height: 44px;
    margin-left: 10px;
    background: white;

    .text {
      float: left;
      line-height: inherit;
    }
    .date-picker {
      width: calc(100% - 90px);
      margin-left: 10px;
      height: inherit;
    }
  }
  .time-picker {
    float: left;
    margin-left: 10px;
    width: 140px;
    height: 44px;
    line-height: 44px;
    background: white;

    input {
      height: inherit !important;
    }
  }
}