select:focus{
  outline: none;
}
.deals-new-view{
  .checklist.block{
    padding-bottom: 0;
    padding-top: 5px;
    margin-bottom: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    .checklist-forecast{
      position: relative;
      top: 10px;
    }
    h1{
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
      line-height: 26px;
      text-transform: uppercase;
      position: relative;
      top: -9px;
      margin-right: 5px;
      color: $muted;
    }

    .progress.progress-info{
      display: inline-block;
      width: 40%;
      height: 31px;
    }

    .checklist-plus{
      display: inline-block;
      vertical-align: top;
      .btn{
        height: 22px;
      }
      .btn, .btn:focus {
        outline: none;
      }
    }

    .total{
      position: absolute;
      top: 5px;
      left: 155px;
      font-size: 24px;

      &.white{
        color: #fff;
      }
    }
  }

  .checklist-items-container{
    display: none;
    margin-bottom: 16px;
  }

  .negotitating{
    position: relative;
    top: -1px;
  }

  hr{
    border-top: 1px solid $dark-background;
    border-bottom: 1px solid $dark-background;
  }

  .add-files{
    padding: 3px 60px 3px 60px;
  }

  .controls {
    a{
      position: relative;
      top: 5px;
    }
  }

  .switch-container{
    display: inline-block;
    .toggle-switch{
      input[type="checkbox"] + div {
        width: 6em;
      }

      input[type="checkbox"] + div:before {
        content: 'Published';
        text-indent: -6.5em;
      }

      input[type="checkbox"] + div:after{
        content: 'Draft';
      }

      input[type="checkbox"]:checked + div {
        // these numbers must add up to the width
        // of the unchecked div
        padding-left: 5em;
        width: 1em;
      }

      input[type="checkbox"]:checked + div {
        background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent),
          -webkit-linear-gradient(0deg, #30F567 50%, transparent 50%);
      }

      input[type="checkbox"] + div {
        background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent),
          -webkit-linear-gradient(0deg, #FFF500 50%, transparent 50%);
        background-position: 0, 0;
      }

      input[type="checkbox"] + div:after {
        color: #494949;
      }
    }
  }

  .secondary{
    margin: 0;
    width: auto;
    background-color: $background;
    border: solid 1px $dark-background;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    h3{
      margin-left: -5px;
      i{
        font-size: 20px;
        position: relative;
        top: -1px;
      }
    }
  }

  .combobox{
    line-height: 23px;
  }

  fieldset{
    margin-left: 2px;
  }

  .controls{
    margin-left: 0;
  }

  .control-label{
    text-align: left;
    width: 110px;
  }

  .actions{
    width: 50%;
    margin-right: 41px;
    .btn{
      padding: 5px 60px 5px 60px;
    }
  }
}
