.deals-new-view{
  span.checklist{
    font-weight: bold;
    font-size: 18px;
  }

  .checklist.block{
    margin-bottom: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    .checklist-title,.checklist-total{
      display: inline-block;
    }
    .checklist-title{
      vertical-align: bottom;
    }
    .checklist-total{
      position: relative;
      top: -11px;
      h1{
        display: inline;
        margin-right: 20px;
      }
      button{
        position: relative;
        top: -10px;
      }
    }
  }

  .checklist-items{
    display: none;
    margin-bottom: 0;
    position: relative;
    width: 97%;
    label{
      display: inline;
    }
    .checks, .forecast{
      display: inline-block;
    }
    .forecast{
      vertical-align: top;
      text-align: center;
      margin-right: 8px;
      .completed, .current{
        margin: 10px 0 10px 0;
      }
    }
    table{
      display: inline-block;
      tr{
        td{
          padding: 5px;

          &.check{
            input[type=checkbox]{
              position: relative;
              top: -3px;
            }
          }
          &.is-finished{
            color: $green;
          }
        }
      }
    }
  }

  .btn-success{
    padding: 3px 40px 3px 40px;
  }

  .secondary{
    margin: 0;
    width: auto;
    background-color: $background;
    border: solid 1px $dark-background;
    padding: 10px;
    width: 95%;
    margin: 0 auto;

    h3{
      margin-left: -5px;
      i{
        font-size: 20px;
        position: relative;
        top: -1px;
      }
    }
  }

  .combobox{
    border: 1px solid $control-border-color;
  }

  fieldset{
    margin-left: 2px;
  }

  .controls{
    margin-left: 0;
  }

  .control-label{
    text-align: left;
    width: 110px;
  }
}
