.discussion-form {
  .primary {
    position: relative;
    i {
      display: block;
      float: left;
      margin-top: 6px;
    }

    .textbox {
      margin-left: 40px;
    }
  }

  .second-row {
    position: relative;
    text-align: right;
  }

  &:not(.is-new){
    .second-row{
      padding-bottom: 33px;
    }
  }

  &.just-added {
    .textbox textarea,
    .textbox .mentions,
    .textbox .mentions a {
      color: $bright;
    }

    .primary i {
      color: $green;
    }
  }
}
