.discussion-form {
  .primary {
    position: relative;

    .textbox {
      margin-left: 60px;
    }
  }

  .second-row {
    position: relative;
  }

  .hint {
    margin-left: 60px;
    padding-right: 15px;
    overflow: hidden;
    @include box-sizing(border-box);
  }

  &.just-added {
    .textbox textarea,
    .textbox .mentions,
    .textbox .mentions a {
      color: $bright;
    }

    .primary i {
      color: $green;
    }
  }
}
