.dropdown-menu {
  padding: 0;
  border-radius: 0px;
  border: solid 1px $control-border-color;

  li {
    font-size: 16px;

    a {
      font-weight: normal;
      line-height: 30px;

      &:hover {
        cursor: pointer;
        background-color: $selected-item;
        background-image: none;
        color: inherit;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .btn-group > & > li > a {
    font-weight: normal;
  }
}
