.email-history .sender-avatar .avatar {
  border-radius: 3px;
}

.iframe-container {
  margin-bottom: 10px;
}
.email-options-left {
  float: left;
  display: inline-block;

  a.btn {
    margin-right: 15px;

    i {
      margin-right: 0;
    }
  }
}
.email-options-right {
  display: inline-block;
  float: right;
  
  a.btn {
    margin-left: 15px;

    i {
      margin-right: 0;
    }
  }
}

.span1.sender-avatar.not-user {
  margin-left: 0;
  margin-right: 22px;

  strong a{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.span9 {
	position: relative;
}
.span9.sender-is-current-user:after, .span9.sender-is-current-user:before {
  left: 99%;
  top: 55px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.span9.sender-is-current-user:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 16px;
  margin-top: -10px;
}

.span9.sender-is-current-user:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #dbdbdb;
  border-width: 16px;
  margin-top: -10px;
}

.span9.not-from-user:after, .span9.not-from-user:before {
  right: 99%;
  top: 55px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.span9.not-from-user:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #fff;
  border-width: 16px;
  margin-top: -10px;
}
.span9.not-from-user:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5;
  border-width: 16px;
  margin-top: -10px;
}

.email-thread-item {
  margin: 0 0 40px;
}

.email-nav {
  width: 35%;
  position: fixed;
  left: 80%;
  margin: 0 0 0 -37.5%;
  z-index: 300;
  background: #000;
  height: 30px;
  color: white;
  opacity: 0.7;
  text-align: center;

  .controls {
    text-align: center;
  }

  .nav {
    cursor: pointer;
    padding: 5px 1em;
    opacity: 0.92;
    z-index: 1009;
    font-weight: bold;
    font-size: 20px;
  }
  p {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 5px;

    span {
      color: #fff;
      margin-left: 7px;
      font-weight: 600;
    }
  }
}

.email-item-actions {
  .block-arrow-top{
    margin-top: 35px;
  }

  .input-append {
    margin-bottom: 0;
  }

  .combobox {
    input[type=text] {
      width: 250px;
    }
  }
}

.email-item-main-actions {
  margin: 0px 0 0;
}

#email-body-iframe{
  width: 100%;
  border: 0;
}

.email-item-related-tasks {}

.email-item-attachments {
  .file-name {
    color: $text;
  }

  a i {
    color: $muted;
  }
}

.email-card {
  padding-top: 15px;
  padding-bottom: 15px;

  .text {
    overflow-x: hidden;
  }

  &.not-from-user {
    background-color: #fff;
  }
}

.forms-email-view {
  a {
    text-decoration: none;
  }

  .recipients {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;

    label {
      width: 70px;
      margin: 0 0 0 20px;
      float: left;
      cursor: default;
      line-height: 35px;
      color: #6e6e6e;
    }

    .toggles {
      line-height: 30px;
    }
  }

  .subject {
    width: 80%;
  }

  .autocomplete.is-invalid{
    border: none;
  }

  .body textarea {
    min-height: 200px;
    resize: none;
  }
}

.email-title {
  margin: 0;
  line-height: 25px;

  .sender-avatar {
    margin-right: 10px;
  }
  .sender {
    font-weight: normal;
  }
}

.email-header {
  margin: 0 0 20px;
  padding: 0 0 20px;
}

.email-header-actions {
  .close {
    float: none;
  }

  .btn-group, .btn-primary {
    display: block;
  }

  .btn-group {
    margin-top: 5px;
  }

  .btn-primary, .btn-danger {
    float: right;
    margin-bottom: 5px;
  }

  .btn-link {
    text-align: right;
  }
}

.email-details {
  dl.dl-horizontal {
    dt {
      width: 50px;
      text-align: left;
      color: $muted;

      &:after {
        content: ":";
      }
    }

    dd {
      margin-left: 60px;
    }
  }
}

.email-compose-footer {
  border-top: 1px solid #dddddd;
}

.new-message-block {
  @extend .block;
  padding: 0;

  textarea.input-block-level {
    padding: 0;
  }
}

.new-message-row {
  margin: 0 30px;
  padding: 15px 0;

  &.block-blue,
  &.block-gray {
    margin: 0;
    padding: {
      right: 30px;
      left: 30px;
    }
    border-top: 1px solid #ddd;
  }

  &.add-deal{
    border: 1px solid #ddd;
    border-radius: 16px;
  }
}

.new-message-compose {
  padding-top: 20px;

  textarea {
    min-height: 230px;
  }
}

.check-response-label {
  margin: 0 10px 0 0;
  float: left;
  line-height: 35px;
}

.check-response-datepicker {
  input {
    width: 70px;
  }
}

.email-item-form-box {
  margin: 15px 0 0;
  padding: 0;

  form {
    margin: 0;
  }

  .form-box {
    margin: 0;
  }

  .form-box-controls {
    position: absolute;
    right: 10px;
    display: none;
  }

  .form {
    .primary {
      margin: {
        right: 15px;
        left: 15px;
      }
      border: none;
      @include box-shadow(none);
    }
  }

  .expanded-fields {
    margin: 0;
    background: $calendar-active-bg;
    border: none;
    border-top: 1px solid #ddd;
    @include box-shadow(none);
    @include border-radius(0);
  }
}

.initial-importing{
  padding: 10px 30px;
  position: fixed;
  top: 75px;
  right: 20px;
  left: 426px;
  z-index: 99;
  @include box-sizing(border-box);
  @include box-shadow(0 2px 2px rgba(black, 0.25));
}

// Email HUD
.email-hud {
  margin: 0 0 10px;
  padding: 15px;
  background-color: white;

  &.is-private {
    color: #fff;
    background: #313131;
  }

  .btn-link {
    padding-left: 0;
    color: $blue;
    text-shadow: none;
  }
}

.email-hud-actions {
  .btn-add-to-radium {
    margin-top: 15px;
  }
}

.email-hud-content {
  padding-left: 80px;

  .contact-deals-table tr td{
    padding: 2px 10px 2px 0;
  }
}

.email-hud-title {
  margin: 0;
}

.emails-show-view {
  position: relative;
}

#sendMenu{
  .time-picker, .picker-submit{
    display: block;
  }
}

.check-response{
  margin-top: 10px;
}

.badge-info {
  a {
    color: #fff;
    &:not(.pull-right){
      line-height: 20px;
      font-size: larger;
    }

    &.pull-right {
      margin-left: 5px;
      font-size: larger;
      position: relative;
      top: -5px;
      cursor: pointer;
    }
  }
}

.badge-email-deal {
  max-width: 60px;
  position: relative;
  padding-right: 20px;
  @include border-radius(40px);

  a {
    line-height: inherit !important;
  }

  .close {
    float: none;
    top: 0;
    right: 5px;
    position: absolute;
    line-height: 15px !important;
    line-height: 15px !important;
    color: #fff;
    opacity: 0.5;
  }
}

.updating-blinker {
  color: $red;
  font-weight: bold;
  @include add-blinker;
}


.email-thread-item {
  .email-card {
    display: inline-block;

    .avatar-wrap {
      margin: 0;
      padding-left: 15px;
    }

    .email-wrap {
      float: right;

      .email-sender {
        display: inline-block;
        float: left;
        padding-left: 8px;
        padding-top: 10px;

        strong {
          font-size: 18px;
        }
      }
      .email-header-actions {
        display: inline-block;
      }
    }
  }

  .email-options {
    background: #f9f9f9;
    padding: 10px 20px;
    border: solid 1px #dbdbdb;
  }
}

#email-body-iframe body {
  margin: 0;
}


