.email-form-component, .template-editor-component {
  input[type=text] {
    height: 29px;
    border-radius: 0px;
  }

  .email-form {
    top: 20% !important;
    border-radius: 0px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    outline: none;
  }

  .email-form .email-form-header {
    border-bottom: 0px;
    padding-bottom: 4px;
    padding-left: 16px;
    margin-bottom: -15px;

    h3 {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      padding-left: 5px;
    }

    .type-toggle {
      display: inline-block;
      float: right;
      position: relative;
      top: 23px;

      a {
        color: $blue;
        font-weight: 500;
        text-decoration: underline;
      }
      .active {
        color: #333;
        text-decoration: none;
      }
    }

    .info {
      float: right;
      position: relative;
      top: 25px;
      margin-right: 10px;
      margin-left: 10px;
      color: #999;
    }
  }

  .email-form-body {
    max-height: none;
    position: static;
    padding: 15px;
  }

  .recipients {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;

    label {
      margin: 0 10px 0 27px;
      float: left;
      cursor: default;
      line-height: 35px;
      color: #6e6e6e;
    }

    .toggles {
      line-height: 30px;
    }
  }

  .recipients a {
    text-decoration: underline;
    color: $blue;
    font-weight: 500;
  }

  .field.control-box.control-box-block-level.recipients.cc .subject {
    width: 80%;
    border: none;
  }

  .autocomplete.is-invalid{
    border: none;
  }

  .body textarea {
    min-height: 200px;
    resize: none;
  }

  .message {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
  }

  .subject-wrap {
    position: relative;
    display: inline-block;
    float: left;
  }

  .more-options {
    display: inline-block;
    height: 35px;
    margin-bottom: 15px;
    float: right;
    vertical-align: bottom;
    line-height: 35px;
  }

  .email-form.single-mode .email-form-body .message .more-options a {
    color: #666;
    margin-left: 9px;
  }

  .textbox-wrap {
    position: relative;
    width: inherit;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  input[type=text].subject {
    width: 420px;
  }

  .message .more-options .btn-group {
    font-size: 12px;
  }

  .dropdown-submenu > .dropdown-menu {
    left: -100%;
  }

  .note-toolbar {
    display: none;
    position: absolute;
    bottom: -36px;
    left: -4px;
  }

  .note-editable.placeholder:after {
    content: "Hi {name}";
    position: absolute;
    top: 10px;
    color: #a9a9a9;
  }

  .note-editable .template-item {
    color: $white;
    display: inline-block;
    background: #e9e9e9;
    padding: 0 5px;
    border: 1px solid #ccc;
    margin: 0 3px;
    color: #000;
    font-size: 14px;
    border-radius: 12px;
    font-weight: normal;
    span {
      cursor: pointer;
    }
  }

  .textbox-wrap .prompt {
    width: inherit;
    background: #f9f9f9;
    display: inline-block;
    width: 99.8%;
    bottom: 0;
    border-top: 1px solid #eee;
    text-align: center;
    padding: 4px 0;
    margin-bottom: 1px;
    border-right: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
  }

  .message .textbox-wrap .prompt .cancel {
    position: absolute;
    right: 7px;
    font-size: 11px;
    color: #aaa;
  }

  .bulk .recipients.bulk-recipients-component {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 0px;
    overflow-y: scroll;
    background: aliceblue;
    border: 1px solid #ccc;
    border-radius: 0px;
    max-height: 105px;
    min-height: 50px;
  }

  .bulk .recipients .item {
    padding: 4px 15px 4px 10px;
    line-height: 2em;
    display: inline-block;
    width: calc(100% - 25px);
    border-bottom: 1px solid #e9e9e9;
    display: inline-block;
    float: left;
  }

  .bulk .recipients .item .list {
    display: inline-block;
    float: left;
    background: #BFD9F7;
    border: 1px solid #92BDF2;
    height: calc(2em - 2px);
    padding: 0 10px;
    border-radius: 3px;
  }

  .bulk .recipients .item .name {
    display: inline-block;
    float: left;
    margin: 0 0 0 10px;
  }

  .bulk .recipients .item .helper {
    display: none;
    float: left;
    margin-left: 10px;
  }

  .recipients .item .count {
    background: #92BDF2;
    padding: 2px 5px;
    border-radius: 25px;
    margin-left: 7px;
    font-weight: 600;
    font-size: 12px;
    vertical-align: top;
  }

  .recipients .item .count {
    margin: 0 2px 0 2px;
  }

  .recipients .item:hover .helper {
    display: inline-block;
  }

  .bulk .recipients .item .remove {
    display: inline-block;
    color: #ccc;
    float: right;
    font-size: 12px;
  }

  .bulk ul.as-selections li.as-selection-item {
    display: none;
  }

  .follow-up {
    display: inline-block;
    line-height: 30px;

    &.bulk-mode {
      visibility: hidden;
    }
  }

  .actions {
    margin-top: 25px;
  }

  .actions .follow-up .dropdown {
    display: inline-block;
    margin-left: 3px;
    position: static;
  }

  .actions .follow-up .dropdown .drop {
    text-decoration: none;
    background-color: #fff;
    padding: 5px 11px;
    margin: 2px 0 0 2px;
    line-height: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  .actions .follow-up input[type=checkbox] {
    margin-top: -1px;
    margin-right: 5px;
  }

  .actions .follow-up .dropdown span.inactive {
    padding-right: 3px;
    color: #333;
  }

  .actions .follow-up .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  .actions .follow-up label {
    display: inline;
  }

  .actions .btn-send {
    float: right;
    position: static;

    .dropdown-menu {
      top: auto;
      left: auto;
    }
  }

  .send-later {
    height: auto;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 9999;
    display: none;
    width: 30%;
    right: 95px;
  }

  .send-later .datepicker-wrap .datepicker {
    background: #f9f9f9;
    padding: 15px 0 10px;
    width: 100%;
  }

  .send-later .datepicker-wrap .datepicker .date-timepicker-component {
    background: #f9f9f9;
    display: block;
  }

  .send-later .datepicker-wrap .datepicker .date-timepicker-component .control-box.timepicker {
    position: relative;
    top: 4px;
  }

  .send-later .datepicker-wrap .datepicker .date-timepicker-component .submit {
    visibility: hidden;
  }

  .datepicker-wrap .confirm {
    text-align: center;
    padding: 10px 0;
  }

  .datepicker-wrap .text {
      font-size: 12px;
  }

  .datepicker-wrap .date-confirm {
    font-weight: 600;
  }

  .datepicker-wrap .submit {
    text-align: center;
    padding: 5px 0 15px;
  }

  .upload-filelist-component {
    margin-top: 45px;
  }
}

.template-editor-component .actions {
  float: right;
}

.template-editor-component .subject-wrap input[type=text].is-invalid {
  border-color: $red;
}