.forms-email-view{
  background-color: $light-background;
  padding: 5px;

  .block.context{
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  .form{
    margin: 0;
  }

  .recipients{
    border: 1px solid transparent;
    position: relative;
    &.is-invalid{
      border: 1px solid red;
    }
  }

  hr{
    margin: 0;
  }

  .to{
    position: absolute;
    font-weight: bold;
    left: 5px;
  }

  .autocomplete{
    margin-left: 26px;
    margin-right: 70px;

    &.field{
      border: 0;
    }

    ul.as-selections{
      &.loading{
        background-color: $bright;
      }
      li.as-selection-item{
        margin-top: -1px;
      }
    }

    ul.as-list{
      margin-top: -10px;
    }
  }

  .cclist .autocomplete{
    margin-left: 35px;
  }

  .bcclist .autocomplete{
    margin-left: 45px;
  }

  .bboptions{
    background-color: $bright;
    position: absolute;
    right: 10px;
  }

  .to, .bboptions{
    font-size: 17px;
    top: 17px;
  }

  .subject, .body{
    padding: 2px 5px 2px 5px;
    textarea{
      width: 100%;
      padding-left: 30px;
      border-color: transparent;
      box-sizing: border-box;
      height: 30px;
      margin: 0;
      resize: none;
      outline: none;
    }
  }

  .subject{
    div:first-of-type{
      position: absolute;
      top: 9px;
      left: 3px;
    }
  }

  .body{
    textarea{
      padding-left: 5px;
      height: 110px;
      margin-bottom: 30px;
    }

    .check-response{
      position: absolute;
      bottom: 61px;
    }

    .signature{
      position: absolute;
      right: 20px;
      bottom: 63px;
    }

    .send{
      text-align: right;
      margin-right: 13px;

      .btn{
        border-radius: 0;
      }

      .btn-success{
        padding-left: 27px;
        padding-right: 27px;
      }
    }

    input[type=number]{
      width: 35px;
      position: relative;
      top: 4px;
    }

    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    a.btn{
      position: relative;
      top: -3px;
    }
  }
}

