.email-form-component, .template-editor-component {
  margin-top: 66px;
  max-width: 1000px;

  input[type=text] {
    height: 29px;
    border-radius: 0px;
  }

  .email-form {
    top: 20% !important;
    border-radius: 0px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    outline: none;
  }

  .email-form .email-form-header {
    border-bottom: 0px;
    display: inline-block;
    width: 100%;
    padding: 20px 0 0;

    h3 {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      padding-left: 5px;
    }

    .type-toggle {
      display: inline-block;
      float: right;

      a {
        color: $blue;
        font-weight: 500;
        text-decoration: underline;
      }
      .active {
        color: #333;
        text-decoration: none;
      }
    }

    .info {
      float: right;
      margin-right: 10px;
      margin-left: 10px;
      color: #999;
    }
  }

  .email-form-body {
    max-height: none;
    position: static;
    padding: 10px 15px;

    .addresses {

      .autocomplete {
        padding: 0;
      }
    }

    .as-selections {
      line-height: 50px;
      min-height: 50px;

      li {
        float: left;

        input {
          height: 50px !important;
          line-height: 50px !important;
        }
        &.as-selection-item {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .control-box {

      .autocomplete {
        padding: 0;
      }
    }

    h5 {
      font-weight: 400;
    }
  }

  .note-statusbar {
    background: white;
  }

  .recipients {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    line-height: 50px;
    height: 50px;

    label {
      margin: 0 10px 0 10px;
      float: left;
      cursor: default;
      line-height: 50px;
      color: #6e6e6e;
    }

    .toggles {
      line-height: 50px;
      margin-right: 10px;
    }
  }

  .recipients a {
    text-decoration: underline;
    color: $blue;
    font-weight: 500;
  }

  .field.control-box.control-box-block-level.recipients.cc .subject {
    width: 80%;
    border: none;
  }

  .autocomplete.is-invalid{
    border: none;
  }

  .body textarea {
    min-height: 200px;
    resize: none;
  }

  .message {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    position: relative;


  }

  .subject-wrap {
    width: calc(100% - 110px);
    position: relative;
    display: inline-block;
    // IF YOU USE FLOAT: LEFT HERE THE RICH TEXT EDITOR IN THE EMAIL FORM SCREWS UP

    .combobox {
      line-height: 50px;
      height: 50px;
    }
    .add-on {
      position: absolute;
      right: 0;
    }
  }

  .more-options {
    display: inline-block;
    height: 50px;
    margin-bottom: 15px;
    float: right;
    vertical-align: bottom;
    line-height: 50px;
    position: absolute;
    top: 8px;
    right: 0;
  }

  .email-form.single-mode .email-form-body .message .more-options {

    a {
      color: #666;
      margin-left: 9px;
      text-align: left;
      padding-left: 5px;
    }
  }


  .textbox-wrap {
    position: relative;
    width: inherit;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .subject-wrap .autocomplete-textbox-component.autocomplete-textbox.field{
    width: 100% !IMPORTANT;
  }

  input[type=text].subject, input[type=text].combobox {
    width: calc(100% - 30px);
  }

  .message .more-options .btn-group {
    font-size: 12px;
  }

  .dropdown-submenu > .dropdown-menu {
    left: -100%;
  }

  .note-toolbar {
    display: none;
    position: static;
    bottom: -36px;
    left: -4px;

    .dropdown-toggle {
      padding: 4px 5px 3px;

      i {
        top: 5px;
        margin-right: 0;
      }
    }
    button {
      padding: 8px 10px;
    }
    .tooltip {
      display: none !important;
    }
  }

  .toolbar-open + textarea + .note-editable:after {
    display: none;
  }

  .note-editable.placeholder:after {
    content: "Hi {name}";
    position: absolute;
    top: 10px;
    color: #a9a9a9;
  }

  .note-editable {
    width: 100%;
  }

  .textbox-wrap .prompt {
    width: inherit;
    display: inline-block;
    width: 99.8%;
    bottom: 0;
    border-top: 1px solid #eee;
    text-align: center;
    padding: 4px 0;
    margin-bottom: 1px;
    border-right: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    color: $blue;
  }

  .message .textbox-wrap .prompt .cancel {
    position: absolute;
    right: 7px;
    font-size: 11px;
    color: #aaa;
  }

  .bulk .recipients.bulk-recipients-component {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 0px;
    overflow-y: scroll;
    background: aliceblue;
    border: 1px solid #ccc;
    border-radius: 0px;
    max-height: 105px;
    min-height: 50px;
    height: auto;
  }

  .bulk .recipients .item {
    padding: 4px 15px 4px 10px;
    line-height: 2em;
    display: inline-block;
    width: calc(100% - 25px);
    border-bottom: 1px solid #e9e9e9;
    display: inline-block;
    float: left;
  }

  .bulk .recipients .item .list {
    display: inline-block;
    float: left;
    background: #BFD9F7;
    border: 1px solid #92BDF2;
    height: calc(2em - 2px);
    padding: 0 10px;
    border-radius: 3px;
  }

  .bulk .recipients .item .name {
    display: inline-block;
    float: left;
    margin: 0 0 0 10px;
  }

  .bulk .recipients .item .helper {
    display: none;
    float: left;
    margin-left: 10px;
  }

  .recipients .item .count {
    background: #92BDF2;
    padding: 2px 5px;
    border-radius: 25px;
    margin-left: 7px;
    font-weight: 600;
    font-size: 12px;
    vertical-align: top;
  }

  .recipients .item .count {
    margin: 0 2px 0 2px;
  }

  .recipients .item:hover .helper {
    display: inline-block;
  }

  .bulk .recipients .item .remove {
    display: inline-block;
    color: #ccc;
    float: right;
    font-size: 12px;
  }

  .follow-up {
    display: inline-block;
    line-height: 30px;

    &.bulk-mode {
      visibility: hidden;
    }
    .check {
      display: inline-block;
      margin-right: 8px;
    }
    .date-picker {
      height: 50px;
    }
  }

  .actions {
    display: inline-block;
    width: 100%;
    line-height: 44px;
  }

  .actions .follow-up .dropdown {
    display: inline-block;
    margin-left: 3px;
    position: static;
  }

  .actions .follow-up .dropdown .drop {
    text-decoration: none;
    background-color: #fff;
    padding: 5px 11px;
    margin: 2px 0 0 2px;
    line-height: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  .actions .follow-up input[type=checkbox] {
    margin-top: -1px;
    margin-right: 5px;
  }

  .actions .follow-up .dropdown span.inactive {
    padding-right: 3px;
    color: #333;
  }

  .actions .follow-up .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  .actions .follow-up label {
    display: inline;
  }

  .actions .btn-send {
    float: right;
    position: static;

    .dropdown-menu {
      top: auto;
      left: auto;
    }
  }

  .actions .cancel {
    float: right;
    margin-right: 10px;
  }

  .send-later {
    height: auto;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 9999;
    display: none;
    width: auto;
    right: 30px;
    margin-top: -70px;

    button {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
    .leader {
      display: none;
    }
  }

  .send-later .datepicker-wrap .datepicker {
    background: #f9f9f9;
    padding: 15px 0 15px;
    width: 100%;
    height: 46px;
  }

  .send-later .datepicker-wrap .datepicker .date-timepicker-component {
    background: #f9f9f9;
    display: block;
  }

  .send-later .datepicker-wrap .datepicker .date-timepicker-component .submit {
    visibility: hidden;
  }

  .datepicker-wrap .confirm {
    text-align: center;
    padding: 10px 0;
  }

  .datepicker-wrap .text {
      font-size: 12px;
  }

  .datepicker-wrap .date-confirm {
    font-weight: 600;
  }

  .datepicker-wrap .submit {
    text-align: center;
    padding: 5px 0 15px;
  }

  .upload-filelist-component {
    margin-top: 45px;
  }

  .subject-wrap {
    line-height: 50px;
    height: 50px;
  }
}

.template-editor-component .actions {
  float: right;
}

.template-editor-component .subject-wrap input[type=text].is-invalid {
  border-color: $red;
}

.template-item {
  display: inline-block;
  background: #e9e9e9;
  padding: 0 5px;
  border: 1px solid #ccc;
  margin: 0 3px;
  color: #000;
  font-size: 14px;
  border-radius: 12px;
  font-weight: normal;
  span {
    cursor: pointer;
  }
}

.template-editor-component .actions .cancel {
  float: none;
}

.addressbook-view .subhead ul.as-selections li.as-selection-item,
.email-form-component  .bulk ul.as-selections li.as-selection-item {
  display: none;
}
