// Bring in the crazy bootstrap selector
// to override it
textarea.field,
input[type="text"].field,
input[type="password"].field,
input[type="datetime"].field,
input[type="datetime-local"].field,
input[type="date"].field,
input[type="month"].field,
input[type="time"].field,
input[type="week"].field,
input[type="number"].field,
input[type="email"].field,
input[type="url"].field,
input[type="search"].field,
input[type="tel"].field,
input[type="color"].field,
.uneditable-input.field,

.field {
  border: solid 1px $control-border-color;
  @include border-radius(4px);
  @include box-shadow(none);
  @include transition(border linear 0.2s);

  &.is-valid {
    border-color: $valid-input-border;
  }

  &.is-invalid {
    border-color: red;
  }

  &.field-blend-in {
    background-color: transparent;
    border-color: transparent;

    &[disabled], &[readonly] {
      color: $muted;
    }

    &.is-invalid {
      border-color: red;
    }
  }

  &.is-disabled,
  &.is-readonly,
  &[disabled],
  &[readonly] {
    cursor: default;
  }

  &.field-block {
    display: block;
  }
}
