.multiple-field{
  border: 1px solid red;
  display: inline-block;

  .btn, .btn:focus {
    outline: none;
  }

}
.leads-view{
  h1{
    margin-bottom: 40px;
  }
  a.btn-large{
    margin-right: 20px;
  }
  a.single{
    padding-left: 50px;
    padding-right: 50px;
  }

  fieldset{
    margin-top: 30px;
    margin-left: 2px;
    .control-group{
      margin-bottom: 10px;
    }
    .control-label{
      text-align: left;
      width: 110px;
    }
    .controls{
      margin-left: 0;
    }
    .existing{
      margin-top: 20px;
      margin-left: 102px;
      span{
        color: $blue;
      }
      > div{
        margin-top: 10px;
      }
      .btn-success{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
