.text-area{
  box-sizing: border-box;
  height: 30px; // set initial height to one row of text
  margin: 0;
  resize: none;
}

.new-leads-control {
  margin: 20px 0;
  overflow: hidden;
}

.selector{
  margin-top: 5px;
}

.leads-view{
  margin-top: 45px;
  h1{
    i{
      font-size: 28px;
    }
  }
  a.btn-large{
    margin-right: 20px;
  }
  a.single{
    padding-left: 50px;
    padding-right: 50px;
  }

  .saving{
    margin-left: auto;
    margin-right: auto;
    width: 63%;
  }

  table.deals{
    width: 50%;
    th:nth-of-type(2), td:nth-of-type(2){
      text-align: center;
    }
  }

  #makeLead{
    margin-right: 50px;
  }

  ul.dropdown-menu{
    li{
      position: relative;
      padding: 2px;
      a{
        img{
          position: absolute;
          right: 7px;
          top: 7px;
        }
      }
    }
  }

  .typeahead{
    &.dropdown-menu{
      width: 350px;
      img{
        margin-left: 5px;
      }
    }
  }

  .autocomplete{
    ul.as-selections{
      width: 519px;
      padding: 3px 5px;
      border: 1px solid $control-border-color;
      @include border-radius(4px);
    }
  }

  .tab-content{
    overflow: visible;
  }

  .secondary{
    margin: 0;
  }

  fieldset{
    position: relative;
    margin-top: 30px;
    margin-left: 2px;

    a.close{
      position: absolute;
      right: 5px;
      top: 0px;
    }

    hr{
      border-top: 1px solid $dark-background;
      border-bottom: 1px solid $dark-background;
    }

    .control-group{
      margin-bottom: 20px;
    }
    .control-label{
      text-align: left;
      width: 110px;
    }

    .contact-name{
      &.is-valid{
        border-color: $valid-input-border;
      }
      .control-box{
        border: none;
      }
      span.text{
        color: $green;
      }
    }

    .controls.is-invalid input[type=email],
    .control-box.is-invalid{
      border-color: red;
    }

    .controls{
      margin-left: 150px;
    }

    label.type{
      position: relative;
      top: -2px;
    }

    .addresses{
      > div {
        margin-bottom: 10px;
      }
      .whole{
        display: block;
      }
      .broken{
        input.state{
          width: 125px;
        }
        input.zip{
          width: 127px;
        }
      }
    }

    .contact-detail,.address-section{
      display: none;
    }

    .existing{
      display: none;
      margin-top: 20px;
      margin-left: 113px;
      margin-bottom: 10px;
      span{
        color: $blue;
      }
      > div{
        margin-top: 10px;
      }
      .btn-success{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.leads-new-view{
  &.disabled-content{
     .multiple-field .add-new .ss-plus{
      display: none;
    }
  }
}

.new-lead-form {
  label {
    font-weight: bold;
    color: #6e6e6e;
  }

  .control-box input.ember-text-field {
    min-width: 300px;
  }
}

// Import forms
.import-match-form {

}

.match-columns-title {
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid #E5E5E5;
}

.preview-title {
  margin-left: 374px;
}

.preview-inline {
  margin-left: 15px;
}

.match-additonal-column-options {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 30px;

  > span {
    margin-right: 15px;
  }

  .radio.inline {
    padding-top: 0;

    input[type="radio"] {
      margin-top: 3px;
    }
  }
}

.match-summary-item {
  margin: 40px 0;

  .media-heading {
    i {
      position: relative;
      top: 2px;
    }
  }
}

.match-summary-total {
  font: {
    size: 45px;
    weight: bold;
  }
  line-height: 1em;
}

.match-errors-table {
  pre {
    margin: 0;
  }
}