.modal {
  background:#fff;
  margin-top:-250px;
  position:absolute;
  top:-50%;
  width:80%;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,.25) 0 3px 7px);
  @include transition(all 0.8s ease-in-out);

  &.open{
    top:50%;
    @include transition(all 0.4s ease-in-out);
  }

  .header, .footer{
    background: $light-background;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
  }

  .footer{
    @include border-radius(0px 0px 5px 5px);
  }

  .main, .header, .footer{
    padding:15px;
    z-index:200;
  }

  h2{
    margin:0;
  }
}
