.multiple-field{
  padding: 5px;
  @include box-sizing(border-box);

  &.is-primary {
    background-color: $background;
  }

  label{
    display: inline;
  }

  button.btn{
    width: 100px;
  }

  input[type=radio]{
    position: relative;
    top: -2px;
    padding: 0 5px 0px 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn, .btn:focus {
    outline: none;
  }

  .add-new{
    a{
      text-decoration: none;
    }
  }

  input[type="text"],
  input[type="email"] {
    &.masked.is-invalid {
      border: 1px solid red;
    }
  }

  .controls {
    margin-bottom: 5px;
  }

  .selector {
    label {
      display: inline;
    }
  }

  .primary-label {
    display: inline-block;
  }
}