.toggle-switch {
  label {
    font-size: 100%;
    display: inline;
  }

  &.muted {
    label {
      color: $muted;
    }
  }

  input[type="checkbox"] { /* :root here acting as a filter for older browsers */
    position: absolute;
    opacity: 0;
  }

  input[type="checkbox"] + div {
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 1em;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 999px;
    margin: 0 .5em;
    background: white;
    background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent),
      -webkit-linear-gradient(0deg, hsl(210, 90%, 60%) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-origin: border-box;
    background-clip: border-box;
    overflow: hidden;
    -webkit-transition-duration: .4s;
    -webkit-transition-property: padding, width, background-position, text-indent;
    box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset, 0 .45em 0 .1em rgba(0,0,0,.05) inset;
    font-size: 130%; /* change this and see how they adjust! */
  }

  &.large input[type="checkbox"] + div {
    font-size: 170%;
  }

  &.xxlarge input[type="checkbox"] + div {
    font-size: 190%;
  }

  input[type="checkbox"]:checked + div {
    padding-left: 2em;
    width: 1em;
    background-position: 0 0;
  }

  input[type="checkbox"] + div:before {
    content: 'On';
    text-align: left;
    float: left;
    width: 1.65em;
    height: 1.65em;
    margin: -.1em;
    border: 1px solid rgba(0,0,0,.35);
    border-radius: inherit;
    background: white;
    background-image: -webkit-linear-gradient(rgba(0,0,0,.2), transparent);
    box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset, 0 0 .5em rgba(0,0,0,.3);
    color: white;
    text-shadow: 0 -1px 1px rgba(0,0,0,.3);
    text-indent: -2.5em;
  }

  input[type="checkbox"]:active + div:before {
    background-color: #eee;
  }

  input[type="checkbox"]:focus + div {
    -webkit-box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
                0 .45em 0 .1em rgba(0,0,0,.05) inset,
                0 0 .4em 1px rgba(255,0,0,.5);
  }

  input[type="checkbox"] + div:before,
  input[type="checkbox"] + div:after {
    font: bold 60%/1.9 sans-serif;
    text-transform: uppercase;
  }

  input[type="checkbox"] + div:after {
    content: 'Off';
    text-align: left;
    float: left;
    text-indent: .5em;
    color: #868585;
    text-shadow: none;
  }

  &.public-switch {
    input[type="checkbox"] + div {
      width: 6em;
    }

    input[type="checkbox"] + div:before {
      content: 'Public';
      text-indent: -6.5em;
    }

    input[type="checkbox"] + div:after{
      content: 'Personal';
    }

    input[type="checkbox"]:checked + div {
      // these numbers must add up to the width
      // of the unchecked div
      padding-left: 5em;
      width: 1em;
    }
  }

  &.green-yellow {
    input[type="checkbox"]:checked + div {
      background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent),
        -webkit-linear-gradient(0deg, #30F567 50%, transparent 50%);
    }

    input[type="checkbox"] + div {
      background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent),
        -webkit-linear-gradient(0deg, #FFF500 50%, transparent 50%);
      background-position: 0, 0;
    }

    input[type="checkbox"] + div:after {
      color: #494949;
    }
  }
}
