.todo-form {
  .primary {
    position: relative;

    .events-list-item-button .ss-check {
      font-size: 18px;
      position: absolute;
      top: 7px;
    }

    &.is-finished {
      text-shadow: 0 1px 0 rgba(white, 0.2);
      color: #c5c5c5;
      border-color: $green;

      .checker label::after {
        border-color: $muted
      }

      .inline-form-icon {
        color: $green;
      }

      .field {
        position: relative;

        &:after {
          width: 96%;
          content: '';
          position: absolute;
          height: 1px;
          background-color: $muted;
          margin: 0 auto;
          left: 2%;
          top: 50%;
        }
      }
    }
  }



  &.just-added .primary {
    .todo textarea,
    .todo .mentions,
    .todo .mentions a {
      color: #29292c;
    }

    .success {
      margin-top: 4px;
    }
  }

  &.is-expandable .primary {
    cursor: pointer
  }

  // style the todo's pointer
  &.is-expandable:not(.is-editable) .todo textarea,
  &.is-expandable:not(.is-expanded) .todo textarea {
    cursor: pointer;
  }

  .btn-link:hover {
    text-decoration: none;
  }

  .btn-link:focus {
    outline: none;
    border: none;
  }

  .is-finished .checker {
    label {
      color: $muted;
    }
  }

  .todo {
    margin: {
      left: 60px;
      right: 140px;
    }

    &.is-valid {
      color: black;
    }

    &.is-invalid {
      outline: solid 1px red;
    }

    &[disabled] {
      cursor: default;
    }
  }

  .tasks-container {
    width: 50%;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}
