.todo-form {
  form {
    margin: 0;
  }

  .adder {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 30px;
  }

  &.unexpanded {
    .attn {
      display: none;
    }

    .todo {
      width: 435px;
    }

    .datejs {
      display: none;
    }

    .typeahead {
      display: none;
    }
  }

  &.expanded {
    .todo {
      width: 220px;
    }
  }

  // center the checkbox
  .add-on input {
    position: relative;
    margin: 0;
    top: -2px;
  }

  .todo {
    @include transition(all 0.4s ease-in-out);

    &.invalid {
      border: 1px solid red;
    }
  }

  .datejs {
    width: 90px;
  }

  .typeahead {
    margin: 0;
    width: 90px;
  }

  //FIXME: why does the prepended input not line up correctly?
  .todo {
    position: relative;
    left: -4px;
  }

  .shortcuts {
    display: none;
  }

  .reminder {
    display: none;
  }

  .keyboard-shorcuts div {
    display: inline-block;
  }

  .keyboard-shorcuts .line {
    display: inline-block;
    float: left;
    clear: both;
    margin: 5px 0;
  }

  .keyboard-shorcuts .line p,span {
    display: inline-block;
  }

  .keyboard-shorcuts .line p {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 5px;
    background: white;
    color: black;
    font-weight: 500;
  }

  .keyboard-shorcuts .line span {
    font-size: 12px;
  }
}
