::-webkit-input-placeholder {
  font-style: italic;
}

@mixin no-border {
  border: none;
  box-shadow: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.date-control {
  .btn-group, .btn-group.open, .btn.dropdown-toggle {
    .btn, .btn:hover {
      border-color: #c5c5c5;
      background-color: white;
      background-image: none;
      box-shadow: none;
      border-right: none;
    }
  }

  input[readonly] {
    cursor: pointer;
  }

  input {
    padding-left: 0;
    padding-right: 0;
  }

  input, input:focus {
    border-color: #c5c5c5;
    border-left: none;
    background-color: white;
    box-shadow: none;

    &::-webkit-input-placeholder {
      font-style: normal;
      color: #333333;
    }
  }
}

.todo-form {
  .main {
    position: relative;
    background-color: white;
    padding: 12px;
    @include box-shadow($dark-background 2px 2px 10px);
    border: solid 1px $dark-background;

    &.is-finished {
      background-color: $dark-background;

      &::after {
        width: 96%;
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        margin: 0 auto;
        left: 2%;
        top: 50%;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

  .todo {
    width: 340px;
    @include no-border;
  }

  .selector {
    display: inline-block;

    label {
      position: relative;
      top: 1px;
      left: 3px;
    }

    input {
      @include no-border;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .selector.has-selection input {
    font-weight: bold;
    color: $blue;
  }

  .options {
    background-color: $background;
    border: solid 1px $dark-background;
    border-top: none;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
  }
}
