.todo-form {
  .primary {
    position: relative;

    &.is-finished {
      background-color: $dark-background;

      .checker label::after {
        border-color: $light-text
      }

      &::after {
        width: 96%;
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        margin: 0 auto;
        left: 2%;
        top: 50%;
      }
    }
  }

  &.just-added .primary {
    .checker label {
      @include icons-sprite(todo-green);
    }

    .todo textarea,
    .todo .mentions,
    .todo .mentions a {
      color: $bright;
    }

    .success {
      margin-top: 4px;
    }
  }

  &.is-expandable .primary {
    cursor: pointer
  }

  // style the todo's pointer
  &.is-expandable:not(.is-editable) .todo textarea,
  &.is-expandable:not(.is-expanded) .todo textarea {
    cursor: pointer;
  }

  .btn-link:hover {
    text-decoration: none;
  } 

  .btn-link:focus {
    outline: none;
    border: none;
  }

  .is-finished .checker {
    label {
      @include icons-sprite(todo-muted);
    }
  }

  .checker {
    margin-top: 6px;
  }

  .todo {
    margin-left: 40px;
    margin-right: 140px;

    &.is-valid {
      color: black;
    }

    &.is-invalid {
      outline: solid 1px red;
    }

    &[disabled] {
      cursor: default;
    }
  }
}
