{{#with deal}}

{{#if overdue}}
  <i class="pull-left activity-icon icon-overdue"></i>
{{/if}}
<i class="pull-left activity-icon icon-deal"></i>


{{name}}
  
(<a href="/users/{{unbound user.id}}">{{user.abbrName}}</a>)

{{/with}}