<div class="fixed-sidebar-layout">
  <div id="sidebar">
    {{outlet sidebar}}
  </div>

  <div class="container">
    <div class="row">
      <div class="offset4 span8">
        {{yield}}
      </div>
    </div>
  </div>
</div>
