<div class="sub-nav">
  <div class="main-content">
    <div class="sidebar">
      {{outlet topnav}}
      {{outlet sidebar}}
    </div>
    <div class="content-right">
      {{yield}}
    </div>
  </div>
</div>
