<legend>Add a Contact</legend>
<fieldset class="control-group">
  <label for="contact-name">Name</label>
  {{view contactNameField}}
  {{#if isError}}
  <span class="help-inline clear">Contact name is required</span>
  {{/if}}
</fieldset>
<fieldset class="control-group form-inline" id="email-addresses">
  <legend>Emails</legend>
  <div class="control-group">
    <input type="text" class="email-name" placeholder="Name">
    <input type="text" class="email-value" placeholder="Email">
    <!-- <i class="icon-plus-sign"></i> -->
  </div>
</fieldset>

<fieldset class="control-group form-inline" id="phone-numbers">
  <legend>Phone Numbers</legend>
  <div class="control-group">
    <input type="text" class="phone-name" placeholder="Name">
    <input type="text" class="phone-value" placeholder="Phone Number">
    <!-- <i class="icon-plus-sign"></i> -->
  </div>
</fieldset>

<fieldset class="control-group form-inline" id="addresses">
  <legend>Addresses</legend>
  <div class="control-group">
    <input class="address-name" placeholder="Name">
    <input class="address-street" placeholder="Street">
    <input class="address-state" placeholder="State">
    <select class="address-country">
      <option>Country</option>
      <option value="Australia">Australia</option>
      <option value="Canada">Canada</option>
      <option value="United States">United States</option>
    </select>
    <input class="address-zip" placeholder="Zip Code">
  </div>
</fieldset>

<label for="assigned-to">Assigned To</label>
<select id="assigned-to" name="assigned-to">
  {{#each Radium.usersController}}
  <option {{bindAttr value="id"}}>{{abbrName}}</option>
  {{/each}}
</select>

<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Create Contact{{/view}}
</div>