<form class="well">
  <legend>Create a Deal</legend>
  <fieldset>
    <label for="description">Description</label>
    <textarea name="description" id="description" class="span8"></textarea>
  </fieldset>
  <fieldset>
    <label for="contact">Contact</label>
    {{view Radium.AutocompleteTextField 
      id="contact" class="input-xlarge"
      sourceBinding="Radium.contactsController.contactNames"
    }}
    <input type="hidden" id="contact-id" name="contact-id" value="">
  </fieldset>
  <fieldset>
    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount" value="">
  </fieldset>
  <fieldset>
    <label for="date">Close Date</label>
    {{view Radium.DatePickerField id="close-date" name="close-date" class="input-small"}}
    <label for="time">Close Time:</label>
    <input type="text" id="close-time" name="close-time" class="input-small" placeholder="eg 1:00">
    <select id="close-meridian" style="width: 60px;">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="state">State:</label>
    <select id="state" name="state">
      <option value="rejected">Rejected</option>
      <option value="pending" selected="selected">Pending</option>
      <option value="paid">Paid</option>
      <option value="closed">Closed</option>
    </select>
  </fieldset>

  <div class="form-actions">
    {{#view submitButton class="btn btn-primary"}}Save{{/view}}
    {{#view cancelFormButton class="btn"}}Cancel{{/view}}
  </div>
</form>