{{#view cancelFormButton class="close close-form"}}×{{/view}}
<legend>Add a Group</legend>
<fieldset class="control-group" {{bindAttr class="isError:error"}}>
  <label for="group-name">Name</label>
  {{view groupNameField}}
  {{#if isEmptyError}}
  <span class="help-inline clear">Group name is required</span>
  {{/if}}
  {{#if isMatchError}}
  <span class="help-inline clear">Group name must be unique.</span>
  {{/if}}
</fieldset>

<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Create Group{{/view}}
</div>