<label for="todo-reminder">Remind Me:</label>
<select id="todo-reminder" name="todo-reminder">
  <option value="">Never</option>
  <option value="300">Right before!</option>
  <option value="1800">Half hour</option>
  <option value="3600">An hour</option>
  <option value="10800">3 hours</option>
  <option value="86400">A day</option>
  <option value="259200">3 Days</option>
</select>