{{#with contact}}
  <i class="pull-left activity-icon icon-contact"></i>
  <span class="label label-info">LEAD</span> {{name}} via {{source}} (<a {{bindAttr href="user.url"}}>{{user.abbrName}}</a>)
{{/with}}