<i class="pull-left activity-icon icon-contact"></i>
<span class="label label-info">LEAD</span> {{unbound reference.contact.name}} via {{unbound reference.contact.source}} (<a href="/users/{{view.resource.user.id}}">{{view.resource.user.abbrName}}</a>)