{{#with contact}}
  <i class="pull-left activity-icon icon-contact"></i>
  <span class="label label-warning">PROSPECT</span> {{name}} became a prospect (<a {{bindAttr href="user.url"}}>{{user.abbrName}}</a>)
{{/with}}