{{#with meeting}}
  <i class="pull-left activity-icon icon-meeting"></i>
  <strong>{{topic}}</strong>{{#if location}} at {{location}}{{/if}}

  {{#if user}}
   (<a {{bindAttr href="user.url"}}>{{user.abbrName}}</a>)
  {{/if}}
{{/with}}