.modal-backdrop {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}
.modal {
  border-radius: 0px;

  .close {
    padding: 10px 15px;
    position: absolute;
    right: 0;
    z-index: 9;

    &:focus {
      outline: 0;
    }
  }
}
.modal-body {
  overflow-y: visible;
  padding: 15px 35px 35px;
  z-index: 1;

  .form {
    padding-left: 0;

    .control-box {
      width: 100% !important;

      input {
        box-sizing: border-box;
      }
      &:not(.autocomplete-textbox) {

        input {
          background: #F7F7F7;

          &:focus {
            border: 1px solid $border;
          }
        }
      }
    }

    .actions {
      display: inline-block;
      margin-top: 10px;
    }
  }
}
.modal-header {
  display: none;
}

.todo-modal {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  width: 720px;
  margin: auto;

  .modal-body {
    width: calc(100% - 30px) !important;

    .form {
      padding-left: 0;
      float: left;
      width: 100%;

      .primary {
        width: calc(100% - 50px);
        float: left;

        .events-list-item-button {
          margin-top: 18px;
          margin-left: 10px;
        }
        .todo {
          margin-right: 0;

          textarea {
            overflow-y: hidden;
            line-height: 40px;
          }
        }
      }
      .btn-options {
        float: right;
        line-height: 52px;
      }
    }
    .expanded-fields {
      width: 100%;
      margin-top: 5px;

      .form-row {
        float: left;
        width: calc(100% - 110px);
      }
      .form-buttons {
        width: auto;
        display: inline-block;
        clear: none;
        line-height: 54px;
      }
    }
  }
}

.chopped-modal {
  .modal {
    width: 360px;
    left: auto;
    height: 438px;
    overflow-y: auto;
    transition: none;
    visibility: hidden;
    overflow-x: hidden;
    min-height: 500px;

    .modal-header {
      border-bottom: none;
    }
    .contact-types-list a {
      display: inline-block;
      width: calc(100% - 30px);
    }
  }

  &.companies {
    .modal {
      height: 480px;
    }
  }

  .modal-body {
    max-height: none;
    padding: 0;

    .form {
      padding: 10px 10px;
      box-sizing: border-box;

      .sidebar-panel-content {
        padding-top: 0;
      }
    }
  }
}

.email-reply-modal {

  .email-form-component {
    border: none;

    .email-form-body {
      padding: 0;
    }
  }

  .modal {
    width: 65%;
    border: none;
    max-width: 770px;
    margin-left: -385px;

    button.close {
      padding: 10px 10px 0 0;
    }
    .modal-header {
      display: none;
    }
    .modal-body {
      width: 100%;
      display: inline;

      .email-form-body {
        padding: 15px 25px;
        display: inline-block;
      }
    }
  }
}