.richtext-editor {
  width: 100%;

  &.is-invalid {
    border: 1px solid red;
  }
}

.note-dialog .note-image-dialog.modal.in .modal-body {
  h5:first-of-type, input[type=file] {
    display: none;
  }
}