<div class="row activity">
  <div class="span1"><i class="icon-company"></i></div>
  <div class="span5">
    {{#if isPrimaryContact}}
      {{partial "activities/contact/primary_contact"}}
    {{/if}}

    {{#if isUpdate}}
      {{partial "activities/contact/update"}}
    {{/if}}

    {{render "comments" comments}}
  </div>
  <div class="span2">{{ageInWords timestamp}}</div>
</div>

