<div class="row activity">
  <div class="span1"><i class="icon-coins"></i></div>
  <div class="span5">
    {{#if isCreate}}
      {{partial "activities/deal/create"}}
    {{/if}}

    {{#if isAssign}}
      {{partial "activities/deal/assign"}}
    {{/if}}

    {{render "comments" comments}}
  </div>
  <div class="span2">{{ageInWords timestamp}}</div>
</div>

