<p>
  Voice mail from {{link from}}

  <br />
  for {{link to}}

  <span class="pull-right">
    {{#linkTo unimplemented}}Listen{{/linkTo}} - {{#linkTo unimplemented}}Transcript{{/linkTo}}
  </span>
</p>
