<p>
  Voice mail from {{resource-link model=from}}

  <br />
  for {{resource-link model=to}}

  <span class="pull-right">
    {{#linkTo "unimplemented"}}Listen{{/linkTo}} - {{#linkTo unimplemented}}Transcript{{/linkTo}}
  </span>
</p>
