{{#if hasReference}}
  <div class="reference-meta">
    <p>
      {{#if reference.description}}<em>{{reference.description}}</em> - {{/if}}
      Related to <i {{bind-attr class=":ss-standard :text-muted view.referenceIcon"}}></i> {{resource-link-to reference}}{{#if reference.company}}, {{resource-link-to reference.company}}{{/if}}
    </p>
  </div>
{{/if}}
