<form {{bindAttr class="isEditable justAdded :form :discussion-form"}}>
  <div class="primary">
    <div class="form-icon pull-left">
      <i class="ss-symbolicons-block ss-chat inline-form-icon"></i>
    </div>

    {{#if showSuccess}}
      <span class="succes">Discussion Added</span>
    {{/if}}

    {{view view.textbox classNames="textbox field field-blend-in" viewName="text"}}
    
    <div class="second-row">
      {{#if showSaveButton}}
        <button {{action submit}} class="btn btn-primary pull-right">Save</button>
      {{/if}}
      <div class="clearfix hint">
        <small class="muted">Add people to discussion by tagging them with "@" for example @John.<br>They'll be notified when someone comments.</small>
      </div>

      {{#if showSuccessMessage}}
        <span class="success-message green">Discussion Saved</span>
      {{/if}}
    </div>
  </div>
</form>
