<form {{bindAttr class="isEditable justAdded :form :discussion-form"}}>
  <div class="primary">
    <div>
      <i class="icons-discussion-muted"></i>

      {{#if showSuccess}}
        <span class="succes">Discussion Added</span>
      {{/if}}

      {{view view.textbox classNames="textbox field field-blend-in" viewName="text"}}
    </div>
    <div class="second-row">
      {{#if showSaveButton}}
        <button {{action submit}} class="btn btn-primary">Save</button>
      {{/if}}

      {{#if showComments}}
        <i class="icon-comment pull-right"></i>
      {{/if}}

      {{#if showSuccessMessage}}
        <span class="success-message green">Discussion Saved</span>
      {{/if}}
    </div>
    {{partial 'add_action'}}
  </div>
</form>
