<table class="table table-striped table-bordered table-hover">
  {{#each controller}}
  <tr>
    <td>
      {{avatar controller}}
      {{#linkTo user this}}{{name}}{{/linkTo}}
    </td>
    <td>
      9 AM to 11 AM
    </td>
    <td>
      Sales Meeting with Ralph Fiennes
    </td>
    <td>
      <i class="icon-tag"></i>
      Conflict
    </td>
  </tr>
  {{else}}
  <tr>
    <td colspan="4">No meeetings</td>
  </tr>
  {{/each}}
</table>

