{{#if view.disabled}}
  <i class="icon-time"></i>
{{else}}
  <div class="btn-group">
    <a class="btn btn-link" href="#" tabindex="-1">
      <i class="icon-time"></i>
    </a>
  </div>
{{/if}}
<span class="text">{{view.leader}}&nbsp;</span>
{{view view.timeField}}

