{{#if view.disabled}}
  <i class="ss-standard ss-clock"></i>
{{else}}
  <div class="btn-group prepend-group">
    <button class="btn btn-link" {{action showTimePicker target="view"}} href="#" tabindex="-1" type="button">
      <i class="ss-standard ss-clock"></i>
    </button>
  </div>
{{/if}}
{{#if view.leader}}
<span class="text">{{view.leader}}&nbsp;</span>
{{/if}}
{{view view.timeField}}

