{{#if view.disabled}}
  <i class="ss-standard ss-clock"></i>
{{else}}
  <div class="btn-group">
    <a class="btn btn-link" {{action showTimePicker target="view"}} href="#" tabindex="-1">
      <i class="ss-standard ss-clock"></i>
    </a>
  </div>
{{/if}}
<span class="text">{{view.leader}}&nbsp;</span>
{{view view.timeField}}

