<div class="span8 offset1 feed-info">
  {{#with content}}
    {{yield}}

    {{#if notes.length}}
      <hr>
      <h4>Notes:</h4>
      <ul class="unstyled">
      {{#each notes}}
        <li>{{message}}</li>
      {{/each}}
      </ul>
    {{/if}}
  {{/with}}
</div>