# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

.DS_Store
/old_app/tmp/
/old_app/site/
/old_app/config/settings.yml
/old_app/vendor/bundle/
!app/assets/images/icons
!app/sprites/icons
/old_app/deploy.log
.sass-cache
vendor/ember.js
vendor/data
test_site/
/old_app/vendor/cache/*
radium.sublime-project
radium.sublime-workspace
new-test/node_modules
new-test/bower_components
.\#*
/site

# compiled output
/old_app/dist
/old_app/tmp

# dependencies
/node_modules
/bower_components

# misc
/old_app/.sass-cache
/old_app/connect.lock
/old_app/coverage/*
/libpeerconnection.log
.idea/
