<div class="row">
  <div id="sidebar" class="span4">
    <table id="owner">
      <tbody><tr>
        <td>
          <img src="/images/headshots/25fab57.jpg" class="avatar">
        </td>
        <td>
          <p class="name">Sami Asikainen</p>
          <p>Shot Calla'</p>
        </td>
      </tr>
    </tbody></table>

    <table class="filters types">
      <tbody>
        <tr>
          <td class="filter enabled" data-filter="ALL" data-default="true">
            Everything
            <span class="label" rel="popover" data-original-title="">32</span>
          </td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="todo">
            <img src="/images/icons/plus-small.png">
            Todos 
            <span class="label" rel="popover" data-content="This show should the number of open todos." data-original-title="">5</span>
          </td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="meeting">
            <img src="/images/icons/plus-small.png">
            Meetings
            <span class="label" data-original-title="">11<span>
          </span></span></td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="call-list">
            <img src="/images/icons/plus-small.png">
            Call List
            <span class="label" data-original-title="">6<span>
          </span></span></td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="deal">
            <img src="/images/icons/plus-small.png">
            Deals
            <span class="label" data-original-title="">2</span>
          </td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="message">
            <img src="/images/icons/plus-small.png">
            Messages
            <span class="label" data-original-title="">7</span>
          </td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="notes">
            <img src="/images/icons/plus-small.png">
            Discussions
            <span class="label" data-original-title="">3</span>
          </td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="activity">Acivity</td>
        </tr>
        <tr>
          <td class="filter disabled" data-filter="pipeline">Pipeline</td>
        </tr>
      </tbody>
    </table>

    <table class="filters people">
      <thead>
        <tr id="secondary-filter" data-content="When you select a person from this list the feed only shows items related to who the page is about AND who is currently selected. Example, feed items related to Sami &amp; Zach." data-original-title="">
          <th colspan="3">People</th>
        </tr>
      </thead>
      <tbody>
        <tr class="filter enabled">
          <td><img src="/images/headshots/holman_normal.png" class="avatar"></td>
          <td>
            Zach H.
          </td>
          <td><span class="label" data-original-title="">10</span></td>

        </tr>
        <tr class="filter enabled">
          <td><img src="/images/headshots/headshot_normal.png" class="avatar"></td>
          <td>
            Sami A.
          </td>
          <td><span class="label" data-original-title="">6</span></td>

        </tr>
        <tr class="filter enabled">
          <td><img src="/images/headshots/avatar-2010-b_normal.jpg" class="avatar"></td>
          <td>
            Josh R.
          </td>
          <td><span class="label" data-original-title="">5</span></td>
        </tr>
        <tr class="filter enabled">
          <td><img src="/images/headshots/bphogan_normal.jpg" class="avatar"></td>
          <td>
            Bob H.
          </td>
          <td><span class="label" data-original-title="">19</span></td>
        </tr>
        <tr class="filter enabled">
          <td><img src="/images/headshots/Gravatar2_normal.jpg" class="avatar"></td>
          <td>
            Cris C.
          </td>
          <td><span class="label" data-original-title="">4</span></td>
        </tr>
        <tr class="filter disabled">
          <td><img src="/images/headshots/HeikoBehrens_114x114_normal.png" class="avatar"></td>
          <td>
            Heiko B.
          </td>
          <td><span class="label" data-original-title="">3</span></td>
        </tr>
        <tr class="filter enabled">
          <td><img src="/images/headshots/IMG_5418_normal.jpg" class="avatar"></td>
          <td>
            Mikael A.
          </td>
          <td><span class="label" data-original-title="">7</span></td>

        </tr>
        <tr class="filter disabled">
          <td><img src="/images/headshots/IMG_9486-small_normal.jpeg" class="avatar"></td>
          <td>
            David C.
          </td>
          <td><span class="label" data-original-title="">9</span></td>

        </tr>
      </tbody>
    </table>
  </div>
  <div id="feed" class="span12">
    <section>
      <div class="page-header">
        <h2>Today<small>August 5th, 2011</small></h2>
      </div>

      <div class="alert-message block-message info" id="notifications">
        <ul class="unstyled">
          <li class="notification">
            <span class="time">9:30 AM</span><a href="#">Adam</a> assigned "Design Radium" to you
            <span class="options">(<a href="#">Dismiss</a>)<span>
          </span></span></li>
          <li class="notification">
            <span class="time">12:45 PM</span>Meeting invitation from <a href="#">Mikael</a> for 5/10/2011
            <span class="options">(<a href="#">Confirm</a> | <a href="#">Deny</a>)</span>
          </li>
          <li class="notification">
            <span class="time">2:15 PM</span><a href="#">Markku</a> confirmed your invitation for "CRM project"
            <span class="options">(<a href="#">Dismiss</a>)</span>
          </li>
          <li class="notification">
            <span class="time">3:45 PM</span><a href="#">Tomi</a> add a comment to your "<a href="#">Go over sales figures</a>" todo
            <span class="options">(<a href="#">Dismiss</a>)</span>
          </li>
          <li class="notification">
            <span class="time">4:03 PM</span>Missed call from <a href="#">Jarkko</a>. <a href="#">Call them back</a>
            <span class="options">(<a href="#">Dismiss</a>)</span>
          </li>
          <li class="notification">
            <span class="time">5:00 PM</span>Remember to call <a href="#">Terry</a> about "<a href="#">Next quarter</a>"
            <span class="options">(<a href="#">Dismiss</a>)</span>
          </li>
          <li class="notification">
            <span class="time">7:30 PM</span>Remember to go to the meeting with <a href="#">Steven</a> about "<a href="#">Market Srategy</a>"
            <span class="options">(<a href="#">Dismiss</a>)</span>
          </li>
        </ul>
      </div>

      <div class="feed-item todo overdue" style="display: block; ">
        <div class="row">
          <div class="span2"><span class="timestamp">overdue</span></div>
          <div class="span10 content" data-content="When you click this item, the comments expand. They are not shown by default" data-original-title="">
            <p>
              <input type="checkbox">
              <span class="label">Prospect</span>
              Schedule a follow up
              (<a href="#">Antti Niemi</a>)
              <img src="/images/icons/balloon-white.png"><img src="/images/icons/paper-clip.png">
            </p><p>
          </p></div>
        </div>
        <div class="row">
          <div class="span10 offset2">
            <ul class="comments unstyled">
              <li>
              <img src="/images/headshots/IMG_9486-small_normal.jpeg">
              <a class="name" href="#">David C.</a><br>
              You know he's pretty pissed at you right?
              <span class="time">5 hours ago</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row feed-item todo finished" style="display: block; ">
        <div class="span2"><span class="timestamp">9:30 AM</span></div>
        <div class="span10 content">
          <p>
            <input type="checkbox" checked="">
            <span class="label notice">Lead</span>
            Go over sales figures
            (<a href="#">Mikael Ahonen</a>)
          </p><p>
        </p></div>
      </div>

      <div class="row feed-item meeting" style="display: block; ">
        <div class="span2"><span class="timestamp">12:45 PM</span></div>
        <div class="span10 content">
          <p>
            <span class="label warning">Opportunity</span>
            <a href="#">Justin Hauck</a> @ The office : Pitch new Product (<a href="#">Map</a>)
          </p><p>
        </p></div>
      </div>

      <div class="row feed-item call-list" style="display: block; ">
        <div class="span2"><span class="timestamp">2:15 PM</span></div>
        <div class="span10 content">
          <p>
            <input type="checkbox">
            <span class="label success">Customer</span>
            <a href="#">Justin Hauck</a> : Fall Yaris Campaign <a href="#" class="click-to-call" data-original-title="Clik to call: +23847123894"><img src="/images/icons/mobile-phone.png"></a>
            <img src="/images/icons/paper-clip.png">
          </p><p>
        </p></div>
      </div>

      <div class="row feed-item todo" style="display: block; ">
        <div class="span2"><span class="timestamp">5:15 PM</span></div>
        <div class="span10 content">
          <p>
            <input type="checkbox">
            <span class="label success">Customer</span>
            Schedule a meeting
            (<a href="#">Justin Hauck</a>)
            <img src="/images/icons/balloon-white.png">
          </p><p>
        </p></div>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>Your company brought in <strong>10 leads</strong></p>
          </div>
        </div>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>Your team lost <strong>2 conversions</strong></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="page-header">
        <h2>Yesterday<small>August 4th, 2011</small></h2>
      </div>

      <div class="row feed-item activity" style="display: block; ">
        <div class="span12">
          <div class="alert-message warning">
            <p><a href="#">Adam</a> &amp; <a href="#">Mikael</a> booked <strong>5 meetings.</strong></p>
          </div>
        </div>
      </div>

      <div class="row feed-item activity" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p><a href="#">Sami</a> and <a href="#">Adam</a> finished <strong>7 todos</strong></p>
          </div>
        </div>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>Your team converted <strong>8 prospects</strong></p>
          </div>
        </div>
      </div>

      <div class="row feed-item pipline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>Your team opened <strong>4 opportunities</strong> $23,987</p>
          </div>
        </div>
      </div>

      <div class="row feed-item todo" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>You finished 21,348 todos</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="page-header">
        <h2>August 3rd, 2011</h2>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p><a href="#">Mikael</a> closed <strong>8 deals</strong> worth $0.02 total</p>
          </div>
        </div>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p><a href="#">Sami</a>, <a href="#">Mikael</a>, and <a href="#">Adam</a> contacted <strong>23 leads</strong></p>
          </div>
        </div>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>Your team converted <strong>8 prospects</strong></p>
          </div>
        </div>
      </div>

      <div class="row feed-item pipeline" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>Your team closed <strong>2 customers</strong> $12,871</p>
          </div>
        </div>
      </div>

      <div class="row feed-item todo" style="display: block; ">
        <div class="span12">
          <div class="alert-message">
            <p>You finished 7 todos</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>