  {{collection testView id="date-ranges" class="pills pull-left"}}
  <div class="input-prepend pull-right">
    <span class="add-on">Date</span>
    <input class="medium" id="prependedInput" name="prependedInput" size="16" type="text">
  </div>