{{Radium.dateGroupsController.length}}
{{#each Radium.activityDateGroupsController.selectedDateType}}
<section>
  <div class="page-header">
    <!-- Get some date helpers up in this club -->
    <h2>{{date}}</h2>
  </div>

  {{#if items.length}}
  There are {{items.length}} items.
  {{/if}}

</section>
{{/each}}