{{#each Radium.feedController.selectedDateType}}
<section>
  <div class="page-header">
    <!-- Get some date helpers up in this club -->
    <h2>{{this}}</h2>
  </div>
  {{#view Radium.FeedDateItemView dateBinding="this"}}
    {{#each items}}
      {{ id }}<br>
    {{/each}}
  {{/view}}
  <br><br>
</section>
{{/each}}