<table id="owner">
  <tr>
    <td>
      <img src="/images/headshots/mcnulty.jpg" class="avatar"/>
    </td>
    <td>
      <p class="name">Jimmy McNulty</p>
      <p>Lead</p>
    </td>
  </tr>
</table>