<table id="owner">
  <tr>
    <td>
      <img src="/images/headshots/25fab57.jpg" class="avatar"/>
    </td>
    <td>
      <p class="name">Jimmy McNulty</p>
      <p>Shot Calla'</p>
    </td>
  </tr>
</table>