<div class="fill">
  <div id="topbar-container" class="container">
    {{view mainActionButton}}
    <a class="brand" href="/">Radium</a>
    <ul id="main-nav" class="nav">
      <li id="btn-dashboard"><a href="/">Dashboard</a></li>
      <li id="btn-contacts" class="dropdown">
        <a href="/contacts" class="dropdown-toggle">Contacts</a>
        <ul class="dropdown-menu">
          <li><a href="/contacts/leads">leads</a></li>
          <li><a href="/contacts/prospects">prospects</a></li>
          <li><a href="/contacts/opportunities">opportunities</a></li>
          <li><a href="/contacts/customers">customers</a></li>
          <li><a href="/contacts/dead-ends">dead ends</a></li>
        </ul>
        </li>
      <li> 
      <li id="btn-pipeline"><a href="/pipeline">Pipeline</a></li>
      <li id="btn-campaigns" class="dropdown">
        <a href="/campaigns" class="dropdown-toggle">Campaigns</a>
        <ul class="dropdown-menu">
          <li><a href="/campaigns/fall">fall campaign</a></li>
          <li><a href="/campaigns/winter">winter campaign</a></li>
          <li><a href="/campaigns/spring">spring campaign</a></li>
          <li><a href="/campaigns/summer">summer campaign</a></li>
          <li class="divider"></li>
          <li><a href="/campaigns/past">show past campaigns</a></li>
        </ul>
      </li>
      <li id="btn-calendar"><a href="/calendar">Calendar</a></li>
      <li id="btn-messages"><a href="/messages">Messages</a></li>
      <li id="btn-settings"><a href="/settings">Settings</a></li>
    </ul>
  </div>
</div>