{{#with Radium.usersController}}
  {{#if content.length}}
    <div class="row">
      <div id="owner" class="span3">
        <img src="/images/headshots/mcnulty.jpg" class="avatar"/>
        <p class="name">{{loggedInUser.name}}</p>
      </div>
    </div>
  {{/if}}
{{/with}}