{{#if content.isLoading}}
<div class="loader pull-left">
  <img src="/images/loading/ajax-loader.gif"/> <span class="muted">loading...</span>
</div>
{{else}}
  {{#unless content.length}}
    <div class="alert alert-info pipeline-cta-banner">
      <div class="row-fluid">
        <div class="span12">
          <h4 class="text-center">No Records</h4>
        </div>
      </div>
    </div>
  {{/unless}}
{{/if}}