<form class="well">
  <label for="topic">Topic</label>
  <input type="text" name="topic" id="topic" class="span8" value="">

  <label for="date">Date</label>
  {{view Radium.DatePickerField id="date" name="date" class="input-small"}}

  <label for="time">Time:</label>
  <input type="text" id="time" name="time" class="input-small" placeholder="eg 1:00">

  <label for="meeting-duration">Length</label>
  <select id="meeting-duration" name="meeting-duration">
    <option value="900">15 Minutes</option>
    <option value="1800">Half Hour</option>
    <option value="3600">Hour</option>
    <option value="5400">Hour and a Half</option>
    <option value="7200">2 Hours</option>
  </select>

  <label for="customer">Invite</label>
  {{view Radium.AutocompleteTextField 
    id="customer" class="input-xlarge"
    sourceBinding="Radium.contactsController.contactNames"
  }}
  <input type="hidden" id="todo-contact" name="contact" value="">

  <label for="invitation-message">Invitation Message</label>
  <textarea name="invitation-message" id="invitation-message" class="span8"></textarea>
  
  <label for="invitation-location">Where</label>
  <textarea name="invitation-location" id="invitation-location" class="span8"></textarea>

  <div class="form-actions">
    {{#view submitButton class="btn btn-primary"}}Save{{/view}}
    {{#view cancelFormButton class="btn"}}Cancel{{/view}}
  </div>
</form>