<div class="control-group files">
  <div class="controls add-files">
    <button class="btn btn-block add-files" {{bindAttr disabled="view.disabled"}}>
      Add Files <i class="ss-standard ss-attach"></i>
    </button>
  </div>
  <div>
    {{#each attachment in attachments}}
      Foo
    {{/each}}
  </div>
</div>
