{{#if primaryAddress}}
  {{#with primaryAddress}}
    <div class="readonly readonly-address">
      <i class="ss-standard ss-buildings pull-right"></i>
      <div>{{street}}</div>
      <div>{{formatted}}</div>
      <div>{{country}}</div>
      <div class="location">
        <a href="#"><i class="ss-standard ss-location"></i></a>
      </div>
    </div>
  {{/with}}
{{/if}}
