{{#if attachments}}
  <ul class="attachments">
    {{#each attachments}}
      <li>
        <i class="icon-attachments"></i>
        <a href="{{unbound url}}" target="_new">
          <img src="http://placehold.it/45x45" class="img-polaroid" alt="">
          <span class="file-name">{{name}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}
