<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      <i class="ss-standard ss-users"></i> Followers
    </h6>
  </div>
  <div class="sidebar-panel-content">
    <ul class="unstyled">
      {{#each followers}}
        <li>
          {{avatar this}}
          {{resource-link-to this}}</br>
          {{title}}
        </li>
      {{else}}
        <li>No followers yet!</li>
      {{/each}}
    </ul>
  </div>
</div>
