<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      <i class="ss-standard ss-users"></i> Followers
    </h6>
  </div>
  <div class="sidebar-panel-content">
    <ul class="unstyled">
      {{#each follower in followers}}
        <li>
          {{avatar follower}}
          {{follower.name}}</br>
          {{follower.title}}
        </li>
      {{else}}
        <li>No followers yet!</li>
      {{/each}}
    </ul>
  </div>
</div>