{{#if selectedFilterText}}
  <div class="btn-group">
    <button class="btn btn-main">{{selectedFilterText}}</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {{#each filters}}
        <li>
          <a href="#" {{action changeFilter name}}>{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}