<div class="add-lead">
  {{#linkTo "deals.new" class="btn btn-primary"}}
    <i class="ss-standard ss-plus"></i> Deal
  {{/linkTo}}
  {{#linkTo "leads.new" class="btn btn-primary"}}
    <i class="ss-standard ss-plus"></i> Lead
  {{/linkTo}}
</div>
