<div class="add-lead">
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="icon-plus icon-white"></i> New
    </button>
    <ul class="dropdown-menu">
      <li>{{#linkTo deals.new}}Deal{{/linkTo}}</li>
      <li>{{#linkTo leads.new}}Lead{{/linkTo}}</li>
    </ul>
  </div>
</div>