<div id="header" class="page-header">
  <div id="title">
    <h1>{{title}}</h1>
  </div>
  <div id="controls">
    <div class="field control-box">
      <div class="btn-group">
        <a class="btn btn-link" href="#">
          <i class="icon-search"></i>
        </a>
        <input type="text"/>
      </div>
    </div>
    <div class="field control-box date-filter">
      <span class="muted">Filter by date</span>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-chevron-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li>Date Range 1</li>
        <li>Date Range 2</li>
      </ul>
    </div>
    <div class="field control-box actions">
      <span class="muted">Actions</span>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-chevron-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li>Assign</li>
        <li>Todo</li>
        <li>Call</li>
        <li>Email</li>
        <li>Change Status</li>
        <li>Delete</li>
      </ul>
    </div>
    <div class="add-lead">
      <a href="#" class="btn btn-medium btn-info">
        <i class="icon-plus icon-white"></i>
        Lead
      </a>
    </div>
  </div>
</div>
