<ul class="unstyled" id="pipeline-search">
  <li>
    {{#each contact in content}}
      {{#with contact}}
        <a class="thumbnail">
          {{avatar contact}}
          {{displayName}}
        </a>
      {{/with}}
    {{/each}}
  </li>
  {{#each source in sources}}
    <li>
      <a class="thumbnail"  href="#">{{source}}</a>
    </li>
  {{/each}}
</ul>
