<ul class="unstyled" id="lead-search">
  <li>
    {{#each contact in content}}
      {{#with contact}}
        <a {{action showLeadSearch this href=true target="controller"}} class="thumbnail">
          {{avatar contact}}
          {{displayName}}
        </a>
      {{/with}}
    {{/each}}
  </li>
</ul>
