<h5>{{deals}}</h5>
<ul class="unstyled" id="pipeline-search">
  {{#each quarters}}
    <li>
      <a class="thumbnail">
        {{label}}
      </a>
    </li>
  {{/each}}
  {{#each month in  months}}
    <li>
      <a class="thumbnail">
        {{month}}
      </a>
    </li>
  {{/each}}
<ul>
