<div id="pipeline">
  <div>
    <ul>
      <li>
        <h4>
          <a href="#">
            Leads (3)
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="#">
            Negotiating (134)
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="#">
            Closed (13)
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="#">
            Lost (13)
          </a>
        </h4>
      </li>
    </ul>
  </div>
  <div class="status pull-right"><h4>4 New Leads/<br/><small>This Week<small></h4></div>
</div>
