<div>
  <ul id="status">
    {{#each controller}}
    <li {{bindAttr class="isCurrent:current"}}>
      <h4>
        <a href="#">
          {{unbound label}} (3)
        </a>
      </h4>
    </li>
    {{/each}}
  </ul>
</div>

