<div id="pipeline">
  {{outlet status}}
  <div class="status pull-right">
    <h4>4 New Leads/<br/><small>This Week</small></h4>
  </div>
</div>
<div id="pipeline-results">
  <div class="pagination pull-right">
    {{view Radium.PagerView}}
  </div>
  {{#if checkedContent.length}}
    <div id="form-wdiget" class="block">
      {{view view.FormWidget selectionBinding="checkedContent"}}
    </div>
  {{/if}}
  {{outlet leads}}
</div>
