<div>
  <ul id="status">
    {{#each status in controller.statuses}}
      {{#with status}}
        <li {{bindAttr class="isCurrent:current"}}>
          <h4>
            <a {{action showPipeline name href=true }}>
              {{unbound label}} ({{leadTotal name}})
            </a>
          </h4>
        </li>
      {{/with}}
    {{/each}}
  </ul>
</div>

