{{#if hiddenContent}}
<div id="remaining-pipeline">
  <a class="btn btn-large btn-full-width" {{action showMore target="controller"}}>
    <i class="icon-plus"></i>{{hiddenContent.length}} Deals(s) Remaining: Show More
  </a>
</div>
{{/if}}

