{{#if checkForResponse}}
  <div class="alert alert-success check-response">
    Checking for response at {{checkForResponseFormatted}}.  Click <a href="#" {{action cancelCheckForResponse this}}>this</a> to cancel.
  </div>
{{/if}}
