{{#unless currentUser.initialMailImported}}
  <div class="alert alert-info initial-importing text-center">
    <strong>Your inbox is being imported, this may take a few minutes.....</strong>
  </div>
{{/unless}}
