{{#unless currentUser.initialMailImported}}
  <div class="initial-importing text-center">
    {{view Radium.ProgressBar percentageBinding="currentUser.emailsImported"}}
    <p>Your inbox is being imported&hellip;</p>
  </div>
{{/unless}}
