<div {{bind-attr class=":span1 :sender-avatar senderIsCurrentUser:is-current-user:not-user"}}>
  <div class="sender-avatar">
    {{avatar sender style="medium"}}
    <strong>{{resource-link-to sender}}</strong>
  </div>
</div>