{{control 'forms/bulk_form_widget' model}}

<div class="block">
  <div class="page-header">
    <h3>{{length}} Email(s) Selected</h3>
  </div>

  {{#with controller}}
    {{template "emails/table"}}
  {{/with}}
</div>
