<ul class="unstyled thumbnails" id="folders">
  {{#each content}}
    <li>
      <a {{action showMessages this.name href=true }} class="thumbnail">
        <img src="http://placehold.it/120x120" />
      </a>
      <span class="label">{{label}}</span>
    </li>
  {{/each}}
<ul>
