{{#each notification in model.notifications}}
  <div class="alert alert-info event">
    <i class="ss-standard ss-view"></i>
    Opened by {{#link-to 'contact' notification.reference}}{{notification.reference.name}}{{/link-to}} 
    <span class="pull-right">{{notification.timeFormatted}}</span>
  </div>
 
{{/each}}
{{partial 'emails/item'}}
