{{#if showHud}}
  {{partial 'messages/hud'}}
{{/if}}

<div {{bindAttr class="showHud :email-history"}}>
  <div id="new-email-placeholder" class="hidden"></div>
  {{render 'emails/history' history}}
</div>
