<div class="email-history">
  {{#each visibleContent itemController="emailThreadItem" itemViewClass="Radium.ThreadItemView"}}
    {{#if isLoaded}}
        {{render "emails/item" this}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  {{/each}}
  {{partial 'shared/show_more'}}
</div>
