<p>
  {{link from}} had call with {{link to}}

  <br />
  {{lengthOfTimeInWords length}} long

  <span class="pull-right">
    {{#linkTo "unimplemented"}}Listen{{/linkTo}} - {{#linkTo "unimplemented"}}Transcript{{/linkTo}}
  </span>
</p>
