<p>
  {{resource-link model=from}} had call with {{resource-link model=to}}

  <br />
  {{lengthOfTimeInWords length}} long

  <span class="pull-right">
    {{#linkTo "unimplemented"}}Listen{{/linkTo}} - {{#linkTo "unimplemented"}}Transcript{{/linkTo}}
  </span>
</p>
