/* line 2, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
body {
  padding-top: 60px;
}

/* line 8, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.navbar .nav > li {
  line-height: 26px;
}
/* line 10, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.navbar .nav > li > a {
  line-height: 26px;
}

/* line 17, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#mini-loader {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* line 24, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.icon-sms,
.icon-call {
  background-image: url("/images/icons/icons-radium.png");
}

/* line 28, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.icon-call {
  background-position: 0px 0px;
}

/* line 32, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.icon-sms {
  background-position: right 0px;
}

/* line 36, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.nav-tabs.nav-stacked > li:first-of-type > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* line 42, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.nav-tabs.nav-stacked > li:last-of-type > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 48, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.module {
  text-shadow: 0 1px 0 white;
  border: 1px solid #EEE;
  position: relative;
  margin-bottom: 10px;
  line-height: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 61, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.module .component {
  background-color: #F9F9F9;
  padding: 12px;
  line-height: 16px;
}
/* line 67, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.module .bordered {
  border-bottom: 1px solid #EEE;
}
/* line 70, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.module .bordered:last-child {
  border: none;
}

/* line 76, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#search {
  margin-bottom: 0;
}

/* line 80, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
[class^="ember-view icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url(images/vendor/glyphicons-halflings.png);
  background-repeat: no-repeat;
}

/* line 89, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#alpha .btn {
  width: 28px;
  padding-left: 0;
  padding-right: 0;
}

/* line 95, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#alpha .btn:last-child {
  width: 25px;
}

/* line 99, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#form-container {
  margin: 20px 0;
}

/* line 103, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
fieldset legend {
  font-size: 15px;
}

/* line 107, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#feed .page-header h2 small {
  float: right;
  font-weight: bold;
  position: relative;
  top: 12px;
}

/* line 114, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#feed section {
  margin-bottom: 25px;
}

/* line 118, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.feed-item .timestamp {
  color: #898989;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 126, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.overdue,
.overdue .timestamp,
.overdue .content p {
  color: #C43C35;
  font-weight: bold;
}

/* line 131, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.feed-item.todo.finished .content {
  text-decoration: line-through;
}

/* line 135, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.filters li {
  line-height: inherit;
}

/* line 139, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.filters span.label {
  float: right;
}

/* line 143, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#user-list img {
  margin-right: 10px;
  float: left;
}

/* line 149, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#user-list a {
  line-height: 32px;
}
/* line 151, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#user-list a i {
  margin: 7px 0 0;
}

/* line 157, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
img.avatar {
  border: solid 1px #ddd;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

/* line 164, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.enabled .filter {
  font-weight: bold;
}

/* line 168, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.filter.disabled {
  color: gray;
  opacity: 0.75;
}

/* line 173, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.topbar button {
  float: right;
  padding: 5px 30px;
  margin-top: 5px;
}

/* line 179, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#feed > section {
  clear: both;
}

/* line 183, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#search-box {
  color: black;
  height: 32px;
  font-size: 18px;
}

/* line 189, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#notifications ul {
  margin-bottom: 0;
}

/* line 193, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#notifications .time {
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  display: inline-block;
}

/* line 200, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
ul.comments {
  margin-left: 40px;
}

/* line 204, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.comments li {
  color: #404040;
}

/* line 208, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.comments img {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 216, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.comments .name {
  font-weight: bold;
}

/* line 220, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#owner {
  margin-bottom: 10px;
}

/* line 224, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#owner img.avatar {
  height: 70px;
  width: 70px;
  margin: 0 10px 0 0;
  border-radius: 6px;
  float: left;
  border-color: #8a8a8a;
}

/* line 233, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
#owner .name {
  font-weight: bold;
  font-size: 14px;
}

/* line 238, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-card {
  margin-bottom: 20px;
}

/* line 242, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-card-inner {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

/* line 248, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-card p {
  margin: 0;
}

/* line 252, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-card.selected {
  background: whiteSmoke;
}

/* line 256, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-avatar {
  width: 90px;
  position: relative;
  float: left;
}

/* line 262, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-avatar .inline-checkbox {
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  display: none;
}

/* line 272, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-card:hover .inline-checkbox,
.contact-card.selected .contact-avatar .inline-checkbox {
  display: block;
}

/* line 276, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-avatar .inline-checkbox label {
  margin: 0;
}

/* line 280, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.contact-details {
  width: 540px;
  float: left;
}

/* line 285, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.label {
  -webkit-transition: background-color 0.25s ease-out;
}

/* line 290, /Users/Joshua/Sites/Radium/radium/app/stylesheets/app.scss */
.todos input[type=checkbox] {
  display: inline-block;
  margin-right: 5px;
}
