<div class="delete-confirmation alert alert-block alert-success">
  <div class="page-header">
    <h4>{{name}} has been deleted.</h4>
  </div>

  <h4>Click {{#linkTo "unimplemented"}}here{{/linkTo}} to return to the contacts page.</h4>
</div>
