<div class="delete-confirmation alert alert-block alert-success">
  <div class="page-header">
    <h4>{{model}} has been deleted.</h4>
  </div>
  <h4>Click {{#linkTo "addressbook.filter" 'all'}}here{{/linkTo}} to return to the contacts page.</h4>
</div>
