<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}

    <h3>Team</h3>
    {{view Radium.UsersListView 
      contentBinding="Radium.usersController.content"
      selectedUserBinding="Radium.selectedUserFeedController.selectedUser"
    }}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view Radium.GlobalSearchTextView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
    <!-- Chart is disabled for now -->
    {{!view dashboardChart}}
        
    <div class="row">
      
    </div>
  </div>
</div>