<span class='badge badge-info'>
  <a class="pull-right" {{action clearDeal}}>x</a>
  {{#if isNew}}
    {{deal.name}}
  {{else}}
    {{#link-to 'deal' deal}}{{deal.name}}{{/link-to}}
  {{/if}}
</span>
