<div class="checklist block">
  <div class="checklist-title">
    <span class="checklist">Deal Checklist</span>
  </div>
  <div class="show-checklist pull-right">
    <button class="btn btn-success">
      <i class="icon-plus"></i>
    </button>
  </div>
</div>
<form class="form form-horizontal">
  <div class="secondary">
    <fieldset>
      <h3><i class="icon-plus"></i>New Deal</h3>
      <div class="control-group">
        <label class="control-label">Deal Name</label>
        <div class="controls">
          <input type="text" class="field input-xlarge" placeholder="Deal Name">
        </div>
      </div>
    </fieldset>
  </div>
</form>
