// Filter bar layout
.reports-view:not(.pin-filter) {
  #master-filter {
    padding-left: 0;

    .option:first-of-type {
      padding-left: 0;
    }
  }
}

.reports-filter {
  $bg: #dbdbdb;
  padding: 15px;
  background: $background;
  top: 70px;
  left: 0;

  .pin-filter & {
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid $border;

    & + .reports-filter-placeholder {
      height: 120px;
    }
    #master-filter {
      padding-left: 15px;
    }
  }

  input[type="text"] {
    margin: 0;
  }

  .option {
    margin-right: -3px;
    padding: 5px 20px;
    display: inline-block;
    border-right: 1px solid darken($bg, 10%);

    &:last-child {
      border: none;
    }
  }
}

.report-section {
  margin: 0 0 10px;
  overflow: hidden;
  clear: both;
}

.report-section-total {
  font-size: 28px;
  font-weight: bold;
}

// Reports overview

// Animation
@include keyframes(iconBounce) {
  0% {
    transform: scale(0, 0);
  }

  90% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.report-overview {
  .summary {
    width: 25%;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
  }

  .infographic {
    height: 50px;
    margin: 0 0 20px;
    text-align: center;
    border-bottom: 1px solid $muted;

    i {
      margin: 0 2px 10px;
      display: inline-block;
      font-size: 25px;
      line-height: 30px;
    }

    @for $i from 0 through 100 {
      i:nth-child(#{$i}) {
        @include animation(iconBounce #{$i * 0.02}s);
      }
    }
  }

  .summary-details {
    > * {
      margin-bottom: 30px;
    }
  }
}

.radium-chart {
  position: relative;

  .reset {
    top: 0;
    position: absolute;
  }

  &.pie-chart .reset {
    left: 0;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

#report-sales-section .charts {
  text-align: center;

  .pie-chart {
    float: left;
    margin: 0 4%;
    display: inline-block;
  }
}

// Anchors have some height to them to account for the fixed navbar
.report-anchor {
  height: 95px;
  display: block;
}


.reports-view {

  .single-column-container {
    padding: 96px 40px;

    .page-header {
      padding-top: 20px;

      h4 {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    .summary-details {

      h2 {
        font-size: 26px;
      }
    }
  }
}