<html>
<head>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="application.css" rel="stylesheet">

  <% app.config.scripts.each do |script| %>
    <script src="<%%= script %>"></script>
  <% end %>

  <script type="text/javascript" src="application.js"></script>

  <script type="text/javascript">
    minispade.require("radium/boot");
  </script>
</head>
<body>
  <div id="application"></div>
</body>
</html>
