<div class="block">
  <h3>Discussion</h3>

  <h3>New Discussion</h3>
  {{control "forms/discussion" discussion}}

  <h3>Discussion after adding</h3>
  {{control "forms/discussion" justAddedDiscussion}}
</div>
