<div class="block">
  <h2>Widgets</h2>

  <p>
    Date Picker <span class="muted">(Currently Selected: {{date}})</span></br>
    {{view Radium.DatePicker class="field" dateBinding="date"}}
  </p>

  <p>
    User Picker <span class="muted">(Currently Selected: {{user}})</span></br>
    {{view Radium.UserPicker class="field"}}
  </p>
</div>
