<div class="pull-right notification-item-actions">
  <!--<button class="btn btn-small btn-link">Snooze</button>-->
  <button class="btn btn-small" {{action deleteNotification}}>Dismiss</button>
</div>
