<div {{action expandFeedItem view.reference}} class="content">
  {{view.description}} at

  {{! TODO: change this to 'time in words'}}
  {{#with view.date}}
    {{formatTime this}}
    {{formatDate this}}
  {{/with}}
</div>
