<div {{action expandFeedItem view.reference}}>
  <span class="headline">
    {{view.description}}
  <span>

  {{! TODO: change this to 'time in words'}}
  {{#with view.date}}
    <span class="time">
      {{time this}}
      {{formatDate this}}
    </span>
  {{/with}}
</div>
