<div class="alert">
  <div class="page-header">
    <h1>All That Hard Work For Nothing</h1>
  </div>

  <h2>{{currency value}} down the Drain :(</h2>

  <img src="http://www.toomanymornings.com/wp-content/uploads/2009/06/money-down-the-drain1.jpg" />

  <h2>Better luck next time</h2>
</div>
