<h4>The contact import job has completed</h4>
<p>File Name: {{reference.fileName}}</p>
<p>Uploaded At: {{formatDateTime reference.createdAt format="full"}}</p>
<h4>Click {{#link-to 'addressbook.contactimportjobs' reference}}here{{/link-to}} to view.</h4>
