<h4>You have have a new meeting invitation</h4>
{{resource-link-to reference.meeting}}
<div class="pull-right notification-item-actions">
  <button class="btn btn-success" {{action "accept"}}>Accept</button>
  <button class="btn btn-danger" {{action "reject"}}>Reject</button>
</div>
