#main-panel.calendar-panel {
  margin: 0 20px;
}

.calendar-navigation {
  h3 { 
    text-align: center;
    width: 50%;
    margin: 0 auto;

    // related to centering the header vertically
    margin-bottom: 5px;
    line-height: 24.5px;
  }
}

.calendar {
  width: 100%;
  border-spacing: 4px;
  border-collapse: separate;

  td {
    background-color: $bright;
  }

  .is-different-month {
    background-color: $dark-background;

    .btn-slab {
      border-color: darken($dark-background, 15);
    }
  }

  .is-today {
    background-color: #c3e3ba;

    .btn-slab {
      border-color: darken(#adde9f, 15);
    }
  }

  .date {
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: lighten($dark-text, 45);
    line-height: 11px;
  }

  .wrapper {
    padding: 4px;
    min-height: 100px;
  }

  .day ul {
    list-style: none;
    margin: 0;

    li {
      font-size: 11px;
      line-height: 11px;
    }
  }

  .btn-slab {
    border-top: solid 1px $dark-background;
    display: block;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: none;
  }
}
