.calendar {
  .day-headers, .days {
    padding: 0;
    margin: 0;
  }

  .day-headers li, .days li {
    list-style-type: none;
    float: left;
    width: 14%;
    height: 1.5em;
    margin: 0;
    padding: 0;
  }

  .days li {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }

    &.other-month {
      color: #aaa;
    }
  }

  .months li {
    list-style-type: none;
    float: left;
    width: 49%;
    height: 1.5em;
    margin: 5px 0 0 0;
    padding: 0;
    cursor: pointer;
  }
}
