$bright: #fff;
$background: #f3f3f3;
$dark-background: #d9dada;
$light-background: #ededed;
$selected-item: #e7e7e7;
$selected-item-border: #dbdbdb;

$text: #262626;
$light-text: lighten($text, 35);
$dark-text: darken($text, 25);

//notifications
$notifications-bg: #888;
$notifications-border: #444;

$sidebar-read: #999;
$sidebar-read-selected: darken($sidebar-read, 30);
$sidebar-read-active: darken($sidebar-read, 30);
