$bright: #fff;
$background: #f3f3f3;
$dark-background: #d9dada;
$light-background: #ededed;
$selected-item: #e7e7e7;
$selected-item-border: #dbdbdb;


//sidebar
$sidebar-bg: #eee;

//inbox
$inbox-sidebar: #333;
$inbox-bbotom: darken($sidebar-bg, 8);

$inbox-li-hover-bg: lighten($sidebar-bg, 4);
$inbox-li-hover: lighten($inbox-sidebar, 50);

$sidebar-active-bg: darken($sidebar-bg, 8);
$sidebar-active: darken($inbox-sidebar, 50);

$sidebar-active-hover-bg: lighten($sidebar-bg, 4);
$sidebar-active-hover: lighten($inbox-sidebar, 50);

$sidebar-selected: #c2e1f5;
$sidebar-selected-active: darken($sidebar-selected, 15);

$sidebar-read-bg: lighten($sidebar-bg, 3);
$sidebar-read: #999;
