.contact-card {
  p {
    margin: 0;
  }

  &.selected {
    background: whiteSmoke;
  }
}

.contact-card-inner {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.contact-avatar {
  width: 40px;
  position: relative;
  float: left;

  .inline-checkbox {
    padding: 2px 5px;
    position: absolute;
    top: 5px;
    left: -25px;
    display: none;

    label {
      margin: 0;
    }
  }
}

.contact-card:hover .inline-checkbox,
.contact-card.selected .contact-avatar .inline-checkbox {
  display: block;
}

.contact-details {
  width: 540px;
  float: left;
}