@import "compass/css3";

.feed {
  width: 100%;
  clear: both;
  margin: 0 0 100px;

  .feed-row {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #EEE;
    background-color: #fff;
    @include transition(background-color 0.75s ease-in);

    &.pushed {
      background-color: #FBEED5;
    }

    p {
      margin-top: 9px;
    }
  }
}

#main-feed {
  position: relative;
}

#feed {

 .page-header h2 small {
    float: right;
    font-weight: bold;
    position: relative;
    top: 12px;
  }

  section {
    margin-bottom: 25px;
  }

  & > section {
    clear: both;
  }
}

.feed-cluster {
  cursor: pointer;

  .feed-item {
    margin-bottom: 18px;
  }
}

.feed-header {
  padding: 5px 0;
  position: relative;
  cursor: pointer;

  i.feed-expand-icon {
    margin-left: 10px;
    @include opacity(0);
    @include transition(opacity 0.2s ease-in);
  }

  &:hover,
  .expanded & {
    background-color: #f7f7f9;

    i.feed-expand-icon {
      @include opacity(1);
    }
  }

  .activity-icon {
    margin-right: 10px;
  }
}

.feed-info {
  clear: both;
  margin: {
    bottom: 10px;
  };
  border-bottom: 1px solid #ECECEC;
}

.feed-item {
  width: 698px;
  margin: 0 0 2px;
  border: 1px solid transparent;

  .create-form {
    width: 700px;
    position: absolute;
    left: 0;
    z-index: 999;
    top: 30px;

    .well {
      @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }
  }

  &.expanded {
    border: 1px solid #ECECEC;

    .feed-header {
      background-color: #ECECEC;

      i.feed-expand-icon {
        @include opacity(1);
      }
    }

    p.feed-actions {
      display: block;

      a {
        margin-left: 8px;
      }
    }
  }

  &.historical {
    opacity: 0.64;

    i.activity-icon {
      margin-right: 10px;
    }
  }

  .is-today &,
  &.expanded.historical,
  &.historical:hover {
    opacity: 1;
  }

  p {
    margin: 0;
  }

  .feed-description {
    position: relative;

    .activity-action-btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  p.feed-actions {
    position: absolute;
    top: 5px;
    right: 10px;
    padding-left: 10px;
    background: #F7F7F9;

    select {
      width: 140px;
    }
  }

  .label {
    text-transform: uppercase;
    top: -2px;
    position: relative;
  }

  .timestamp {
    color: #898989;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.feed-item-container,
.contact-card-container {
  .well {
    width: 660px;
    margin-left: 20px;
    position: relative;
    float: left;
  }

}.edit-meeting {
  select {
    width: 100px;

    &.meridian-select {
      width: 55px;
    }
  }
}

.overdue,
.overdue .timestamp,
.overdue .content p {
}

.finished .content {
  text-decoration: line-through;
}


/*
  Feed filters
  ===================
*/
.filters {
  li {
    line-height: inherit;
  }

  span.label {
    float: right;
  }
}

.enabled .filter {
  font-weight: bold;
}

.filter.disabled {
  color: gray;
  opacity: 0.75;
}

li.main-filter-item {
  &.active {
    a,
    a:hover {
      border-right: none;
    }
  }

  i {
    margin-right: 5px;
  }

  i.icon-plus {
    @include opacity(0);
    @include transition(opacity 0.25s ease-in);
  }

  &:hover i.icon-plus {
    @include opacity(1);
  }
}

/*
  =============================
  Specific feed item
  =============================
*/
.todos {
  input[type=checkbox] {
    display: inline-block;
    margin-right: 5px;
  }
}
