.form {
  padding-left: 0;

  button.btn{
    i[class^="ss-"] {
      font-size: 14px;
      position: relative;
    }

    i.ss-dropdown,
    i.ss-directup {
      font-size: 9px;
      color: #2b2b2b;
    }
  }

  &.well {
    @include box-shadow(none);
    @include border-radius(0);
  }

  .page-header{
    input{
      font-size: 26px;
      font-weight: bold;
      height: 29px;
      position: relative;
      top: -7px;
      left: -7px;
    }
  }

  .status-icon{
    position: absolute;
    top: 0;
    right: 0;
  }

  .inline-editor{
    position: relative;

    &:hover{
      .ss-write {
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  .primary {
    background-color: $input;
    border: solid 1px $border;
    line-height: 48px;

    a, a:focus, a:visited {
      color: #4d4d4d;
      outline: none;
    }

    .checker,
    .form-icon {
      width: 34px;
      text-align: center;
      line-height: 46px;
      height: 46px;

      i {
        font-size: 15px;
      }
    }

    &.is-finished {
      border-color: #cecece;
      background-color: #e8e8e8;
      color: #c5c5c5;

      a {
        color: #c5c5c5;
      }

      .checker,
      .inline-form-icon,
      .form-box-comments-icon {
        color: #cecece;
      }

      &::after {
        width: 96%;
        content: '';
        position: absolute;
        height: 1px;
        background-color: #797979;
        margin: 0 auto;
        left: 2%;
        top: 50%;
      }
    }

    .reference-meta {
      margin: 0 40px;
      line-height: 1;

      p {
        margin: 5px 0;
        color: $muted;
      }

      a {
        font-weight: 400;
        color: $muted;
        font-size: 16px;
      }

      i {
        position: relative;
        top: 2px;
        color: $muted;
      }
    }
  }

  &.has-reference,
  &.is-expanded {
    .primary {
      @include border-radius(3px 3px 0 0);
    }
  }

  &.is-expanded {

    .form-box-comments-icon {
      color: $link;
    }
  }

  &.just-added {
    .primary {
      background-color: $green;
      color: $bright !important;
    }

    .mention-field-view textarea,
    textarea,
    a {
      color: $bright !important;
    }

    .checker label,
    .inline-form-icon {
      color: $bright;
    }
  }
  .ss-write {
    opacity: 0;
    font-size: 12px;
    @include transition(opacity 0.25s);
    position: relative;
    top: 2px;
  }

}

.reference-meta {
  position: relative;

  a {
    font-weight: bold;
    color: $blue;
  }

  i {
    position: relative;
    top: 2px;
    color: $muted;
  }
}

.has-reference > .reference-meta {
  padding: 15px 20px;
  position: relative;
  background: #f6f6f6;
  border: solid 1px $dark-background;
  border-top: none;
  @include box-sizing(border-box);
  @include border-radius(0 0 3px 3px);
  @include box-shadow(0 2px 1px rgba(black, 0.1));

  p {
    margin: 0;
    line-height: 30px;
  }
}

.success-message {
  margin-right: 10px;
  line-height: 30px;
  color: #fff;
}

.overdue-alert {
  color: $red;

  i {
    position: relative;
    top: 3px;
  }
}

.form-box-comments-icon {
  font-size: 20px;
  color: $muted;
}

.form-box {
  margin: 0 0 20px;
  display: -webkit-flex;
  display: flex;
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  width: 100%;
  display: inline-block;

  .form-container {
    flex: 1;
    @include box-flex(1);

    .is-expandable {
      padding-left: 0;

      .primary {
        width: 90%;
      }
    }
  }

  .form-box-controls {
    @include box-flex(0);
    display: inline-block;
    z-index: 9;
    position: relative;
    top: 0;

    a {
      color: $text;
      padding: 15px 30px;
      display: inline-block;

      &.active {
        background: white;
        border: 1px solid $border;
        border-bottom: 1px solid white;
      }

      i {
        position: relative;
        top: 2px;
        margin-right: 6px;
      }
    }
    .btn-primary {
      padding: 13px 32px;
    }
  }

  .form-switcher,
  .form-switcher-small {
    margin-left: 10px;

    > .dropdown-menu > li > a {
      line-height: 30px;
      font-size: 14px;

      i {
        margin-right: 16px;
        color: $green;
      }
    }
  }

  .form-switcher {
    float: right;
    margin-top: 9px;

    a {
      text-decoration: none;
    }
    a {
      color: $muted;
      font-size: 140%;
    }

    a:hover, a.active {
      color: $black;
    }
  }

  .form-switcher-small {
    margin-top: 5px;

    .ss-standard {
      position: relative;
      top: 2px;
    }
  }
}

.expanded-fields {
  float: left;
  background-color: white;
  width: calc(100% - 30px);
  z-index: 9;
  position: relative;

  .field {
    height: 46px;

    .prepend-group {
      float: left;
      height: auto;
      line-height: 46px;
      margin-left: 10px;

      .btn {
        padding: 0;
        height: 46px;

        i {
          top: 3px;
        }
      }
    }
    .text {
      float: left;
      line-height: 46px;
      padding-right: 15px;
    }
    &.autocomplete-textbox-component {

      input[type=text] {
        width: calc(100% - 164px);
      }
    }
  }
  .control-box {
    width: auto;
  }

  .form-row {

    &:last-child,
    &:last-of-type {
      border-bottom: none;
    }
  }

  .tasks-container {
    margin: 30px 0 10px 0;

    hr {
      margin: 10px 0;
    }
  }

  .block {
    border: {
      right: none;
      left: none;
    }
  }

  .comments {
    margin-bottom: 0;
    border: {
      right: none;
      bottom: none;
      left: none;
    }
    @include border-radius(0 0 3px 3px);
  }
}

.field-group {
  margin: 5px 0;
  clear: both;
}

.icon-label {
  float: left;
  margin-right: 10px;
  top: 13px;
  left: 6px;
  position: relative;
  color: #c4c4c4;

  i {
    position: relative;
    top: 2px;
  }
}

.field-group-input {
  float: left;

  input[type=text] {
    padding-left: 32px;
    border-radius: 0px;
    box-shadow: none;
    height: 46px;
    width: 420px;
  }
  + .clearfix {
    float: left;
    height: 46px;
    line-height: 46px;
    margin-left: 10px;
  }
}

.inline-form-icon {
  display: inline-block;
  position: relative;
  top: 2px;
  font-size: 20px;
  color: #cecece;
}

.button-row {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid $control-border-color;
}

.form-buttons {
  clear: both;
  overflow: hidden;

  .btn-link {
    color: #2b3839;
  }
}

.btn-block {
  display: block;
  box-sizing: border-box;
}

.inline-contact-name {
  margin-right: 10px;
  font-size: 18px;
  line-height: 30px;
}

/*
  Form used on new leads/deals, but can be used for anything long.
  Kept as a separate class so we don't conflict with inline forms that
  may need to be smaller.
*/
.main-form {
  input.field {
    height: 25px;
  }

  .control-group {
    margin-bottom: 20px;
  }

  .multiple-field {
    padding: 0;
  }
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  vertical-align: middle;
  background: url('http://res.cloudinary.com/radium/image/upload/v1429231395/checkbox_izmaas.png') -40px top no-repeat;
  cursor: pointer;
}
input[type="checkbox"] + label span:hover {
  background: url('http://res.cloudinary.com/radium/image/upload/v1429231395/checkbox_izmaas.png') -20px top no-repeat; 
}
input[type="checkbox"]:checked + label {
  color: $blue;

  span {
    background: url('http://res.cloudinary.com/radium/image/upload/v1429231395/checkbox_izmaas.png') 0px top no-repeat;
  }
}


input[type="radio"] {
  display: none;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 7px 0 0;
  vertical-align: middle;
  background: url('http://res.cloudinary.com/radium/image/upload/v1430329314/radio_qzb9wv.png') -40px top no-repeat;
  cursor: pointer;
}
input[type="radio"] + label span:hover {
  background: url('http://res.cloudinary.com/radium/image/upload/v1430329314/radio_qzb9wv.png') -20px top no-repeat; 
}
input[type="radio"]:checked + label {
  color: $blue;
  
  span {
    background: url('http://res.cloudinary.com/radium/image/upload/v1430329314/radio_qzb9wv.png') 0px top no-repeat;
  }
}

.autocomplete-textbox {
  width: 455px;
}



.form-container {
  width: calc(100% - 43px);
  display: inline-block;
  background: white;
  border: 1px solid $border;
  z-index: 2;
  position: relative;
  top: -2px;
  padding: 20px;

  .forms-todo-view {
    display: inline-block;
    float: left;
    line-height: 1;
    width: 80%;

    .todo {
      margin: 0 0 0 20px;

      textarea {
        font-size: 16px;
      }
    }
    .expanded-fields {
      width: 120%;

      .btn-primary {
        display: none;
      }
    }
    ~ .form-box-controls {
      float: right;
    }
  }

  .email-form-component {

    .email-form {
      border: 0px;
    }

    ~ .form-box-controls {

      .btn-primary {
        display: none;
      }
    }
  }

  button.finish-todo {
    display: none;
  }
  .todo-form {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;

    .primary {
      width: 77%;
      min-width: 470px;
      float: left;
    }
    .btn-options {
      float: left;
      margin-left: 20px;
      line-height: 47px;
    }

    &.is-expanded {

      .control-box {
        width: 330px;
      }
    }
  }
  
  .note-form {
    width: 70%;
    float: left;
    padding-left: 0;

    ~ .form-box-controls {
      float: right;
    }
  }

}


.forms-meeting-view {

  .meeting-form {
    padding-left: 0;

    .primary {
      display: inline-block;
      width: 100%;
      line-height: 48px;

      .btn-link {
        margin-left: 15px;

        &:focus {
          text-decoration: none;
        }
      }
      .icon {
        float: left;
        margin-left: 15px;

        i {
          position: relative;
          top: 2px;
        }
      }
      .meeting
    }
    .field-group {

      .field {
        float: left;

        i {

          &.ss-location {
            float: left;
            font-size: 18px;
            position: relative;
            top: 16px;
            left: 7px;
          }
        }
      }
      .starts-at {
        margin-right: 20px;
      }
      .meeting-to {
        float: left;
        display: inline-block;
        line-height: 48px;
        padding: 0 10px;
      }
    }
    .expanded-fields {
      margin-top: 10px;

      .form-row {
        display: inline-block;
        float: left;
        clear: both;
        width: 100%;

        .field-group {
          display: inline-block;
          position: relative;

          label {
            position: absolute;
          }
        }
      }
      .field {

        &.autocomplete-textbox-component {
          width: 420px;

          input[type=text] {
            width: calc(100% - 84px);
            margin-left: 3px;
          }
        }
      }
    }
    .meeting-form-invite {

      .autocomplete {
        width: 380px;
        
        > ul {
          border-radius: 0px;
        }
      }
      .pull-right {
        line-height: 46px;

        .btn {
          background: none;
        }
      }
    }
  }

  ~ .form-box-controls {
    display: none;
  }
  .upload-button {
    display: none;
  }

  .comments-view {
    width: 100%;
    display: inline-block;
  }
}



.task-list {

  h3 {
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
  .is-expandable {
    display: inline-block;
    width: calc(100% - 20px);
  }

  .forms-todo-view {

    .primary {
      width: calc(100% - 35px);
    }
  }
  .meeting-form-container {

    .primary {
      display: table;

      .icon,
      .topic,
      .additional {
        display: table-cell;
      }

      .icon {
        width: 5%;

        i {
          position: relative;
          top: 2px;
          color: $icon;
        }
      }
      .topic {
        width: 85%;
      }
      .additional {
        vertical-align: top;
        width: 10%;
        padding-top: 2px;
        border-radius: 0;

        a {

          i {
            color: $icon;
          }
        }
      }
    }
  }
}

