ul.messages{
  list-style: none;
  li{
    position: relative;
  }
  li > div{
    padding: 3px 1px;
    small{
      font-size: 9px;
      position: relative;
      float: right;
      top: -18px;
      right: 4px;
    }
    > div{
      display: table-cell;
      padding-left: 6px;
    }
    cursor: pointer;
    div:first-child{
      input[type=checkbox]{
        position: absolute;
        top: 4px;
        left: 2px;
        @include opacity-transition(0, 0.7s);
      }
      img{
        position: relative;
        top: 10px;
        @include opacity-transition(1, 0.3s);
        border-radius: 5px;
      }
    }
    div:nth-child(2){
      i.icon-paperclip{
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
      i.icon-trash{
        position: absolute;
        top: 4px;
        right: 20px;
        @include opacity-transition(0, 0.7s);
      }
      p{
        word-wrap: break-word;
      }
    }
  }
  li:hover{
    div:first-child{
      img{
        @include opacity-transition(0, 0.7s);
      }
      input[type=checkbox]{
        @include opacity-transition(1, 0.3s);
      }
    }
    div:nth-child(2){
      i.icon-paperclip{
        opacity: 0;
      }
      i.icon-trash{
        opacity: 1;
      }
    }
  }
  li.active, li.active.read{
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
  }
  li.read{
    div:nth-child(2) p{
      color: $sidebar-read;
    }
  }
  li.checked, li.read.checked{
    color: $sidebar-read-checked;
  }
  li.checked.active, li.checked.read.active{
    color: $sidebar-read-active;
  }
}
