img.avatar{
  border-radius: 6px;
}
div.selection{
  div.alert{
    margin-bottom: 5px;
    > div{
      display: table-cell;
    }
    div:nth-child(6){
      width: 150px;
      text-align: right;
    }
  }
  div.alert:last-child{
    margin-bottom: 18px;
  }
}
div.email{
  div:first-child{
    margin-bottom: 4px;
  }
  div:nth-child(2):not(.btn-group){
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    margin-bottom: 5px;
    strong{
      line-height: 1;
      color: #999;
      font-size: 20px;
    }
  }
  div.well.body{
    padding: 8px;
  }
}

.icon-undo,.icon-redo,.icon-forward,.icon-reply,.icon-reply-2,.icon-attachment,.icon-forward-2,.icon-paperclip {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/email.png);
  background-repeat: no-repeat;
}
.icon-undo {
  background-position: 0 0;
}
.icon-redo {
  background-position: -32px 0;
}
.icon-forward {
  background-position: -64px 0;
}
.icon-reply {
  background-position: -96px 0;
}
.icon-reply-2 {
  background-position: -128px 0;
  width: 18px;
}
.icon-attachment {
  background-position: -160px 0;
  height: 15px;
}
.icon-forward-2 {
  background-position: -192px 0;
}
.icon-paperclip {
  background-position: -224px 0;
  height: 16px;
}

.attachments {
  margin: 15px 0;
}

.email-actions {
  table{
    td:nth-child(1){
      width: 35px !IMPORTANT;
    }
  }
}

.email-actions div.comments .comments div.span5{
  position: relative;
  left: -98px;
  top: -20px;
}

#email-panel {
  padding-bottom: 40px;
}

#remaining-emails {
  #show-more {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
  }
}
