img.avatar{
  border-radius: 6px;
}
div.selection{
  div.alert{
    margin-bottom: 5px;
    > div{
      display: table-cell;
    }
    div:nth-child(6){
      width: 150px;
      text-align: right;
    }
  }
  div.alert:last-child{
    margin-bottom: 18px;
  }
}

.email {
  .avatar {
    float: left;
    margin-right: 15px;
  }
}

.attachments {
  margin: 15px 0;
}

.email-actions {
  table{
    td:nth-child(1){
      width: 35px !IMPORTANT;
    }
  }
}

.email-actions div.comments .comments div.span5{
  position: relative;
  left: -98px;
  top: -10px;
}

.action-group{
  .btn:first-child{
    border: 1px solid red;
  }
}

#email-panel {
  padding-bottom: 40px;
}

.btn-full-width {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

#folders li {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: $bright !important;

  .thumbnail {
    background-color: $background;
    border-color: black;
    box-shadow: 0 1px 15px black;
    margin-bottom: 10px;
  }

  .label {
    box-shadow: 0 1px 15px black;
  }
}
