#folder-name{
  margin-bottom: 5px;
  margin-left: 5px;
}
#sidebar-email-actions{
  padding: 0 0 5px 5px;
}
div.email-toolbar{
  margin: 0 0 0 25px;
  background-color: darken($bright, 4);
  position: relative;
  border-bottom: solid 1px $dark-background;
  border-top: solid 1px $dark-background;
  z-index: 89;
}
ul.messages{
  list-style: none;
  li{
    position: relative;
  }
  li.selected > div{
    i.icon-trash, i.icon-paperclip{
      right: 17px !IMPORTANT;
    }
    small{
      right: 7px;
    }
  }
  li > div{
    padding: 3px 1px;
    small{
      font-size: 9px;
      position: relative;
      float: right;
      top: -8px;
      right: 0px;
    }
    > div{
      display: table-cell;
      padding-left: 6px;
    }
    cursor: pointer;
    div:first-child{
      input[type=checkbox]{
        position: absolute;
        top: 4px;
        left: 2px;
        @include opacity-transition(0, 0.7s);
      }
      img{
        position: relative;
        top: 10px;
        @include opacity-transition(1, 0.3s);
        border-radius: 5px;
      }
    }
    div:nth-child(2){
      i.icon-paperclip{
        position: absolute;
        top: 8px;
        right: 10px;
      }
      i.icon-trash{
        position: absolute;
        top: 4px;
        right: 10px;
        @include opacity-transition(0, 0.7s);
      }
      p{
        word-wrap: break-word;
      }
    }
  }
  li:hover{
    div:first-child{
      img{
        @include opacity-transition(0, 0.7s);
      }
      input[type=checkbox]{
        @include opacity-transition(1, 0.3s);
      }
    }
    div:nth-child(2){
      i.icon-paperclip{
        opacity: 0;
      }
      i.icon-trash{
        opacity: 1;
      }
    }
  }
  li.active, li.active.read{
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
  }
  li.read{
    div:nth-child(2) p{
      color: $sidebar-read;
    }
  }
  li.checked, li.read.checked{
    font-weight: bold;
    color: $sidebar-read-checked;
  }
  li.checked.active, li.checked.read.active{
    font-weight: bold;
    color: $sidebar-read-active;
  }
}
