body {
  background: none;
}

.page-view {
  padding: 60px 0;
}

$sidebar-width: 370px;
$sidebar-border-size: 8px;
$button-bar-width: 40px;
$two-column-gutter: 60px;
$drawer-width: $sidebar-width;

@import "layout/topbar";
@import "layout/drawer";
@import "layout/button_bar";
@import "layout/block";
