body {
  background-color: $background;
}

#main, #navbar-container {
  margin: 0 20px;
}

#sidebar {
  position: fixed;
  top: 40px;
  bottom: 0;
  margin-left: 0;
  padding-top: 20px;
  padding-left: 20px;
  background-color: $dark-background;
  border-right: solid 1px darken($dark-background, 25);
  // FIXME: why doesn't this work with the box shadow mixin?
  -webkit-box-shadow: 3px 0px 5px -2px darken($dark-background, 15)
}

#main-panel {
  padding-top: 40px;
}
