.sidebar {
  width: 370px;
  position: fixed;
  top: 47px;
  left: 40px;
  bottom: 0;
  z-index: 9;
  border-right: 1px solid $control-border-color;
  background: #e9e9e9;
  @include transition(transform 0.25s);
  @include translateX(0);

  @include breakpoint(landscape) {
    width: 290px;
  }

  @include breakpoint(portrait) {
    width: 220px;
    @include translateX(-290px);
  }

  .meta h1,
  .page-header h1{
    font-size: 26px;
    line-height: 26px;
    .icon-edit{
      font-size: 12px;
    }
  }

  .icon-call,
  .icon-mail{
    position: relative;
    top: 2px;
  }


  .meta {
    overflow: visible;
    min-height: 75px;
    .avatar {
      float: left;
      margin-right: 10px;
    }

    .title {
      font-style: italic;
    }

    .company-picker,
    .contact-picker{
      width: 250px;
      position: relative;
      left: -8px;
      top: -5px;
      height: 33px;
      border: 1px solid $control-border-color;
      margin-bottom: 13px;
      input{
        font-weight: bold;
        font-size: 18px;
        padding-left: 5px;
        padding-top: 3px;
      }
      .btn-group{
        float: right;
        position: absolute;
        right: 1px;
      }
    }
  }

  .company-type,
  .contact-type{
    height: 30px;
    width: 100%;
    position: relative;
  }

  .inline-editor-closed{
    .icon-cloud{
      position: relative;
      top: 2px;
    }
  }

  .inline-editor-open{
    .icon-cloud{
      position: relative;
      top: -3px;
    }
  }

  .notes {
    .icon-edit{
      position: relative;
      top: 19px;
    }

    .inline-editor-closed{
      span{
        position: relative;
        top: 5px;
        left: 1px;
      }
    }

    textarea{
      width: 92%;
      padding-left: 0;
    }
  }

  .add-files{
    width: 100%;
  }

  .address{
    .icon-edit{
      position: relative;
      top: 13px;
    }

    .readonly{
      margin-left: 10px;
    }
  }
}

.sidebar-panel {
  margin: 0 0 2px;
}

.sidebar-table {
  td {
    border: none;
  }
}

.sidebar-panel-grey {
  .sidebar-panel-content {
    text-shadow: 0 1px 0 rgba(black, 0.25);
    color: #fff;
    background: #797979;
  }

  a:not(.btn) {
    color: #fff;
    text-decoration: underline;
  }
}

.sidebar-panel-header {
  padding: 0 18px;
  border-top: 1px solid $selected-item-border;
  vertical-align: middle;
  background: #e8e8e8;

  .btn,
  .upload-file-btn {
    margin-top: 2px;
  }
}

.sidebar-panel-title {
  margin: 0;
  line-height: 32px;
  text-shadow: 0 1px 0 rgba(white, 0.2);

  i[class*="ss"] {
    font-size: 14px;
    margin-right: 3px;
    position: relative;
    top: 2px;
    color: $link;
  }
}


.sidebar-panel-content {
  padding: 18px;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid $control-border-color;
  color: #6e6e6e;

  &:last-child {
    border-bottom: none;
  }

  .name {
    margin: 0;
  }

  a:not(.btn) {
    color: darken(#6e6e6e, 10%);
  }
}

.sidebar-panel-header {
  i.ss-write {
    margin: 5px 10px 0 0;
    color: $link;
  }
}

.contact-types-list {
  margin: 0 0 10px;

  .btn-remove-field {
    padding-left: 0;
  }

  dt {
    width: 40px;
    text-align: left;

    i {
      position: relative;
      top: 2px;
    }
  }

  dd {
    margin-left: 40px;

    .field {
      margin: 0;
    }
  }
}

.btn-follow {
  margin: 10px 0 0;
}

.user-avatar {
  margin-right: 20px;
}

/* Attachments */
.attachment-item-icon {
  font-size: 20px;
  color: $link;
}

.attachment-item-content {
  margin-left: 40px;
}

.attachment-item-footer {
  small {
    display: block;
  }
}