.sidebar{
  .meta h1,
  .page-header h1{
    font-size: 26px;
    line-height: 26px;
    .icon-edit{
      font-size: 12px;
    }
  }

  .meta {
    overflow: visible;
    .avatar {
      float: left;
      margin-right: 10px;
    }

    .name {
      font-weight: bold;
      font-size: 18px;
    }

    .title {
      font-style: italic;
    }

    .company-picker,
    .contact-picker{
      width: 250px;
      position: relative;
      left: -8px;
      top: -5px;
      height: 33px;
      border: 1px solid $control-border-color;
      margin-bottom: 13px;
      input{
        font-weight: bold;
        font-size: 18px;
        padding-left: 5px;
        padding-top: 3px;
      }
      .btn-group{
        float: right;
        position: absolute;
        right: 1px;
      }
    }
  }

  .company-type,
  .contact-type{
    height: 30px;
    width: 100%;
    position: relative;
  }

  h2 {
    text-transform: uppercase;
    font-size: 12px;
  }

  .inline-editor-closed{
    .icon-cloud{
      position: relative;
      top: 2px;
    }
  }

  .inline-editor-open{
    .icon-cloud{
      position: relative;
      top: -3px;
    }
  }

  .about{
    .icon-edit{
      position: relative;
      top: 19px;
    }

    .inline-editor-closed{
      span{
        position: relative;
        top: 5px;
        left: 1px;
      }
    }

    textarea{
      width: 92%;
      padding-left: 0;
    }
  }

  .add-files{
    width: 100%;
  }

  .address{
    .icon-edit{
      position: relative;
      top: 13px;
    }

    .readonly{
      margin-left: 10px;
    }

    .multiple-field{
      .add-new{
        width: 100%;
        .icon-plus{
          position: absolute;
          right: 0;
          top: -25px;
        }
      }
    }
  }


}
