a {
  cursor: pointer;
}
/*
  Components
  =======================
*/
/* Extend bootstrap button for loading indicator */
html {
  // overflow-y: scroll;
  height: 101%;
}

.btn-primary {
  i {display: none;}
  &.is-submitting i {
      display: inline-block;
      margin-right: 5px;
    }
}

span.progress {
  display: none;
}

img.avatar {
  border: solid 1px #ddd;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

/* Inline edit textfield indicator */
.editable {
  cursor: pointer;
  &:hover {
    background-color: #FCF8E3;
  }
}

.label {
  -webkit-transition: background-color 0.25s ease-out;
}

#search-box {
  color: black;
  height: 32px;
  font-size: 18px;
}

/*
  Alphabetized list buttons
  =============================
*/
#alpha .btn {
  width: 28px;
  padding-left: 0;
  padding-right: 0;
}

#alpha .btn:last-child {
  width: 25px;
}
