/* Logged in user or account owner pane in the top left */
#owner {
  margin-bottom: 10px;
  
  img.avatar {
    height: 70px;
    width: 70px;
    margin: 0 10px 0 0; 
    border-radius: 6px;
    float: left;
    border-color: #8a8a8a;
  }

  #owner .name {
    font-weight: bold;
    font-size: 14px;
  }
}

#user-list {
  a {
    line-height: 32px;
    i {
      margin: 7px 0 0;
    }
  }

  img {
    margin-right: 10px;
    float: left;
  }
}