$bright: #fff;
$background: #f3f3f3;
$dark-background: #d9dada;
$light-background: #ededed;
$disabled: #eeeeee;
$link: #3887e6;

$selected-item: #e7e7e7;
$selected-item-border: #dbdbdb;

$dark-selected-item: #666666;

$text: #262626;
$blue: #0088cc;
$green: #57ad32;
$money: #468847;
$muted: #777;
$lightness: #979797;
$dark: darken($text, 25);
$black: black;
$red: #c60436;

$associated-blue: #d5f7ff;
$secondary-selection: #eff3f7;

// Forms
$control-border-color: #dedede;
$valid-input-border: darken(#dedede, 5%);

$alerts-layer: 1000;

$error-background: #fce2df;
$error-border: #df9b9d;

$border:  #cacaca;
$light-state: #f9f9f9;
$regular-state: #f9f9f9;
$active-state: #4b4b4b;
$link-color: #6fbf4d;
$highlight: #57ad32;

$calendar-active-bg: #ebf3fc;
$calendar-active: #3290e5;