$bright: #fff;
$background: #f3f3f3;
$dark-background: #d9dada;
$light-background: #ededed;

$selected-item: #e7e7e7;
$selected-item-border: #dbdbdb;

$dark-selected-item: #666666;

$text: #262626;
$light-text: lighten($text, 35);
$dark-text: darken($text, 25);

$blue: #0088cc;
$green: #00e710;
$muted: #ccc;
$black: black;

$associated-blue: #d5f7ff;
$secondary-selection: #eff3fb;

// Forms
$control-border-color: #c5c5c5;
$valid-input-border: #999898;
$success-green: #09E409;

//notifications
$notifications-bg: #888;
$notifications-border: #444;

$alerts-layer: 1000;
