$bright: #fff;
$background: #f3f3f3;
$dark-background: #d9dada;
$light-background: #ededed;

$selected-item: #e7e7e7;
$selected-item-border: #dbdbdb;

$dark-selected-item: #666666;

$text: #262626;
$blue: #0088cc;
$green: #00e710;
$money: #468847;
$muted: #ccc;
$dark: darken($text, 25);
$black: black;

$associated-blue: #d5f7ff;
$secondary-selection: #eff3fb;

// Forms
$control-border-color: #c5c5c5;
$valid-input-border: #999898;

$alerts-layer: 1000;

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.money {
  color: $money;
}

.muted {
  color: $muted;
}

.dark {
  color: $dark;
}

.black {
  color: $black;
}

.associated-blue {
  background-color: $associated-blue;
}

.secondary-selection {
  background-color: $secondary-selection;
}
