@import "compass/css3";

@import "variables";

@import "mixins/cssarrow";
@import "mixins/shadowed";

@import "layout";

@import "components/alerts";
@import "components/avatars";
@import "components/comments";
@import "components/notifications";
@import "components/scroller";
@import "components/thumbnail_drawer";
@import "components/buttons";
@import "components/modal";
@import "components/inline_editor";
@import "components/table_list";
@import "components/comma_separated";
@import "components/icons"

@import "forms";
@import "forms/dropdown_menu";
@import "forms/mention_field";
@import "forms/autocomplete_list";
@import "forms/fields";
@import "forms/checker";
@import "forms/control_box";
@import "forms/datepicker";
@import "forms/userpicker";

@import "forms/todo";
@import "forms/call";
@import "forms/discussion";
@import "forms/meeting";

@import "routes/calendar";
@import "routes/messages";
@import "routes/pipeline";
@import "routes/deal";

#unimplemented{
  text-align: center;
}

.fixme {
  color: red;
  font-weight: bold;
}

// Twitter bootstrap does handle this correctly
// it uses border size and turns it off. This 
// may behave weirdly when turning borders/outlines
// on off
.btn-link {
  border-width: 0px;
}
