@import "compass/css3"; body {
  padding-top: 60px;
  &.loaded {
    background: #fff url('/images/base/bg-grey.gif') repeat-y center top;
  }
}

.navbar {
  .nav {
    > li {
      line-height: 26px;
      > a {
        line-height: 26px;
      }
    }
  }

  .btn {
    margin-top: 9px;
  }
}

#mini-loader {
  position: fixed;
  bottom: -70px;
  left: 50%;
  padding-right: 14px;
}

.icon-call,
.icon-call-list,
.icon-todo,
.icon-contact,
.icon-assigned,
.icon-add-todo,
.icon-edit,
.icon-campaign,
.icon-comments,
.icon-meeting,
.icon-deal,
.icon-mail,
.icon-overdue {
  width: 16px;
  height: 16px;
  background: {
     repeat: no-repeat;
     position: 0 0;
  }
}

.icon-call {
  background-image: url('/images/icons/feed-call-todo.png');
}

.icon-call-list {
  background-image: url('/images/icons/feed-call-list.png');
}

.icon-meeting {
  background-image: url('/images/icons/feed-meeting.png');
}

.icon-campaign {
  background-image: url('/images/icons/feed-campaign.png');
}

.icon-todo {
  background-image: url('/images/icons/feed-todo.png');
}

.icon-mail {
  background-image: url('/images/icons/mail.png');
}

.icon-deal {
  background-image: url('/images/icons/feed-deal.png');
}

.icon-todo.icon-overdue,
.icon-overdue {
  background-image: url('/images/icons/feed-overdue.png');
}

.icon-contact {
  background-image: url('/images/icons/feed-contact.png');
}

.icon-assigned {
  background-image: url('/images/icons/feed-assigned.png');
}

.icon-comments {
  background-image: url('/images/icons/feed-comments.png');
}

.icon-add-todo {
  background-image: url('/images/icons/feed-add-todo.png');
}

.icon-edit {
  background-image: url('/images/icons/edit.png');
}

.icon-inline-loading {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-image: url('/images/icons/inline-loading.gif');
}

.btn-primary {
  i {display: none;}
  &.is-submitting i {
      display: inline-block;
      margin-right: 5px;
    }
}

.nav-tabs.nav-stacked > li:first-of-type > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-stacked > li:last-of-type > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.module {
  text-shadow: 0 1px 0 white;
  border: 1px solid #EEE;
  position: relative;
  margin-bottom: 10px;
  line-height: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  .component {
    background-color: #F9F9F9;
    padding: 12px;
    line-height: 16px;
  }

  .bordered {
    border-bottom: 1px solid #EEE;

    &:last-child {
      border: none;
    }
  }

  input.inline-edit {
    width: 150px;
  }
}

.feed {
  width: 100%;
  clear: both;
  margin: 0 0 100px;

  .feed-row {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #EEE;
    background-color: #fff;
    @include transition(background-color 0.75s ease-in);

    &.pushed {
      background-color: #FBEED5;
    }

    p {
      margin-top: 9px;
    }
  }
}

li.main-filter-item {
  &.active {
    a,
    a:hover {
      border-right: none;
    }
  }

  i {
    margin-right: 5px;
  }

  i.icon-plus {
    @include opacity(0);
    @include transition(opacity 0.25s ease-in);
  }

  &:hover i.icon-plus {
    @include opacity(1);
  }
}

#search {
  margin-bottom: 0
}

[class^="ember-view icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url(images/vendor/glyphicons-halflings.png);
  background-repeat: no-repeat;
}

#alpha .btn {
  width: 28px;
  padding-left: 0;
  padding-right: 0;
}

#alpha .btn:last-child {
  width: 25px;
}

#form-container {
  margin: 20px 0 20px -350px;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 999;

  .well {
    width: 660px;
    position: relative;
    display: inline-block;
    @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  button.close-form {
    border: none;
    background: none;
    position: absolute;
    right: 12px;
    top: 22px;
  }
}

.radium-form {
  label.radium-control-label {
    width: auto;
    text-align: left;
    float: left;
    padding: 5px 0 0;
    margin: 0 10px 0 0;
  }

  .controls {
    margin: 0;
  }

  .inline-fieldset {
    display: inline-block;
    margin-right: 15px;
  }

  select {
    width: 150px;
  }

  .pin-bottom-right {
    position: absolute;
    right: 60px;
    bottom: 40px;
  }

  .more-options {
    fieldset {
      margin: 0 0 20px;
    }
  }

  .form-horizontal .control-group:last-child {
    margin-bottom: 0;
  }

}

.create-form {
  width: 700px;
  position: absolute;
  z-index: 999;

  .well {
    @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.alert.token {
  height: 17px;
  display: inline-block;
  position: relative;

  .close {
    top: 5px;
    right: 12px;
    position: absolute;
    background: transparent;
  }
}

fieldset legend {
  font-size: 15px;
}

#feed .page-header h2 small {
  float: right;
  font-weight: bold;
  position: relative;
  top: 12px;
}

#feed section {
  margin-bottom: 25px;
}

.feed-cluster {
  cursor: pointer;

  .feed-item {
    margin-bottom: 18px;
  }
}

.feed-header {
  padding: 5px 0;
  position: relative;
  cursor: pointer;

  i.feed-expand-icon {
    margin-left: 10px;
    @include opacity(0);
    @include transition(opacity 0.2s ease-in);
  }

  &:hover,
  .expanded & {
    background-color: #f7f7f9;

    i.feed-expand-icon {
      @include opacity(1);
    }
  }

  .activity-icon {
    margin-right: 10px;
  }
}

.feed-item {
  width: 698px;
  margin: 0 0 2px;
  border: 1px solid transparent;

  .create-form {
    width: 700px;
    position: absolute;
    left: 0;
    z-index: 999;
    top: 30px;

    .well {
      @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }
  }

  &.expanded {
    border: 1px solid #ECECEC;

    .feed-header {
      background-color: #ECECEC;

      i.feed-expand-icon {
        @include opacity(1);
      }
    }

    p.feed-actions {
      display: block;

      a {
        margin-left: 8px;
      }
    }
  }

  &.historical {
    opacity: 0.64;

    i.activity-icon {
      margin-right: 10px;
    }
  }

  .is-today &,
  &.expanded.historical,
  &.historical:hover {
    opacity: 1;
  }

  p {
    margin: 0;
  }

  .feed-description {
    position: relative;

    .activity-action-btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  p.feed-actions {
    position: absolute;
    top: 5px;
    right: 10px;
    padding-left: 10px;
    background: #F7F7F9;

    select {
      width: 140px;
    }
  }

  .label {
    text-transform: uppercase;
    top: -2px;
    position: relative;
  }

  .timestamp {
    color: #898989;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.feed-item-container {
  .radium-form {
    margin-left: 20px;
    position: relative;
  }
}

.overdue,
.overdue .timestamp,
.overdue .content p {
}

.finished .content {
  text-decoration: line-through;
}

.filters li, {
  line-height: inherit;
}

.filters span.label {
  float: right;
}

#user-list img {
  margin-right: 10px;
  float: left;
}

#user-list {
  a {
    line-height: 32px;
    i {
      margin: 7px 0 0;
    }
  }
}

img.avatar {
  border: solid 1px #ddd;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.enabled .filter {
  font-weight: bold;
}

.filter.disabled {
  color: gray;
  opacity: 0.75;
}

.topbar button {
  float: right;
  padding: 5px 30px;
  margin-top: 5px;
}

#feed > section {
  clear: both;
}

#search-box {
  color: black;
  height: 32px;
  font-size: 18px;
}

#notifications ul {
  margin-bottom: 0;
}

#notifications .time {
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  display: inline-block;
}

i.comment-toggle-button {
  cursor: pointer;
}

.comments {
  margin: 10px 0 15px;
  display: inline-block;
  
  a.add-comment-btn {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
  }

  textarea {
    width: 97%;
    margin: 5px 0;
  }
}

ul.comments-list {
  
  li {
    width: 100%;
    float: left;
    margin: 0 0 1px;
    clear: both;
    color: #404040;
    font-weight: normal;
    vertical-align: top;

    a.user-avatar {
      float: left;
      margin: 3px 10px 10px 0;

      img {
        height: 32px;
        width: 32px;
      }
    }

    .comment-text {
      float: left;
      margin: 0 0 0 5px;
      display: table-cell;
      vertical-align: top;
    }

    small.time {
      font-size: 11px;
      color: #DDD;
    }
  }

  .name {
    font-weight: bold;
  }
}

#owner {
  margin-bottom: 10px;
}

#owner img.avatar {
  height: 70px;
  width: 70px;
  margin: 0 10px 0 0; 
  border-radius: 6px;
  float: left;
  border-color: #8a8a8a;
}

#owner .name {
  font-weight: bold;
  font-size: 14px;
}

.contact-card-inner {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.contact-card p {
  margin: 0;
}

.contact-card.selected {
  background: whiteSmoke;
}

.contact-avatar {
  width: 40px;
  position: relative;
  float: left;

  .inline-checkbox {
    padding: 2px 5px;
    position: absolute;
    top: 5px;
    left: -25px;
    display: none;
  }

  .inline-checkbox label {
    margin: 0;
  }
}

.contact-card:hover .inline-checkbox,
.contact-card.selected .contact-avatar .inline-checkbox {
  display: block;
}

.contact-details {
  width: 540px;
  float: left;
}

.label {
  -webkit-transition: background-color 0.25s ease-out;
}

.todos {
  input[type=checkbox] {
    display: inline-block;
    margin-right: 5px;
  }
}

.editable {
  cursor: pointer;
  &:hover {
    background-color: #FCF8E3;
  }
}

// Errors
.global-error {
  $width: 475px;
  width: $width;
  position: fixed;
  top: -5px;
  left: 50%;
  margin-left: -($width / 2);
  z-index: 9999;
}
