<a {{action toggleCalendarDrawer}} {{bind-attr class="isCalendarDrawerOpen:active"}}>
  <i {{bind-attr class=":ss-standard isCalendarDrawerOpen:ss-left:ss-right :drawer-toggle-arrow"}}></i>
  <i class="ss-symbolicons-block ss-calendar"></i>
</a>
