<header>
  {{#linkTo "calendar.index" model.time class="btn pull-right"}}
    Back to Calendar
  {{/linkTo}}
  <h3>
    {{formatDateTime time format=full}}
  </h3>
</header>

{{#if showTodoForm}}
  {{render "forms/todo" model}}
{{/if}}

{{#if showCallForm}}
  {{render "forms/call" model}}
{{/if}}

{{#if showMeetingForm}}
  {{render "forms/meeting" model}}
{{/if}}
