{{view view.FormWidget selectionBinding="selectedMail" kindBinding="view.kind"}}
<div class="block">
  <div class="page-header">
    <h3>{{length}} Email(s) Selected</h3>
  </div>

  {{view view.checkedEmailTableView}}
</div>
