<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn btn-success">
      New Message <i class="icon-plus icon-white"></i>
    </a>
  </div>
</div>
{{outlet}}
{{view view.arrow}}
