{{#with view.content}}
  <button type="button" class="close" data-dismiss="alert">×</button>
  <div class="span2">
    <strong>{{unbound sender.displayName}}</strong>
  </div>
  <div class="span4">
    {{unbound subject}}
  </div>
  <div class="span1">
    <i class="icon-paperclip"></i>
  </div>
  <div>
    <small>11:25</small>
  </div>
{{/with}}
