<div id="remaining-emails">
  <a id="show-more" class="btn btn-large" {{action showMore target="controller"}}>
    <i class="icon-plus"></i>{{remainingContent.length}} Email(s) Remaining: Show More
  </a>

  <table class="table table-bordered table-striped">
    {{each remainingContent itemViewClass="Radium.EmailListView"}}
  </table>
</div>
