<div id="remaining-emails">
  <a class="btn btn-large btn-full-width" {{action showMore target="controller"}}>
    <i class="icon-plus"></i>{{remainingContent.length}} Email(s) Remaining: Show More
  </a>

  <table class="table table-bordered table-striped">
    {{each remainingContent itemViewClass="Radium.EmailListView"}}
  </table>
</div>
