<div id="sidebar-email-actions" class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn btn-success">
      <i class="icon-plus icon-white"></i>
    </a>
    <a class="btn dropdown-toggle email-action" data-toggle="dropdown">
      <i class="icon-chevron-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a>All</a></li>
      <li><a>None</a></li>
      <li class="divider"></li>
      <li><a {{action markRead target="controller"}}>Mark Read</a></li>
      <li><a {{action markUnread target="controller"}}>Mark Unread</a></li>
    </ul>
    <a {{action toggleFolders target="controller"}} class="btn">
      <i class="icon-folder-open"></i>
    </a>
  </div>
  <div class="btn-group">
    <span id="folder-name" class="label label-important">{{controller.folderLabel}}</span>
  </div>
</div>
