<div id="folder-name">
  <span class="label label-important">{{view.folder}} - {{view.total}} Message(s)</span>
</div>
{{#if view.total}}
  <div id="sidebar-email-actions">
    <div class="btn-group">
      <a {{action toggleChecked}} class="btn">
        <i class="icon-check"></i>
      </a>
    </div>
  </div>
{{/if}}
