<div id="toolbar-sidebar">
  <a class="btn">More</a>
</div>
<div id="scroller1">
  <div class="viewport">
    <div class="overview">
      <ul class="messages">
        {{each content itemViewClass="Radium.SidebarMailItemView"}}
      </ul>
    </div>
  </div>
</div>
