{{#if showAssignForm}}
  <form>
    <div class="assign">
      {{view view.userPicker}}
      <div class="assign-todo">
        <i class="ss-standard ss-check"></i>
        {{view view.assignTodoField viewName="assignTodo"}}
      </div>
      <div class="reassign pull-right">
        <a href="#" class="btn btn-primary" {{bind-attr disabled="controller.justAdded"}} {{action reassign this}}>
          <i class="ss-standard ss-plus"></i>
          Reassign
        </a>
      </div>
    </div>
  </form>
{{/if}}
