.fixed-two-column-layout {
  .sidebar-view {
    padding-left: $sidebar-border-size;
    width: $sidebar-width - $sidebar-border-size;
    margin-left: $button-bar-width;
    float: left;

    position: fixed;
    top: 47px;
    bottom: 0;

    background-color: $dark-background;
    border-right: solid 1px darken($dark-background, 25);
    // FIXME: why doesn't this work with the box shadow mixin?
    -webkit-box-shadow: 3px 0px 5px -2px darken($dark-background, 15);
  }

  .container {
     margin-left: $button-bar-width + $sidebar-border-size;
  }

  #sidebar .selectable {
    list-style: none;
    margin: 0;

    > li {
      padding: 5px;
      background-color: $bright;
      border-right: solid $sidebar-border-size $dark-background;
      position: relative;
      min-height: 20px;
      border-bottom: solid 1px $dark-background;
      border-top: solid 1px $dark-background;

      &.is-selected {
        @include css-arrow(right, 14px, $selected-item, 1px, darken($selected-item-border, 5), solid);
        background-color: $selected-item;
        border-left: none;
        z-index: 101;
      }
    }
  }
}

.drawer-open {
  .fixed-two-column-layout {
    .sidebar-panel {
      left: $drawer-width + $sidebar-border-size;
    }

    .container {
      margin-left: $drawer-width + $button-bar-width;
    }
  }
}
