.single-column-container {
  width: 100%;
  max-width: 1135px;
  padding: 60px 0 60px 40px;
  margin: 0 auto;
  @include box-sizing(border-box);

  @include breakpoint(smallscreen) {
    max-width: 724px;
  }

  @include breakpoint(portrait) {
    max-width: 90%;
  }
}

.single-column-row {
  margin-left: -35px;
}