.single-column-container {
  padding: 60px 40px;
  margin: 0 40px;
  @include box-sizing(border-box);

  .main-content {
    max-width: none;
  }

  @include breakpoint(smallscreen) {
    max-width: 724px;
  }

  @include breakpoint(portrait) {
    max-width: 90%;
  }
}

.single-column-row {
  margin-left: -35px;
}