<div class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" {{action close}} aria-hidden="true">&times;</button>
    <h3>Are You Sure?</h3>
  </div>

  <div class="modal-body">
    <p>This action cannot be undone! Deleting <strong>{{name}}</strong> will be permanent.</p>

    <button class="btn btn-large btn-danger btn-block" {{action deleteRecord}}>I understand the consequences, delete this user.</button>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" {{action close}}>Cancel</a>
  </div>
</div>
