<h4>{{#resource-link-to reference}}
  {{reference.displayName}}
{{/resource-link-to}}
{{#if reference.company}}
  of {{resource-link-to reference.company}}
{{/if}}
added via scanned business card.</h4>
