<p>
  The contacts import job that was started at {{formatDateTime time format="full"}} is now completed.
</p>
<p>
  Click <a href='{{unbound externalLink}}' target='_blank'>here</a> to download the file.
</p>
<p>
  Save the file locally as this link will be inactive at {{formatDateTime view.expiryDate format="full"}}.
</p>