<input type="text" value="" class="field" placeholder="Name of field">
<a href="#" id="add" class="more" {{action "modifyCustomFields"}}>
  <i class="ss-standard ss-plus"></i>
</a>
<br/>
<input type="text" placeholder="Option 1" class="answer">
<br/>
<input type="text" placeholder="Option 2" class="answer">
<a class="more-answers">add option</a>