<a href="#" {{action "showUsersContacts" this}}>
  <div class="nav-pills-left">
    <i class="ss-standard ss-filter"></i>
    <span>{{display}}</span>
  </div>
  <div class="nav-pills-right">
    <span>{{contactsTotal}}</span>
  </div>
</a>