<div class="row">
  
  <div id="sidebar" class="span3">
    <h4>Team</h4>
    {{collection usersList id="user-list" class="filters people"}}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view searchView}}
    </div>

    <div id="form-container"></div>
    {{view dealsChart}}

  </div>
</div>