{{#each Radium.activityDateGroupsController.selectedDateType}}
<!-- Item Block -->
  <section>
    <div class="page-header">
      <h2>{{formatDate datetime}}</h2>
    </div>
    {{#if todos.length}}
      {{#view Radium.FeedItemBlockView todosBinding="todos"}}
        <!-- Item Headline -->
        <div class="span9">
          {{#view Radium.FeedItemHeadlineView}}
            <p>Your company finished <b>{{parentView.todos.length}} todos</b>.</p>
          {{/view}}
        </div>
        <!-- Item Content -->
        {{view Radium.FeedItemTodosView class="span9"}}
      {{/view}}
    {{/if}}

  </section>
{{/each}}