<div class="row">
  <div class="subnav span9">
    {{collection dateTypesView id="date-ranges" class="nav nav-pills pull-left"}}
    <div class="form-horizontal pull-right">
      <div class="input-prepend">
        <span class="add-on">Date</span>
        {{view datePicker}}
      </div>
    </div>
  </div>
</div>