{{#with parentView.content}}
  {{#if createdTodos.length}}
    <strong>{{createdTodos.length}} todos</strong> were created. 
  {{/if}}
  {{#if assignedTodos.length}}
    <strong>{{assignedTodos.length}} todos</strong> were assigned. 
  {{/if}}
  {{#if finishedTodos.length}}
    <strong>{{createdTodos.length}} todos</strong> were finished.
  {{/if}}
{{/with}}

{{#if isDetailsVisible}}
<a class="close">-</a>
{{else}}
<a class="close">+</a>
{{/if}}