{{#if overdue}}
  <i class="pull-left activity-icon icon-overdue"></i>
{{/if}}

<i class="pull-left activity-icon icon-todo"></i>

{{!TODO: duplicating this view feels wrong, feed_todo could be reused}}
{{view view.checkboxView}}

{{description}}

{{#with user}}
  (<a {{action showUser this href=true}}>{{abbrName}}</a>)
{{/with}}
