<a href="#" {{action "setFilter"}}>
  {{view iconView}} {{content.label}}
  {{#if isSelected}}
    <i class="icon-ok pull-right"></i>
  {{/if}}
  
  {{#if content.addButton}}
    {{view addResourceButton}}
  {{/if}}
</a>