{{collection contentBinding="Radium.groupFeedController.forwardContent.realContent" itemViewClass="Radium.ClusterListItemView"}}
<div class="page-header">
  <h3 class="today">Today</h3>
</div>
{{collection contentBinding="Radium.groupFeedController" itemViewClass="Radium.ClusterListItemView"}}
