<div class="comments">
  <div class="span5 offset1">
    {{#if content.length}}
    <ul class="comments-list unstyled">
      {{#each content}}
        {{view Radium.CommentView commentBinding="this"}}
      {{/each}}
    </ul>
    {{/if}}
    {{#if controller.isError}}
    <p class="error">Hmm, something wasn't done correctly. Try again?</p>
    {{/if}}
    {{#if isAddingComment}}
      {{view commentTextArea}}
    {{else}}
      <a href="#" class="add-comment-btn" {{action "showCommentField"}}><i class="icon-comment"></i> Add comment</a>
    {{/if}}
  </div>
</div>