<div class="links">
  <div class="deals">
    {{#if openDeals.length}}
      <a href="#" {{action displayOpenDeals openDeals}}>{{openDealsText}}</a>
    {{/if}}
  </div>
  {{#if tags.length}}
  <div class="tags">
    <label>Tags</label>
    {{#each tags}}
      {{#link-to "unimplemented"}}{{name}}{{/link-to}}
    {{else}}
      <label>None</label>
    {{/each}}
  </div>
  {{/if}}
</div>
