{{#search-section title="Recent Searches" isOpen=true}}
  <ul class="unstyled main-search-results-list">
    <li class="main-search-results-list-item">
      <a href="#">
        <span class="main-search-results-type">
          <strong>Message</strong>
        </span>
        <span class="main-search-results-item-title">Lorem ipsum dolor...</span>
      </a>
    </li>
    <li class="main-search-results-list-item">
      <a href="#">
        <span class="main-search-results-item-title">Lorem ipsum dolor...</span>
      </a>
    </li>
    <li class="main-search-results-list-item">
      <a href="#">
        <span class="main-search-results-type">
          <strong>Contacts</strong>
        </span>
        <span class="main-search-results-item-title">Lorem ipsum dolor...</span>
      </a>
    </li>
  </ul>
{{/search-section}}

{{#search-section title="Advanced Search"}}
  {{!-- TODO: Hook up comboboxes --}}
  <ul class="unstyled">
    <li class="main-search-advanced-setting-item">
      <label>Mailbox</label>
      <div class="controls">
        <div class="combobox control-box field">
          <input type="text" value="Main">
          <div class="btn-group controlbox-dropdown-group">
            <button class="btn controlbox-dropdown" tabindex="-1">
              <span class="caret"></span>
            </button>
         </div>
        </div>
      </div>
    </li>
    <li class="main-search-advanced-setting-item">
      <label>Related to</label>
      <div class="controls">
        <div class="combobox control-box field">
          <input type="text" value="Everyone">
          <div class="btn-group controlbox-dropdown-group">
            <button class="btn controlbox-dropdown dropdown-toggle" tabindex="-1">
              <span class="caret"></span>
            </button>
         </div>
        </div>
      </div>
    </li>
    <li class="main-search-advanced-setting-item">
      <label>Status</label>
      <div class="controls">
        <div class="combobox control-box field">
          <input type="text" value="All">
          <div class="btn-group controlbox-dropdown-group">
            <button class="btn controlbox-dropdown" tabindex="-1">
              <span class="caret"></span>
            </button>
         </div>
        </div>
      </div>
    </li>
    <li class="main-search-advanced-setting-item">
      <label class="toggle-label"><input type="checkbox"> Show only unread</label>
    </li>
  </ul>
{{/search-section}}

{{#search-section title="Smart Filters" isOpen=true}}
  <ul class="unstyled main-search-results-list">
    <li class="main-search-results-list-item">
      <a href="#">
        Emails from leads I haven't replied to
      </a>
    </li>
    <li class="main-search-results-list-item">
      <a href="#">
        Emails with unanswered questions which I have not replied to
      </a>
    </li>
  </ul>
{{/search-section}}
