<div class="tasks">
  {{#if hasTasks}}
  <div class="next-task">
    {{render "next_task" nextTask}}
  </div>
  {{else}}
    <div class="no-tasks">
      <strong><i class="ss-standard ss-alert"></i> No tasks</strong>
    </div>
  {{/if}}
</div>
