<div class="search-result">
  <div class="meta">
    <img src="http://placehold.it/42x42" class="img-polaroid" alt="">
    <div class="header">
      <div class="contact-name">
        <span class="name">{{#linkTo contact this}}{{name}}{{/linkTo}}</span>
      </div>
    </div>
  </div>
</div>
