<form {{bindAttr class=":navbar-search isOpen"}}>
  <div class="controls">
    <div class="combobox control-box">
      <i class="ss-symbolicons-block ss-search"></i>
      {{view Ember.TextField class="field" placeholder="Search Radium"}}
      <div class="btn-group controlbox-dropdown-group">
        <button class="btn controlbox-dropdown dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
      </div> {{!-- /.btn-group --}}
    </div> {{!-- /.combobox --}}
  </div> {{!-- /.controls --}}
</form>
{{#if isOpen}}
  <div class="main-search-results">
    {{#if query}}
      <div class="main-search-results-section">
        <h6 class="main-search-results-title">
          Search results for <span class="muted">{{query}}</span>
        </h6>
      </div>
    {{/if}}

    {{partial "search/settings"}}
  </div>
{{/if}}