<div class="search-result">
  <div class="meta">
    <div class="header">
      <div class="contact-name">
        <span class="name">{{#linkTo unimplemented}}{{name}}{{/linkTo}}</span>
      </div>
    </div>
  </div>
</div>
