.note-form {
  .rd-conversation-input {
    margin-left: 45px;
    line-height: 20px;
    font-size: 18px;
    min-height: 34px;
    padding-top: 17px;
    padding-bottom: 2px;

    &:focus {
      outline: 0;
    }
  }

  > .primary {
    position: relative;

    i.ss-notepad {
      position: absolute;
      left: 14px;
      top: 18px;
      font-size: 18px;
    }
  }
}
