<p>
  Voice mail from {{resource-link-to from}}

  <br />
  for {{resource-link-to to}}

  <span class="pull-right">
    {{#link-to "unimplemented"}}Listen{{/link-to}} - {{#link-to unimplemented}}Transcript{{/link-to}}
  </span>
</p>
