<div>
  Change range:
  <ul>
    <li><a class="daily" {{action setDailyRange target="view"}}>Daily</a></li>
    <li><a class="weekly" {{action setWeeklyRange target="view"}}>Weekly</a</li>
    <li><a class="monthly" {{action setMonthlyRange target="view"}}>Monthly</a</li>
  </ul>
</div>
