{{collection Radium.DashboardFeedFilterView}}

<div>
  Change range:
  <ul>
    <li><a {{action setDailyRange target="view"}}>Daily</a></li>
    <li><a {{action setWeeklyRange target="view"}}>Weekly</a</li>
    <li><a {{action setMonthlyRange target="view"}}>Monthly</a</li>
</div>
