<div id="topbar" role="header" class="navbar navbar-fixed-top">
  <div class="fill">
    <div class="navbar-inner">
      <div id="navbar-container" class="container">
        <a class="brand" {{action showDashboard href=true}}><img src="/images/logo.png" alt="::radium"></a>
        <ul id="main-nav" class="nav">
          <li id="btn-dashboard"><a {{action showDashboard href=true}}>Dashboard</a></li>
          <li id="btn-calendar"><a {{action showCalendar href=true}}>Calendar</a></li>
          <li id="btn-contacts" class="dropdown">
          <a {{action showContacts href=true}} class="dropdown-toggle" title="Contacts">Contacts</a>
          </li>
          <li id="btn-support">
            <a href="https://radium.flowdock.com/invitations/6d70fab64e2ff9222f15f60adb2e8d875ed72c61-support" title="Support">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
