<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Radium</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/_bootstrap.css"           rel="stylesheet">
    <link href="/css/_jquery-ui-bootstrap.css" rel="stylesheet">

    <link href="/application.css" rel="stylesheet">
    <script>
    window.ISLOGGEDIN = true;
    window.IO = "4f7326f14e6b4c0007000002";
    </script>
    <script src="/scripts/faye/faye-browser.js"></script>
    <script src="/scripts/minispade.js"></script>
  </head>

  <body>
    <div id="topbar" role="header" class="navbar navbar-fixed-top"></div>
    <div id="main" class="container"></div>
    <script src="/application.js"></script>

    <script type="text/javascript">
      minispade.require('radium/main');

      if ($.cookie('user_api_key')) {
        Radium._feed = new Faye.Client('http://api.radium.io/servers/push/faye');
        Radium._feed.disable('cross-origin-long-polling');

        var subscribe = Radium._feed.subscribe('/'+ IO + '/feed/' + $.cookie('user_api_key'), function(data) {
          console.log('New activity.');
          data.isNewActivity = true;
          data.isCached = false;
          Radium.dashboardFeedController.addData([data]);
        });
      }

    </script>
  </body>
</html>
