.underline-heading {
  color: #707070;
  border-bottom: 1px solid #787878;
}

.sync-integrations-component {
  margin-bottom: 50px;

  ul:not(.as-selections):not(.as-list) {
    margin-top: 20px;
    list-style: none;
  }

  ul:not(.as-selections):not(.as-list) li {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  ul:not(.as-selections):not(.as-list) li:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .integration-config span{
    display: inline-block;
  }

  .integration-config h4, .integration-config span{
    margin-bottom: 10px;
  }
}

.list-integrations .sidebar-list{
  margin-top: 10px;
  margin-bottom: 20px;
  .autocomplete {
    width: 455px;
  }

  .as-list {
    li {
      background-color: #fff;
    }
  }

  .as-selections, .as-list {
    li {
      width: auto !important;
    }
  }
}
