.list-statuses {
  h3 {
    width: 75%;
  }
  .edit-list-name {
    width: 400px;

    .ss-write {
      cursor: pointer;
    }
  }

  .lists-action-selector {
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .lists-action-selector .action-label {
    margin-right: 5px;
  }

  .liststatus-picker-component {
    position: relative;
    margin-right: 8px;
  }

  .liststatus-picker-component a{
    color: #2d2d30;
  }

  .liststatus-picker-component a .caret {
    position: relative;
    top: 8px;
    left: 4px;
  }

  .lists-action-selector ul.as-list {
    position: relative !important;
    top: 0 !important;
  }

  .lists-action-selector ul.as-list .as-result-item {
    padding-left: 10px;
  }

  .lists-action-selector .action-list {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    box-shadow: none;
    background: transparent;
    list-style-type: none;
    margin-left: 10px;
    position: relative;
    top: -1px;
  }

  .lists-action-selector .action-list li {
    background: #ddd;
    border: 0px;
    color: inherit;
    display: inline-block;
    box-shadow: none;
    font-size: inherit;
    padding: 0px 7px;
    height: 28px;
    line-height: 28px;
    font-family: inherit;
    text-shadow: none;
    border-radius: 8px;
    margin-right: 10px;
  }

  .lists-action-selector .action-list li .as-close {
    float: right;
    margin: 1px 0 0 7px;
    padding: 0 2px;
    cursor: pointer;
    text-shadow: none;
    color: #b4b4b4;
  }

  .lists-action-selector .btn-group .caret {
    top: 8px;
    left: 5px;
    position: relative;
  }

  .lists-action-selector .btn-text.btn-black {
    font-size: 14px;
  }

  .list-autosuggest-component {
    margin-left: 15px;
  }

  .span5 pipeline-state-create {
    margin-top: 15px;
  }

  .liststatuses-editor-component {
    list-style: none;
    li {
      position: relative;
      padding: 2px 0;
      line-height: 50px;
    }

    li .inline-editor-component {
      border-bottom: 1px solid $control-border-color;
      width: 74%;
    }

    li .list-status-actions {
      position: absolute;
      top: 0;
      right: -200px;
      left: 360px;

      .caret {
        position: relative;
        top: 20px;
      }
    }

    li .list-status-actions .ss-trash {
      font-size: 15px;
    }

    li .list-status-actions .toggle-switch-component {
      position: relative;
      top: 9px;
    }
  }

  .new-list-status-name {
    width: 100%;
  }
  .modal-body {

    .form {
      padding-left: 0;

      .item {
        width: 300px;
        float: left;

        .field {
          width: calc(100% - 22px);
          border-radius: 0px;
          height: 40px;
          padding: 4px 10px;
          background: #F7F7F7;
        }
        &:nth-of-type(2) {
          width: 100px;
        }
      }
      .actions {
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.list-statuses h4 {
  .ss-trash {
    font-size: 17.5px;
    margin-left: 5px;
  }
}


.list-editor-component {
  margin-top: 0;
  width: auto;

  .form {
    padding-left: 0;
    display: inline-block;
    width: auto;

    .item {
      min-height: 0;
      width: auto;

      input {
        width: calc(100% - 14px);
        border: 1px solid #cacaca;
        width: calc(455px - 22px);
        border-radius: 0px;
        height: 48px;
        line-height: 48px;
        float: left;
        background-color: #f7f7f7;
        padding: 0 11px;
        margin-bottom: 0;
        box-shadow: none;
      }
    }
    .list-editor-radio {
      margin-top: 15px;
      display: inline-block;
      float: left;
      clear: left;

      .xradio-component {
        display: inline-block;
        float: left;
        clear: both;
        margin-left: 10px;
        margin-bottom: 6px;
      }
    }
    .actions {
      display: inline-block;
      float: left;
      clear: both;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

.modal .list-editor-component .from .actions {
  display: block;
}

.liststatus-editor-component .up-down-component .btn-mini {
  padding: 5px;
}