<form class="well">
  <legend>Send a Message
    <div class="btn-toolbar pull-right" style="margin-top: 0">
      <div class="btn-group">
        <a class="btn active" href="#">New Email</a>
        <a class="btn" href="#">New SMS</a>
        <a class="btn" href="#">New IM</a>
      </div>
    </div>
  </legend>

  <label for="to">To</label>
  {{view Radium.AutocompleteTextField 
    id="to" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
  }}
  <input type="hidden" id="message-to" name="message-to" value="">

  <label for="subject">Subject</label>
  <input name="subject" id="subject" class="span8">

  <label for="cc">CC</label>
  {{view Radium.AutocompleteTextField 
    id="cc" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
  }}
  <input type="hidden" name="cc" value="">

  <label for="bcc">BCC</label>
  {{view Radium.AutocompleteTextField 
    id="bcc" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
  }}
  <input type="hidden" name="bcc" value="">
  
  <label for="message">Message</label>
  <textarea name="message" id="message" class="span8"></textarea>

  <div class="form-actions">
    {{#view submitButton class="btn btn-primary"}}Send{{/view}}
    {{#view cancelFormButton class="btn"}}Cancel{{/view}}
  </div>
</form>