<p>
  sent to {{resource-link-to contact}}
  <div class="email-subject">
    {{#if email.isLoaded}}
      {{resource-link-to email}}
    {{/if}}
  </div>
  <div class="email-body">
    {{text-expander text=email.formattedEmailBody}}
  </div>
</p>
