<p>
  {{resource-link-to from}} had call with {{resource-link-to to}}

  <br />
  {{lengthOfTimeInWords length}} long

  <span class="pull-right">
    {{#link-to "unimplemented"}}Listen{{/link-to}} - {{#link-to "unimplemented"}}Transcript{{/link-to}}
  </span>
</p>
