{{#each Radium.activityDateGroupsController.selectedDateType}}
  <section>
    <div class="page-header">
      <h2>{{date datetime}}</h2>
    </div>
    {{#if todos.length}}
      {{view Radium.ActivitySummaryView todosBinding="todos"}}
    {{/if}}

  </section>
{{/each}}