<div class="row">
  <div class="subnav span9">
    {{collection dateTypesView id="date-ranges" class="nav nav-pills pull-left"}}
    <div class="input-prepend pull-right" style="width: 178px">
      <span class="add-on">Date</span>
      {{view datePicker}}
    </div>
  </div>
</div>