<div class="sidebar-panel" id="sidebar-about">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      About <i class="ss-standard ss-write"></i>
    </h6>
  </div>
  <div class="sidebar-panel-content">
    {{#if isEditing}}
    <div class="about">
      <div>
        {{view view.textArea class="field" valueBinding="form.about" placeholder="About"}}
      </div>
    </div>
    {{else}}
    <div class="about">
      <div>
        
      </div>
    </div>
    <div class="clearfix">
      <div class="pull-right">
        <button class="btn btn-primary" {{action "toggleEditor" target=view bubbles=false}}>
          <i class="ss-standard ss-plus"></i> Add
        </button>
      </div>
    </div>
    {{/if}}
  </div>
</div>
