{{#if isEditing}}
  <div>
    {{#if contactStatuses.length}}
      {{view Ember.Select
        content=contactStatuses
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selectionBinding="form.contactStatus"}}
    {{/if}}
    <div>{{#link-to "settings.contactStatuses" class="edit"}}Add/Edit Statuses{{/link-to}}</div>
  </div>
{{else}}
  <div class="pull-right">
    <i class="ss-standard ss-write" {{action "toggleEditor" target=view bubbles=false}}></i>
  </div>
  <p>{{controller.contactStatus.name}}</p>
{{/if}}
