{{#if isEditing}}
  <div>{{view view.statusSelect}}</div>
  <div>&nbsp;</div>
{{else}}
  <div>
    <h2>{{view.statusDescription}}<i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i></h2>
  </div>
{{/if}}
