{{#if isEditing}}
  {{view view.contactPicker}}
{{else}}
  <span class="name">{{link contact}}<i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i></span></br></br>
{{/if}}
