{{#if isEditing}}
  {{autocomplete-textbox scopes="contact" value=controller.form.contact queryKey="displayName" action="stopEditing" validations=contactValidations validator=controller validationField="contact"}}
{{else}}
  <span class="name">{{resource-link-to contact}}<i class="ss-standard ss-write pull-right" {{action "toggleEditor" target=view bubbles=false}}></i></span></br></br>
{{/if}}
