<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      <i class="ss-symbolicons-block ss-dashboard"></i> Status
    </h6>
  </div>
  <div class="sidebar-panel-content">
    {{#if isEditing}}
      <div>{{view view.statusSelect class="status-select"}}</div>
    {{else}}
      <div class="deal-status">
        <h2>{{status}}<i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i></h1>
      </div>
    {{/if}}
  </div>
</div>