{{#if isEditing}}
  {{input value=form.name class="field company-name"}}
{{else}}
  <h1>{{name}}<i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i></h1>
{{/if}}
