<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-icon ss-social ss-linkedin muted"></i></dt>
  <dd>
    <a href="#">linkedin.com/linkedinhandle</a>
  </dd>
</dl>

<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-icon ss-social ss-twitter muted"></i></dt>
  <dd>
    <a href="#">twitter.com/twitterhandle</a>
  </dd>
</dl>

<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-icon ss-social ss-facebook muted"></i></dt>
  <dd>
    <a href="#">facebook.com/facebookhandle</a>
  </dd>
</dl>

<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-symbolicons-block ss-share muted"></i></dt>
  <dd>
    <a href="#">social.com/account</a>
  </dd>
</dl>