<span class="badge badge-info badge-email-deal">
  <a class="close" {{action "clearDeal"}}>&times;</a>
  {{#if isNew}}
    {{deal.name}}
  {{else}}
    {{#link-to 'deal' deal}}{{deal.name}}{{/link-to}}
  {{/if}}
</span>
