<h4>You have {{#linkTo 'emails.show' "inbox" reference}}new mail{{/linkTo}} from
  {{#if reference.isLoaded}}
    {{resource-link model=reference.sender}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
</h4>
