<div class="message-item-actions">
  <div class="pull-right">
    {{#unless onArchiveTab}}
      <a {{action "archive" this bubbles=false}} href="#" class="btn-icon archive" title="Archive email">
        <i class='ss-standard ss-box'></i>
      </a>
    {{/unless}}
    <a {{action "delete" this bubbles=false}} href="#" class="btn-icon delete on-sidebar">
      <i class='ss-symbolicons-block ss-trash'></i>
    </a>
  </div>
  <div class="message-item-labels">
    {{#if hasLead}}
      <span class='badge badge-success'>LEAD</span>
    {{/if}}

    {{#if fromUser}}
      <span class='badge badge-warning'>USER</span>
    {{/if}}

    {{#if hasDeal}}
      {{partial 'deals/deal_badge'}}
    {{/if}}

    {{#if todos.length}}
      <i class="ss-standard ss-check"></i>
    {{/if}}

    {{#if calls.length}}
      <i class="ss-standard ss-phone"></i>
    {{/if}}

    {{#if meetings.length}}
      <i class="ss-standard ss-calendar"></i>
    {{/if}}

    {{#if hasAttachments}}
      <i class="ss-standard ss-attach"></i>
    {{/if}}

    {{#if hasComments}}
      <i class="ss-symbolicons-block ss-chat"></i>
    {{/if}}
  </div>
</div>
