<div class="message-item-actions">
  {{#if hasLead}}
    <span class='badge badge-success'>LEAD</span>
  {{/if}}

   {{#if fromUser}}
    <span class='badge badge-warning'>USER</span>
  {{/if}} 

  {{#if todos.length}}
    <i class="ss-standard ss-check"></i>
  {{/if}}

  {{#if calls.length}}
    <i class="ss-standard ss-phone"></i>
  {{/if}}

  {{#if meetings.length}}
    <i class="ss-standard ss-calendar"></i>
  {{/if}}

  {{#if hasAttachments}}
    <i class="ss-standard ss-attach"></i>
  {{/if}}

  {{#if hasComments}}
    <i class="ss-symbolicons-block ss-chat"></i>
  {{/if}}

  <a {{action delete this bubbles=false}} href="#" class="btn-icon delete pull-right">
    <i class='ss-symbolicons-block ss-trash'></i>
  </a>
</div>
