<div class="block bulk-list">
  <div>{{iconFor this}}</div>
  <div class="person">
    <strong>{{person.name}}</strong>
  </div>
  <div class="summary">
    {{truncate summary}}
  </div>
  <div>
  {{time timestamp}}
  </div>
  <div class="pull-right">
  {{#if hasAttachments}}
    <i class="icon-paperclip"></i>
  {{/if}}
  </div>
</div>
