<i class="icons-discussion-muted"></i>

<div class="text-container">
  <ul class="unstyled inline comma-separated user-list">
    {{#each users}}
      <li><strong>{{name}}</strong></li>
    {{/each}}
  </ul>

  <p>{{topic}}</p>
</div>
