<div class="message-item-avatar pull-left">
  {{avatar sender style="medium"}}
</div>
<div class="clearfix">
  <h5 class="message-item-title">{{sender.name}}</h5>
  <p class="message-item-subject">{{subject}}</p>
  {{#if contact.isPersonal}}
    <span class="label">
      Not a Radium Contact
    </span>
  {{/if}}
</div>