{{#each visibleContent itemController="emailItem" itemViewClass="Radium.MessagesEmailItemView"}}
  {{partial "messages/email_item"}}
{{/each}}

{{#if hiddenContent}}
  <div id="remaining-emails">
    {{partial "shared/show_more"}}
  </div>
{{/if}}
