{{#each visibleContent itemController="emailItem"}}
  {{template "messages/email_item"}}
{{/each}}
{{#if hiddenContent}}
  <div id="remaining-emails">
    {{template "shared/show_more"}}
  </div>

  {{#with hiddenContent}}
    {{template "messages/table"}}
  {{/with}}
{{/if}}
