<ul class="unstyled folders-list">
  {{#each folders}}
  {{log this}}
    <li class="folders-list-item">
      <a {{action selectFolder name href=true }}>
        <i class="ss-standard ss-inbox"></i>
      </a>
      {{label title}}
    </li>
  {{/each}}
</ul>
