<ul class="unstyled thumbnail-list">
  {{#each folders}}
    <li>
      <a {{action selectFolder name href=true }}>
        <img src="http://placehold.it/120x120" />
      </a>
      <br/>
      {{label title}}
    </li>
  {{/each}}
<ul>
