<ul class="unstyled selectable messages-list">
  {{#if content}}
    {{each visibleContent itemViewClass="Radium.MessagesSidebarItemView"}}
    {{partial 'shared/show_more'}}
  {{else}}
    <li class="messages-list-item text-center messages-list-empty">
      <p><i class="ss-standard ss-inbox muted"></i> This folder is empty</p>
    </li>
  {{/if}}
</ul>
