{{partial "messages/new_email_btn"}}
<form class="messages-list-search">
  <div class="controls">
    <div class="combobox control-box">
      <i class="ss-symbolicons-block ss-search"></i>
      {{view view.searchTextField}}
    </div>
  </div>
</form>
{{!partial "search/settings"}}
