{{#if content}}
  <ul class="selectable">
    <li class="send-email">
      <a {{action createEmail}} href="#" class="btn btn-block btn-success">
        Send Email
      </a>
    </li>
    {{each controller itemViewClass="Radium.MessagesSidebarItemView"}}
  </ul>
{{else}}
  <p>No Emails!</p>
{{/if}}
