{{#if content}}
  <ul class="messages selectable">
    <li class="send-email">
      <a {{action createEmail}} href="#" class="btn btn-large btn-success">
        <i class="icon-plus icon-white"></i>
        <i class="icon-envelope icon-white"></i>
        Send
      </a>
    </li>
    {{each controller itemViewClass="Radium.MessagesSidebarItemView"}}
  </ul>
{{else}}
  <p>No Emails!</p>
{{/if}}
