{{#if content}}
  <ul class="selectable">
    <li class="send-email">
      {{#linkTo emails.new class="btn btn-block btn-success"}}
          Send Email
      {{/linkTo}}
    </li>
    {{each controller itemViewClass="Radium.MessagesSidebarItemView"}}
  </ul>
{{else}}
  <p>No Emails!</p>
{{/if}}
