<ul class="unstyled selectable messages-list">
  <li class="messages-list-item">
    {{#linkTo "emails.new" class="btn btn-block btn-primary"}}
      <i class="ss-standard ss-plus ss-small"></i> <i class="ss-standard ss-mail"></i> Send Email
    {{/linkTo}}
  </li>
  {{#if content}}
    {{each controller itemViewClass="Radium.MessagesSidebarItemView"}}
  {{else}}
    <li class="messages-list-item text-center">
      <i class="ss-standard ss-inbox muted"></i> This folder is empty
    </li>
  {{/if}}
</ul>
