<ul class="selectable">
  <li>
    <span class="label label-info folder-label">{{capitalize folder}}</span>
  </li>
  <li class="send-email">
    {{#linkTo emails.new class="btn btn-block btn-success"}}
        Send Email
    {{/linkTo}}
  </li>
  {{#if content}}
    {{each controller itemViewClass="Radium.MessagesSidebarItemView"}}
  {{else}}
    <p>No Emails!</p>
  {{/if}}
</ul>
