<div {{bind-attr class=":message-item-content isSelectable isDraft :content"}} {{action "selectItem" this}}>
  {{#unless isRead}}
    <span class="btn-read-status btn-unread"></span>
  {{/unless}}

  <div class="pull-right">
    <small class="muted messages-list-item-timestamp">
      {{#if isDraft}}Saved at {{/if}}
        {{emailSentAt time format="brief"}}
    </small>
  </div>

  {{yield}}
</div>