{{#each this}}
  <div class="block bulk-list">
    <div class="sender">
      <strong>{{sender.name}}</strong>
    </div>
    <div class="subject">
      {{subject}}
    </div>
    <div class="message">
      {{truncate message}}
    </div>
    <div>
    {{time sentAt}}
    </div>
    <div class="pull-right">
    {{!#if hasAttachments}}
      <i class="icon-paperclip"></i>
    {{!/if}}
    </div>
  </div>
{{/each}}
