<div class="email-folders">
  <div class="pull-left">
    <span>Folders</span>
    <span class="arrow">></span>
    {{folder-list folders=folders parent=this class="btn-group" currentFolder=currentFolder}}
  </div>
  <div class="pull-right">
    <a href="#">
      <i class="ss-standard ss-refresh"></i>
    </a>
  </div>
</div>