<div class="email-folders">
  <div class="pull-left">
    <span>Folders</span>
    <span class="arrow">></span>
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        Inbox
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
          <a href="#">
            <i class="ss-standard ss-mail"></i>
            <span>Inbox</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ss-standard ss-layout"></i>
            <span>Templates</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ss-standard ss-box"></i>
            <span>Archive</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ss-standard ss-file"></i>
            <span>Drafts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ss-standard ss-send"></i>
            <span>Sent</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ss-standard ss-clock"></i>
            <span>Scheduled</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pull-right">
    <a href="#">
      <i class="ss-standard ss-refresh"></i>
    </a>
  </div>
</div>