<!DOCTYPE html>
<% if app.config.pipeline.manifest %>
  <html manifest="/cache.manifest">
<% else %>
  <html>
<% end %>
  <head>
    <meta charset="utf-8">
    <title>Radium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/application.css" rel="stylesheet">
    <link href="/images/favicon.ico?v=2" rel="shortcut icon">
  </head>

  <body>
    <div class="ball"></div>
    <div class="ball1"></div>
    <div id="application"></div>

    <script src="/application.js"></script>
    <script type="text/javascript">
      minispade.require("boot");
    </script>
  </body>
</html>
