<!DOCTYPE html>
<% if app.config.pipeline.manifest %>
  <html manifest="/cache.manifest">
<% else %>
  <html>
<% end %>
  <head>
    <meta charset="utf-8">
    <title>Radium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/application.css" rel="stylesheet">
    <link href="/images/favicon.ico?v=2" rel="shortcut icon">
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;

      s.src='https://widget.intercom.io/widget/<%= ENV['INTERCOM_APP_ID'].to_s%>';

      var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
  </head>

  <body>
    <div class="ball"></div>
    <div class="ball1"></div>
    <div id="application"></div>
    <script>
      window.API_HOST = "<%= ENV['API_HOST'].to_s %>";
      window.INTERCOM_APP_ID = "<%= ENV['INTERCOM_APP_ID'].to_s %>";
    </script>

    <script src="/application.js"></script>
    <script type="text/javascript">
      minispade.require("boot");
    </script>
  </body>
</html>
