#alerts{
  position: fixed;
  width: 100%;
  top: 70px;
  z-index: $alerts-layer;
  text-align: center;
  margin: 0;
  left: 0;
  right: 0;
}

.alert {
  color: #305F1C;
  border-color: #57AD32;
  background-color: #CDEDC0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  text-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    margin-right: 6px;
  }

  .close {
    width: 18px;
    height: 18px;
    opacity: 1;
    font-size: 9px;
    line-height: 0;
    top: 1px;
    text-shadow: none;
    color: #fed1a7;
    background: #57AD32;
    border-radius: 20px;

    i {
      position: relative;
      top: 1px;
      color: #fff;
    }
  }

  a {
    font-weight: bold;
    color: #000;
  }
}

.alert-info {
  border-color: #4587e7;
  background-color: #ecf3fd;

  a {
    color: #4587e7;
  }

  .close {
    background-color: #4587e7;
    color: #ecf3fd
  }
}

.alert-error {
  border-color: #c0003b;
  color: #c0003b;
  background-color: #fdedee;

  a {
    color: #000;
  }

  .close {
    color: #fdedee;
    background-color: #c0003b;
  }
}

.delete-confirmation{
  margin-top: 50px;
  text-align: center;
}

.alert-actions {
  margin: 10px 0 0;
  padding: 10px 0 0;
}

.alert-chrome-extension {
  overflow: hidden;
  margin-top: 5px;
}

.alert-chrome-extension-text {
  margin-left: 350px;

  a.btn-primary {
    color: #fff;
  }
}
