#alerts{
  position: fixed;
  width: 80%;
  top: 40px;
  padding: 1em;
  z-index: $alerts-layer;
  text-align: center;
  margin: 0 0 0 -40%;
  left:50%;
}

.delete-confirmation{
  margin-top: 50px;
  text-align: center;
}
