ul.attachments {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    position: relative;
    margin-right: 30px;

    i {
      position: absolute;
      margin: 0;
      top: -2px;
      left: -5px;
      margin: 0;
      font-size: 120%;
    }
  }
}

.upload-file{
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  font-weight: bold;
  margin: 0 7px 9px;
  overflow-y: hidden;
  padding: 4px 4px 4px 8px;
  max-width: 448px;
  .upload-close{

  }
}

.dropbox{
  position: relative;
  border: 2px dashed #707070;
  border-radius: 2px;
  width: 98%;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  color: #6e6e6e;
  letter-spacing: 1px;

  &.hover{
    background: #b4f9ac;
    font-size: 15px;
    box-shadow: 0px 0px 5px 6px #cccccc;
  }
}
