$blue: #3081e2;
$lightblue: #3aa6ff;

.btn,
.btn:focus {
  background: $blue;
  background: #dedede;
  color: white;
  text-shadow: none;
  border: none;
  border-radius: 3px;
  padding: 10px 24px;
  font-size: 16px;

  &.btn-primary {
    background: $blue;

    &:hover {
      background: $lightblue;
    }
  }
  &:hover {
    color: white;
  }
  i {
    position: relative;
    top: 1px;
    font-size: 11px;
    float: left;
    margin-right: 7px;
  }

  &.btn-small {
    font-size: 14px;
    padding: 8px 20px;
  }
}

.btn-text {
  color: $blue;
  font-size: 16px;

  &.btn-black {
    color: #29292c;
  }
  &:not(.btn-black):hover {
    color: $lightblue;
  }
}