.btn,
.btn:focus {
  background: $blue;
  background: #dedede;
  color: $text;
  text-shadow: none;
  border: none;
  border-radius: 3px;
  padding: 12px 32px;

  &.btn-primary {
    background: $blue;
    color: #fff;

    &:hover {
      background: $lightblue;
    }
  }
  &:hover {
    color: white;
  }
  i {
    position: relative;
    top: 1px;
    font-size: 11px;
    float: left;
    margin-right: 7px;
  }

  &.btn-small {
    font-size: 14px;
    padding: 8px 20px;
  }
  &.btn-icon {
    padding: 12px 26px;

    i {
      margin-right: 12px;
    }
    span {
      margin-right: 7px;
      top: -1px;
      position: relative;
    }
  }
}

.btn-text {
  color: $blue;
  font-size: 16px;
  position: relative;
  vertical-align: middle;

  &.btn-black {
    color: #29292c;

    i {
      color: #626262;
    }
  }
  &:not(.btn-black):hover {
    color: $lightblue;
  }
  i {
    position: relative;
    top: 2px;
    right: 3px;
    font-size: 14px;
  }
  &:focus {
    text-decoration: none;
  }
}

.btn-group {

  &.open .dropdown-toggle {
    box-shadow: none;
  }
}