// this is an inline checker (useful in forms)
.check-box {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px solid #c3c3c3;
  background: #fff;
  cursor: pointer;
  @include border-radius(3px);

  &.disabled {
    cursor: default;
  }

  i {
    margin: 2px 0 0;
    opacity: 0;
    font-size: 12px;
    vertical-align: top;
  }

  &:hover i {
    opacity: 0.25;
  }

  input {
    position: absolute;
    visibility: hidden;

    &:checked + i {
      opacity: 1;
    }

    &:disabled + i {
      color: #e3e3e3;
    }
  }
}
