// this is an inline checker (useful in forms)
.check-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }


  input {
    position: absolute;
    visibility: hidden;

    &:checked + i {
      color: $green;
    }

    &:disabled + i {
      color: #e3e3e3;
    }
  }
}
