.comments {
  margin: 0;
}

.comment {
  overflow: auto;
  margin-bottom: 15px;

  .avatar-container {
    float: left;
  }

  .text {
    margin-left: 40px;
  }
}

.new-comment {
  width: 100%;
  box-sizing: border-box;
  height: 30px; // set initial height to one row of text
  margin: 0;
  resize: none;
}
