$comment-bg: #e7e7e7;
$comment-border: #cfcfcf;

.comments {
  border: solid 1px $comment-border;
  background-color: $comment-bg;
  margin-top: 20px;

  &:after {
    border-bottom-color: $comment-bg;
  }

  &:before {
    border-bottom-color: $comment-border;
  }

  &:before {
    width: 37px;
    height: 12px;
    margin-top: -12px;
    position: absolute;
    top: 0;
    left: 36px;
    content: "";
    z-index: 1;
    background: url("/images/backgrounds/comment-triangle.png") no-repeat 0 0;
  }
}

.comments-list {
  margin-bottom: 0;
}

.comment {
  overflow: auto;
  margin-bottom: 15px;

  &.new-comment {
    margin-bottom: 0;
  }

  .avatar-container {
    float: left;
  }

  .field {
    font-size: 14px;
  }

  .text {
    margin-right: 30px;
  }

  .avatar-container + .text {
    margin-left: 50px;
  }
}

.comment-attachment-icon {
  margin: 6px 0 0 10px;
  font-size: 14px;
  line-height: 32px;
  color: #979797;
}

.new-comment {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  resize: none;

  .text {
    overflow: hidden;
  }

  textarea {
    padding: {
      top: 3px;
      bottom: 3px;
    }
    line-height: 30px;
    border: 1px solid $comment-border;
  }
}