$comment-bg: #e7e7e7;
$comment-border: #cfcfcf;

.comments {
  border: solid 1px $comment-border;
  background-color: $comment-bg;
  margin-top: 20px;

  &:after {
    border-bottom-color: $comment-bg;
  }

  &:before {
    border-bottom-color: $comment-border;
  }
}

.comment {
  overflow: auto;
  margin-bottom: 15px;

  &.new-comment {
    margin-bottom: 0;
  }

  .avatar-container {
    float: left;
  }

  .field {
    font-size: 14px;
  }

  .text {
    margin-right: 30px;


    textarea {
      border: 1px solid $comment-border;
    }
  }

  .avatar-container + .text {
    margin-left: 50px;
  }
}

.comment-attachment-icon {
  margin: 6px 0 0 10px;
  font-size: 14px;
}

.new-comment {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  resize: none;

  .text {
    overflow: hidden;
  }
}