.country-picker {
  position: relative;

  .selected-container {
    display: inline-block;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 0 10px;
    width: calc(100% - 20px);
    height: 40px;
    line-height: 40px;
    position: relative;

    .glyphicon {
      float: left;
      position: relative;
      top: 11px;
    }

    b {
      position: absolute;
      top: 7px;
    }

    input[type=text] {
      width: 130px;
      border: none !important;
      border-radius: 0px !important;
      background-color: white;
      background-image: none;
      box-shadow: none;
      position: relative;
      top: -2px;
      margin-bottom: 0;
    }
  }

  .selectbox-option {
    display: inline-block;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selectbox-caret {
    position: absolute;
    right: 11px;
    top: 18px;
  }

  ul.dropdown-menu {
    width: 215px;

    li.active a {
      color: white;
      background: $blue;
    }
  }

  ul li a {
    display: block;
    min-height: 26px;
    padding: 3px 20px 3px 10px;
    overflow-x: hidden;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  b {
    padding-left: 5px;
  }
  .glyphicon {
    margin-right: 5px;
  }
}


.leads-view .country-picker.open .dropdown-menu {
  position: absolute !important;
}

.sidebar-addresses-view {

  .multiple-field {
    position: static !important;

    .country-picker {
      position: static;
    }
  }
}

