@import "icons/*.png";
@include all-icons-sprites;

// Style OUR icons
[class^="icons-"], [class*=" icons-"] {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-top: 1px;
  line-height: 20px;
  vertical-align: text-top;
}
