[class^="icon-"] {
  margin: 0 5px;
}

a[class^="icon-"],
a:hover [class^="icon-"],
.btn-icon,
.btn-icon:hover {
  text-decoration: none;
  color: inherit;
}

.btn [class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.ss-small {
  font-size: 10px !important;
}