.inline-editor-component, .inline-autocomplete-component {
  outline: none;

  i {
    cursor: pointer;
    opacity: 0.35 !IMPORTANT;
  }
}

.inline-editor-component, .inline-autocomplete-component {
  .editable {
    outline: none;
  }
}

.is-enabled .inline-editor-text:hover {
  cursor: pointer;
}

.inline-editor.is-disabled {
  .icon-edit {
    display: none;
  }
}

.inline-editor .icon-edit {
  opacity: 0.3;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
