.inline-editor-component {
  outline: none;
}

.inline-editor-component .editable-field-component {
  outline: none;
}

.inline-editor-component i {
  cursor: pointer;
}

.inline-editor-component i {
  opacity: 0.35 !IMPORTANT;
}

.is-enabled .inline-editor-text:hover {
  cursor: pointer;
}

.inline-editor.is-disabled {
  .icon-edit {
    display: none;
  }
}

.inline-editor .icon-edit {
  opacity: 0.3;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
