.modal-backdrop {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}

.next-task-component, .todo-modal {
  .modal-body {
    overflow-y: visible;
  }
}

.drawer-overlay {
  width: 25%;
  z-index: 91;
}


.todo-modal {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  width: 720px;
  margin: auto;

  .modal-header {
    display: none;
  }
  .modal-body {
    width: calc(100% - 30px) !important;

    .form {
      padding-left: 0;
      float: left;
      width: 100%;

      .primary {
        width: calc(100% - 50px);
        float: left;

        .events-list-item-button {
          margin-top: 18px;
          margin-left: 10px;
        }
        .todo {
          margin-right: 0;

          textarea {
            overflow-y: hidden;
            line-height: 40px;
          }
        }
      }
      .btn-options {
        float: right;
        line-height: 52px;
      }
    }
    .expanded-fields {
      width: 100%;
      margin-top: 5px;

      .form-row {
        float: left;
        width: calc(100% - 110px);
      }
      .form-buttons {
        width: auto;
        display: inline-block;
        clear: none;
        line-height: 54px;
      }
    }
  }
}

.email-reply-modal {

  .modal {
    width: 65%;
    border: none;
    max-width: 770px;
    margin-left: -385px;

    button.close {
      padding: 10px 10px 0 0;
    }
    .modal-header {
      display: none;
    }
    .modal-body {
      width: 100%;
      display: inline;

      .email-form-body {
        padding: 15px 25px;
        display: inline-block;
      }
    }
  }
}