.next-task-widget {
  text-align: left;
  white-space: nowrap;

  span {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    color: #2d3b3c;
  }

  time {
    margin-left: 10px;
    font-weight: bold;
  }

  &:hover {
    .icon-call, .icon-todo {
      color: $green;
    }
  }

  .dark {
    font-weight: bold;
  }

  .text {
    max-width: 120px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}