.next-task-widget {
  text-align: left;
  white-space: nowrap;

  span {
    display: inline-block;
    margin-right: 10px;
  }

  &:hover {
    .icon-call, .icon-todo {
      color: $green;
    }
  }

  .dark {
    font-weight: bold;
  }

  .text {
    max-width: 120px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}