.next-task-widget {
  text-align: left;

  small {
    margin-right: 10px;
    font-weight: bold;
  }

  &:hover {
    .icon-call, .icon-todo {
      color: $green;
    }
  }

  .text {
    margin-right: 20px;
  }
}
