.notifications {
  background-color: $active-state;
}

.notifications-list-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
}

.notification-item {
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.notification-item-top {
  color: #000;
  background-color: #fff;

  h3 {
    margin: 0 0 10px;
  }
}

.notification-item-content {
  padding: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: rgba(white, 0);
  @include box-sizing(border-box);
  @include transition(background-color 0.25s);

  &:hover {
    text-decoration: none;
    background-color: rgba(white, 0.25);

    strong,
    .btn-link {
      color: darken(white, 5%);
    }
  }
}

a.notification-item-content {
  color: #fff;
  text-shadow: 0 1px 0 rgba(black, 0.5);
}

.notification-item-header {
  margin-bottom: 20px;

  h4 {
    margin-top: 0;
  }
}

.notification-item-icon {
  margin: 2px 10px 0 0;
  float: left;
  color: $green;
}

.notification-item-actions {
  opacity: 0;
  @include transition(opacity 0.25s);

  .notification-item:hover & {
    opacity: 1;
  }

  .btn-link {
    font-size: 12px;
    line-height: 15px;
    color: $light-background;
    text-shadow: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.notification-item-meta {
  font-size: 14px;
}

.notification-task-overdue {
  padding: 2px 10px;
  font-size: 10px;
  line-height: 26px;
  background: $red;
  @include border-radius(2px);
}

// Helper classes
.attention {
  color: #ba0039;
}