.notifications {
  background: $background;
  border-right: 1px solid $border;
  @include user-select(none);
}

.notifications-list-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
}

.notification-item {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.notification-item-top {
  h5 {
    margin: 0 0 10px;
  }
}

.notification-item-content {
  padding: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: rgba(white, 0);
  @include box-sizing(border-box);
  @include transition(background-color 0.25s);

  &:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    text-shadow: none;

    strong,
    .btn-link,
    a {
      color: $blue;
    }
    i.ss-delete {
      color: #666;
    }
  }
}

.notification-item-header,
.notification-item-footer {
  a {
    color: $blue;
    text-shadow: 0 1px 0 rgba(black, 0.5);
  }
}

.notification-item-header {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;

  h4 {
    margin-top: 0;
    font-size: 16px;
    text-shadow: none;
    font-weight: 400;

    a {
      text-shadow: none;
    }
  }
  h5 {
    line-height: 44px;
    margin-bottom: 0;
    font-size: 16px;
    text-shadow: none;
  }
  button {
    box-shadow: none;
    
    i {
      color: #fff;
    }
    &:focus {
      padding: 0;
      background-color: transparent;

      i {
        font-size: 14px;
        top: 2px;
        right: 3px;
      }
    }
    &:active {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.notification-item-icon {
  margin: 2px 10px 0 0;
  float: left;
  color: $blue;
}

.notification-item-actions {
  opacity: 0;
  @include transition(opacity 0.25s);

  .notification-item:hover & {
    opacity: 1;
  }

  .btn-link {
    font-size: 12px;
    line-height: 15px;
    color: $light-background;
    text-shadow: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.notification-item-meta {
  font-size: 12px;
  font-weight: normal;
}

.notification-task-overdue {
  padding: 4px 10px;
  font-size: 10px;
  line-height: 26px;
  background: $red;
  @include border-radius(2px);
}

// Helper classes
.attention {
  color: #ba0039;
}

.notifications-assign-contact-view {
  border-bottom: 1px solid $border;
}

.notification-item-top {
  border-bottom: 1px solid $border; 

  .pull-left {
    display: inline-block;
  }
  .pull-right {
    line-height: 44px;
  }
}


.notification-picture {
  display: inline-block;
  float: left;
  width: 14%;
}
.notification-left {
  float: left;
  width: 73%;
}
.notification-right {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 13%;
  margin: auto;

  .pull-right {

    button {
      margin-right: 12px;
      width: 20px;
      text-align: center;

      i {
        font-size: 14px;
        left: 5px;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}

