.page-header {
  h1 {
    font-size: 30px;
  }
  padding-bottom: 0px;
  margin: 20px 0 5px;
  padding-top: 5px;
  border-bottom: none;
}

.page-header-controls {
  float: right;
  vertical-align: middle;
}
