@charset "UTF-8";

@font-face {
  font-family: "radium-icons";
  src:url("/fonts/radium-icons.eot");
  src:url("/fonts/radium-icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/radium-icons.woff") format("woff"),
    url("/fonts/radium-icons.ttf") format("truetype"),
    url("/fonts/radium-icons.svg#radium-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "radium-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="custom-icon-"]:before,
[class*=" custom-icon-"]:before {
  font-family: "radium-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  font-size: 120%;
  text-transform: none !important;
  margin-right: .2em;
  text-align: center;
  vertical-align: middle;
  margin-left: .2em;
  display: inline-block;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-google:before {
  content: "g";
}
.custom-icon-radium:before {
  content: "r";
}
