ol.related-tasks {
  list-style: none;

  li {
    position: relative;

    &.is-finished, &.is-finished a {
      color: $muted;
    }

    &.is-overdue .time, &.is-overdue .time a {
      color: $red;
    }

    &.is-finished:after {
      position: absolute;
      width: 100%;
      content: '';
      height: 2px;
      background-color: $muted;
      margin: 0 auto;
      margin-top: -1px;
      left: 0;
      top: 50%;
    }
  }

  i {
    font-size: 20px;
    color: $muted;
    float: left;
    position: relative;
    top: 1px;
  }

  .related-task-title {
    display: block;
    margin: 0 0 0 30px;
    font-size: 18px;
    color: $muted;
  }

  span.time {
    float: right;
    font-size: smaller;
  }
}
