.form-search {
  position: relative;
  vertical-align: middle;

  .input-append {
    position: relative;
  }

  i {
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 10px;
    font-size: 15px;
    line-height: 32px;
  }

  input[type="text"] {
    padding-left: 30px;
    @include box-sizing(border-box);
  }
}