.form-search {
  position: relative;
  vertical-align: middle;

  .input-append {
    position: relative;
  }

  i {
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 10px;
    font-size: 15px;
    line-height: 40px;
  }

  input[type="text"] {
    height: 38px;
    padding-left: 30px;
    @include box-sizing(border-box);
  }
}

// Main Search
.main-search {
  float: left;
  position: relative;

  .navbar-search {
    width: 250px;
    position: relative;
    @include transition(width 0.15s);

    &.is-open {
      width: 350px;

      .search-query {
        color: #000;
        border-color: #fff;
        background-color: #fff;
      }
    }
  }

  .search-query {
    width: 100%;
    height: 30px;
    padding-left: 50px !important;
    @include border-radius(4px);
    @include box-sizing(border-box);

    &:focus {
      @include box-shadow(none);
      color: #000;
    }
  }
}

.main-search-toggles {
  position: absolute;
  top: 7px;
  left: 10px;
}

.main-search-results {
  margin-top: -3px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: $alerts-layer * 2;
  background-color: $selected-item;
  border: 1px solid #e0e0e0;
  @include box-shadow(0 2px 2px rgba(black, 0.1));
  @include border-radius(0 0 4px 4px);
}

.main-search-results-section {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid $border;
  color: #696969;

  &:last-child {
    border: none;
  }
}

.main-search-advanced-setting-item {
  margin: 0 0 10px;
  padding: 4px 15px 0;

  label {
    width: 70px;
    margin-right: 10px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    color: #696969;

    &.toggle-label {
      width: auto;
      padding: 0 0 0 25px;

      input[type="checkbox"] {
        vertical-align: middle;
        margin: 0 10px 0 -25px;
      }
    }
  }

  select {
    width: 200px;
    display: block;
  }
}

.main-search-results-toggle {
  position: relative;
  z-index: 5;
  margin: 8px 0 0;

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.main-search-results-title {
  margin: 0;
  padding: 0 15px;
  position: relative;
  font-size: 12px;
  line-height: 38px;
  background-color: $background;

  i {
    position: absolute;
    left: 10px;
    top: 0;
  }

  & + div {
    padding: {
      top: 8px;
      bottom: 8px;
    }
    background-color: #e0e0e0;
  }
}

.main-search-results-list {

}

.main-search-results-list-item {
  font-size: 12px;

  a {
    padding: 4px 15px;
    line-height: 20px;
    position: relative;
    display: block;
    color: #000;
    @include box-sizing(border-box);

    &:hover {
      color: #fff !important;
      background-color: $blue;
    }
  }
}

.main-search-results-item-title {
  position: relative;
  margin-left: 70px;
  display: block;
}

.main-search-results-type {
  font-size: 11px;
  color: #979797;
  float: left;

  i {
    color: #979797 !important;
  }
}