$switchTransition: .15s ease-out;

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 26px;
  padding: 3px;
  border-radius: 18px;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: -2px;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 14px;
  font-weight: 600;
  background: #bdc3c7;
  border-radius: inherit;
  @include transition($switchTransition);
  @include transition-property(opacity background);

  &:before, &:after {
    position: absolute;
    top: 50%;
    margin-top: -.40em;
    line-height: 1;
    @include transition(inherit);
  }

  &:before {
    content: attr(data-off);
    right: 11px;
    color: #fff;
  }

  &:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    opacity: 0;
  }

  .switch-input:checked ~ & {
    background: #8CC34A;

    &:before { opacity: 0; }
    &:after { opacity: 1; }
  }
}

.switch-input:checked ~ .switch-handle {
  background: #88DA1F;
}

.switch-handle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  @include transition(left #{$switchTransition});

  .switch-input:checked ~ & {
    left: 69px;
  }
}
.switch-green > .switch-input:checked ~ .switch-label { background: #88DA1F; }

