.table {
  td.text-center,
  th.text-center {
    text-align: center;
  }

  td.text-left,
  th.text-left {
    text-align: left;
  }

  td.text-right,
  th.text-right {
    text-align: right;
  }
}

.column-sort {
  position: relative;
  
  &.active {
    color: $link;
  }

  &:hover,
  &.active {
    i {
      display: block;
    }
  }

  i {
    font-size: 9px;
    position: absolute;
    top: 1px;
    right: -14px;
  }
}




.table-container {
  
  .variadic-table-component {

    .variadic-table {

      th {
        border-bottom: 1px solid $border;
        border-top: 1px solid $border;
        background: #fff;
      }
    }
  }

  .left-table {
    th:first-of-type,
    td:first-of-type {
      border-left: 1px solid $border;
    }
  }
  .right-table {
    th:last-of-type,
    td:last-of-type {
      border-right: 1px solid $border;
    }
  }


}