.table-list {
  color: black;
  border-collapse: separate;
  border-spacing: 0 10px;

  th {
    color: $muted;
    padding: 0 8px;
  }

  tbody {
    td {
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
    }

    tr td:first-child {
      border-left: solid 1px #ddd
    }

    tr td:last-child {
      border-right: solid 1px #ddd
    }
  }
}
