.table {
  td.text-center,
  th.text-center {
    text-align: center;
  }

  td.text-left,
  th.text-left {
    text-align: left;
  }

  td.text-right,
  th.text-right {
    text-align: right;
  }
}

.column-sort {
  position: relative;
  
  &.active {
    color: $link;
  }

  &:hover,
  &.active {
    i {
      display: block;
    }
  }

  i {
    font-size: 9px;
    position: absolute;
    top: 2px;
    right: -14px;
  }
}
