input[type=file]{
  margin-left: 2em;
  width: 110px;
  height: 27px;

  &.upload-button {
    margin: 0;
    position: relative;
    color: transparent;
    cursor: pointer;

    &:before {
      content: 'Select some files';
      position: absolute;
      line-height: 18px;
      padding: 4px 0;
      white-space: nowrap;
      cursor: pointer;
      background-color: #fff;
      color: #000;
      @include user-select(none);

      .sidebar-panel-header & {
        background-color: #e8e8e8;
      }
    }

    &,
    &:active,
    &:focus {
      outline: none;
    }

    &:hover:before {
      color: $blue;
    }
  }
}
