input[type=file]{
  margin-left: 2em;
  width: 110px;
  height: 27px;
  margin: 0;
  position: relative;
  color: transparent;
  cursor: pointer;
  &:not(.avatar-upload) {
    position: absolute;
    top: -1000000px;
  }

  &.upload-button, &.avatar-upload, &.csv-upload{
    &.upload-button {
      &:before {
        position: absolute;
        line-height: 18px;
        padding: 4px 0;
        white-space: nowrap;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        @include user-select(none);

        .sidebar-panel-header & {
          background-color: #e8e8e8;
        }
      }
    }

    &.avatar-upload {
      &:before {
        content: 'Select avatar';
        position: absolute;
        line-height: 18px;
        padding: 4px 0;
        white-space: nowrap;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        @include user-select(none);

        .sidebar-panel-header & {
          background-color: #e8e8e8;
        }
      }
    }

    &.csv-upload {
      &:before {
        content: 'Select Import File';
        position: absolute;
        line-height: 18px;
        padding: 4px 0;
        white-space: nowrap;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        @include user-select(none);

        .sidebar-panel-header & {
          background-color: #e8e8e8;
        }
      }
    }

    &,
    &:active,
    &:focus {
      outline: none;
    }

    &:hover:before {
      color: $blue;
    }
  }
}

.btn-file-upload {
  position: relative;

  input.csv-upload {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    @include opacity(0);
  }
}

.attachment {
  margin-bottom: 10px;
}

.attachment i {
  position: relative;
  top: 5px;
  margin-right: 10px;
  float: left;
}

.attachment a {
  display: inline-block;
}

.attachment .upload-file-component {

  > div {
    width: calc(100% - 24px);
  }
}

.attachment .progress {
  width: 60px;
  height: 10px;
  border: 1px solid #ccc;
  box-shadow: none;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 15px;
  position: relative;
  top: 2px;
}

.attachment .uploaded-by {
  float: left;
  line-height: 26px;

  span {
    float: left;
    margin-right: 4px;
  }
}

.attachment .delete {
  position: relative;
  top: 1px;
  left: 8px;
  color: #666;
  display: inline-block;
  float: right;
}

.email-history, .contact-detail, .user-detail {
  .avatar-picker-component {
    position: relative;
    input[type=file] {
      &.upload-button, &.avatar-upload, &.csv-upload{
        &.avatar-upload {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 18px;
          height: 14px;
          &:before {
            content: '✎';
            padding: 0 4px;
          }
        }
      }
    }
  }
}
