#addressbook .right-table .variadic-table-component .variadic-table th.column-selector,
.right-table .variadic-table-component .variadic-table th.column-selector {
  text-align: center;
  min-width: 50px;
}

#addressbook .right-table .variadic-table-component .variadic-table td.column-selector,
.right-table .variadic-table-component .variadic-table td.column-selector {
  &.viewed {
    background-color: transparent;
  }
}
