.xdeal-component {
  .form > .sidebar-panel:first-of-type .sidebar-panel-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar-panel-content.contacts {
    padding-top: 5px;
  }

  h2 {
    font-size: 12px;
    line-height: 30px;
  }
  .deal-title {
    display: inline-block;
    width: 100%;
    margin-left: 0;
  }

  .deal-title i {
    float: left;
    margin-right: 10px;
    font-size: 22px;
    position: relative;
    top: 2px;
  }

  .deal-title .inline-editor-component {
    float: left;
    display: inline-block;
    width: calc(100% - 38px);
    font-size: 22px;
  }

  .deal-title .ss-write {
    float: right;
  }

  .change-liststatus-component {
    position: relative;

    .modal {
      margin-left: 0;
      left: 281px;
      top: 30%;

      > button {
        margin: 5px 10px 0 0;
      }

      .modal-header {
        border-bottom: 0px;
      }
      .modal-body {
        display: inline-block;
        padding: 5px 40px;
        width: calc(100% - 80px);

        .form {
          display: inline-block;
          padding: 0px;
          margin: 0px;
          width: 100%;

          textarea {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }

    .dropdown-toggle {

      span {
        margin-right: 7px;
      }
    }
    .dropdown-menu {

      li {
        width: 100%;
        display: inline-block;
        float: left;

        a {
          min-width: 70px;
          width: calc(100% - 30px);
          margin-bottom: 0;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .change-liststatus-component .caret {
    float: right;
    position: relative;
    top: 8px;
  }

  .amount {
    font-size: 22px;
  }
}