.list-table {
  .pipeline-total {
    display: inline-block;
    width: 205px;
    float: left;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 13px;
  }

  .pipeline-total .count {
    display: inline-block;
    padding-left: 4px;
    font-size: 14px;
  }

  .table-container {
    width: 100%;
  }

  .table-container .left-table {
    margin-left: 10px;
  }

  .table-container .subhead .col-selector .rd-daterangepicker-component {
    display: inline-block;
  }

  // FIXME: remove when date search is in place
  .table-container .subhead .col-selector .rd-daterangepicker-component {
    display: none;
  }

  .table-container .subhead .col-selector input[type=text] {
    border-radius: 0px !important;
    height: 48px;
    padding: 0 0 0 36px;
  }

  .table-container .variadic-table {
    .deal-value input[type=text] {
      padding: 0;
      margin: 0;
      max-width: 117px;
    }
  }
}

.deal-editor-component {
  .item input[type=text]:not(.combobox) {
    width: 100%;
    padding-right: 0;
  }

  .typeahead.dropdown-menu .auto-icon img {
    margin-right: 10px;
  }
}

.xlist-component .contact-drawer.drawer-view {
  padding-right: 0px;
}