.list-table {
  .pipeline-total {
    display: inline-block;
    width: 205px;
    float: left;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 13px;
  }

  .pipeline-total .count {
    display: inline-block;
    line-height: 47px;
    padding-left: 4px;
  }

  .table-container {
    width: calc(100% - 250px);
  }

  .table-container .subhead .col-selector .rd-daterangepicker-component {
    display: inline-block;
  }

  .table-container .subhead .col-selector input[type=text] {
    border-radius: 0px !important;
    height: 48px;
    padding: 0 0 0 36px;
  }
}

.deal-editor-component {
  .item input[type=text] {
    width: 100%;
  }
}