.rd-note-editor {
  i.ss-write {
    cursor: pointer;
  }
  a.cancel {
    cursor: default;
    opacity: 0;
    transition: .2s;
    
  }
  &.is-editing {
    a.cancel {
      cursor: pointer;
      opacity: 1;
    }
  }
}