<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Ember.ContainerView currentViewBinding="Radium.appController.sideBarView"}}
  </div>
  
  <div class="span9">
    <div id="form-container"></div>
        
    <div class="row">
      <div class="span9">
      </div>
    </div>

    <div class="row">
      <div class="span9">
          <div class="page-header">
            <h3>Today</h3>
          </div>
          {{view Ember.ContainerView currentViewBinding="Radium.appController.feedView"}}
      </div>
    </div>  
  </div>
</div>

