{{#if isSubmitted}}
  {{#unless isValid}}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert"><i class="ss-standard ss-delete"></i></button>
      Form is missing some information. Please complete the fields in red.
    </div>
  {{/unless}}
{{/if}}
