<div class="new-leads-control side-tabs">
  <div class="side-tabs-title">
    <i class="ss-standard ss-user"></i>
    <span>Add Contact</span>
  </div>
  <ul class="nav nav-tabs">
    {{#link-to "leads.single" href=false tagName="li"}}
      <a href="#">Add Single Contact <i class="ss-standard ss-directright"></i></a>
    {{/link-to}}
    {{#link-to "leads.import" href=false tagName="li"}}
      <a href="#">Import from CSV <i class="ss-standard ss-directright"></i></a>
    {{/link-to}}
    {{#unless currentUser.initialContactsImported}}
      <li>
        <a href="#">
          <span class="badge contacts-importing">Importing</span>
        </a>
      </li>
    {{/unless}}
  </ul>
</div>

<div class="tab-content">
  {{outlet}}
</div>