<li class="notification-item">
  <div href="#" class="notification-item-content">
    <div class="notification-picture">
      <img src="/images/default_avatars/small.png" alt="::radium">
    </div>
    <div class="notification-left">
      <div class="notification-item-header">
        <div>
          {{yield}}
        </div>
      </div>

      <div class="notification-item-footer">
        <div class="clearfix">
          <small class="notification-item-meta">
            {{timeInHumanFormat}}
          </small>
        </div>
      </div>
    </div>

    <div class="notification-right">
      {{partial "notifications/notification_actions"}}
    </div>
  </div>
</li>
