<div class="tasks-content">
  {{render "form_box" formBox}}
  {{render "task_list" currentTasks}}
</div>
{{render "feed" activities}}
{{#delete-confirmation deleteAction="deleteRecord" showDeleteConfirmation=showDeleteConfirmation}}
<p>This action cannot be undone! Deleting <strong>{{name}}</strong> will be permanent.</p>
{{/delete-confirmation}}