<div class="adder">
  <div class="arrow"></div>
  {{#if showFormBox}}
    <i class="ss-standard ss-hyphen" {{action toggleFormBox}}></i>
  {{else}}
    <i class="ss-standard ss-plus" {{action toggleFormBox}}></i>
  {{/if}}
</div>
