<div id="topbar" role="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    {{#linkTo "index" class="brand"}}
      <img src="/images/logo.png" alt="::radium">
    {{/linkTo}}
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pull-right">
        {{render "search/main"}}
        <ul class="nav">
          <li>
            <a href="#" {{action "logOut"}}>
              <i class="ss-standard ss-logout"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav main-nav">
          <li class="dropdown">
            {{#linkTo "messages" "inbox"}}
              Messages <i class="ss-standard ss-mail"></i>
            {{/linkTo}}
          </li>

          <li>
            {{#linkTo "calendar" today}}
              Calendar <i class="ss-standard ss-calendar"></i>
            {{/linkTo}}
          </li>

          <li>
            {{#linkTo "user" currentUser}}
              Tasks <i class="ss-standard ss-check"></i>
            {{/linkTo}}
          </li>

          <li>
            {{#linkTo "pipeline"}}
              Pipeline <i class="ss-standard ss-barchart"></i>
            {{/linkTo}}
          </li>

          <li>
            {{#linkTo "addressbook.filter" 'all'}}
              Address Book <i class="ss-symbolicons-block ss-users"></i>
            {{/linkTo}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
