<div class="pull-left timestamp">{{ageInWords time}}</div>
<div class="pull-left activity-icon">
  <i class="ss-standard ss-{{unbound icon}} event"></i>
</div>
<div class="clearfix activity-content">
  {{yield}}
</div>
