<div class="pull-left timestamp">{{ageInWords time}}</div>
<div class="pull-left activity-icon">
  <i class="ss-standard ss-{{unbound icon}} event"></i>
</div>
<div class="clearfix activity-content">
  {{#if isFollowing}}
    <div class="span1">
      <i class="ss-standard ss-fork"></i>
    </div>
  {{/if}}
  {{yield}}
</div>
