<div class="pull-left activity-icon">
  <i class="ss-standard ss-{{unbound icon}} event"></i>
</div>
<div class="clearfix activity-content">
  <div class="pull-right timestamp">{{ageInWords time}}</div>
  {{yield}}
</div>