<div id="main" class="container">
  {{outlet topbar}}

  <div class="row">
    <div id="sidebar" class="span3">
      <div class="viewport">
        <div class="overview">
          {{outlet sidebar}}
        </div>
      </div>
    </div>

    <div id="main-panel" class="offset3 span9">
      {{view Radium.FormContainerView}}

      <div class="row">
        <div class="span9">
          <div id="alerts"></div>

          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
