<div id="topbar" role="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="fill">
    <div class="navbar-inner">
      <div id="navbar-container" class="container">
        {{#linkTo "dashboard" class="brand"}}
          <img src="/images/logo.png" alt="::radium">
        {{/linkTo}}

        <ul id="main-nav" class="nav">
          <li id="btn-dashboard">
            {{#linkTo "dashboard"}}Dashboard{{/linkTo}}
          </li>

          <li id="btn-inbox" class="dropdown">
            {{#linkTo "emails" "inbox"}}Inbox{{/linkTo}}
          </li>
          <li id="btn-support">
            <a href="https://radium.flowdock.com/invitations/6d70fab64e2ff9222f15f60adb2e8d875ed72c61-support" title="Support">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{outlet drawerPanel}}

{{outlet}}
