<div class="block block-arrow-top comments">
  <ul class="comments-list unstyled">
    {{#each comments}}
      <li class="comment">
        <div class="avatar-container">
          {{#linkTo user user}}{{avatar user}}{{/linkTo}}
        </div>

        <div class="text">
          {{text}}
        </div>
      </li>
    {{/each}}

    <li class="comment new-comment">
      {{#linkTo unimplemented}}
        <i class="ss-standard ss-attach"></i>
      {{/linkTo}}

      <div class="avatar-container">
        {{avatar currentUser}}
      </div>

      <div class="text">
        {{view view.commentTextArea class="field" rows="1"}}
      </div>
    </li>
  </ul>
</div>
