<div class="comments">
  {{#if comments.length}}
    <ul class="comments-list unstyled">
      {{#each comments}}
        <li>Place Holder</li>
      {{/each}}
    </ul>
  {{/if}}

  {{view view.commentTextArea}}
</div>
