{{#with view.comment}}
  {{#with user}}
    <a {{action showUser this href=true}} class="avatar">
      <img {{bindAttr src="avatar.small_url"}} class="avatar">
    </a>
  {{/with}}

  <div class="text">
    {{text}}
  </div>
{{/with}}
