<div class="block block-arrow-top comments">
  <ul class="comments-list unstyled">
    {{#each comments}}
      <li class="comment">
        <div class="avatar-container">
          {{#linkTo "user" user}}{{avatar user}}{{/linkTo}}
        </div>
        <div class="text">
          {{text}}
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="new-comment">
    {{#linkTo "unimplemented" class="pull-right comment-attachment-icon"}}
      <i class="ss-standard ss-attach muted"></i>
    {{/linkTo}}

    <div class="text">
      {{view view.commentTextArea class="field" rows="1"}}
    </div>
  </div>
</div>
