<div class="block comments">
  <ul class="comments-list unstyled">
    {{#each comments}}
      <li class="comment">
        <div class="avatar-container">
          {{#link-to "user" user}}{{avatar user}}{{/link-to}}
        </div>
        <div class="text">
          {{text}}
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="new-comment">
    {{#link-to "unimplemented" class="pull-right comment-attachment-icon"}}
      <i class="ss-standard ss-attach"></i>
    {{/link-to}}

    <div class="text">
      {{view view.commentTextArea class="field" rows="1"}}
    </div>
  </div>
</div>
