<div class="comments">
  {{#if comments.length}}
    <ul class="comments-list unstyled">
      {{#each comments}}
        <li class="comment">
          <div class="avatar-container">
            {{#linkTo user user}}{{avatar user}}{{/linkTo}}
          </div>

          <div class="text">
            {{text}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{view view.commentTextArea}}
</div>
