<div class="comments">
  <ul class="comments-list unstyled">
    {{#each comments}}
      <li class="comment">
        <div class="avatar-container">
          {{#linkTo user user}}{{avatar user}}{{/linkTo}}
        </div>

        <div class="text">
          {{text}}
        </div>
      </li>
    {{/each}}

    <li class="comment">
      <div class="avatar-container">
        {{avatar currentUser}}
      </div>

      <div class="text">
        {{view view.commentTextArea class="field field-blend-in"}}
      </div>
    </li>
  </ul>
</div>
