<div class="block">
  <div class="page-header">
    <h1>Radium Development Toolbox</h1>
  </div>

  <ul class="nav nav-pills">
    <li>{{#linkTo development.forms}}Forms{{/linkTo}}</li>
    <li>{{#linkTo development.todoForm}}Todo Form{{/linkTo}}</li>
    <li>{{#linkTo development.callForm}}Call Form{{/linkTo}}</li>
    <li>{{#linkTo development.meetingForm}}Meeting Form{{/linkTo}}</li>
    <li>{{#linkTo development.discussionForm}}Discussion Form{{/linkTo}}</li>
    <li>{{#linkTo development.widgets}}Widgets{{/linkTo}}</li>
  </ul>
</div>

{{outlet}}
