<div id="drawer-panel">
  <div id="drawer-buttons">
    <a {{action toggleDrawer notificationsDrawerName}} href="#">
      <i class="icon-notifications"></i>
    </a>

    {{outlet buttons}}
  </div>

  {{outlet}}
</div>
