<div id="drawer-panel">
  <div id="drawer-buttons">
    <a {{action toggleDrawer notificationsDrawerName}} href="#">
      <i class="icon-notifications"></i>
    </a>

    {{outlet buttons}}

    <a id="admin-menu" href="#">
      <i class="icon-menu"></i>
    </a>
  </div>

  {{outlet}}
</div>

<div id="admin-popover" style="display:none">
  <ul class="unstyled">
    <li>{{#linkTo development.forms}}Forms{{/linkTo}}</li>
  </ul>
</div>
