<div id="drawer-panel">
  <div id="drawer-buttons">
    <a {{action toggleDrawer notificationsDrawerName}}>
      <i class="icon-bell"></i>
    </a>

    {{outlet buttons}}
  </div>

  {{outlet}}
</div>
