<div id="drawer-panel">
  <div id="drawer-buttons">
    <a {{action toggleDrawer notificationsDrawerName}} href="#">
      <i class="icon-notifications"></i>
    </a>

    <a {{action back}} href="#">
      <i class="icon-back"></i>
    </a>

    {{outlet buttons}}

    {{#linkTo development}}
      <i class="icon-menu"></i>
    {{/linkTo}}
  </div>

  {{outlet}}
</div>
