<div id="drawer-panel">
  <div id="drawer-buttons">
    <a {{action toggleNotifications target="controller"}}>
      <i class="icon-bell"></i>
    </a>

    {{outlet buttons}}
  </div>

  {{outlet}}
</div>
