<div class="page-header">
  <h3>{{view.dateHeader}}</h3>
</div>
{{collection Radium.FeedItemsListView collectionBinding="view.unclustered"}}
{{collection Radium.ClusterListView collectionBinding="view.clusters"}}
