<div class="page-header">
  {{!FIXME: how can we do unbound handlebars helpers?}}
  <h3>{{unbound view.dateHeader}}</h3>
</div>
{{collection Radium.FeedItemsListView collectionBinding="view.unclustered"}}
{{collection Radium.ClusterListView collectionBinding="view.clusters"}}
