<h2>Feed</h2>

<div class="feed">
  {{#if allLoaded}}
    {{render activities visibleContent}}
    {{partial "shared/show_more"}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
</div>
<!--
  <div class="feed-item">
    <div class="feed-item-header">
      <div class="pull-right">
        <small class="feed-item-date">Today at 1:21pm</small>
        <button class="btn btn-link feed-item-comments-btn"><i class="ss-symbolicons-block ss-chat"></i> 2</button>
      </div>
      <div class="clearfix">
        <div class="feed-item-icon">
          <i class="ss-standard ss-mail"></i>
        </div>
        <h5>How much is the upgrade for the server?</h5>
      </div>
    </div>
    <div class="feed-item-content">
      <p>From: <a href="#">Steve Jobs</a> to <a href="#">Michael Bolton</a> <a href="#">Read more</a></p>
      {{!render 'comments' model}}
    </div>
  </div>

  <div class="feed-item">
    <div class="feed-item-header">
      <div class="pull-right">
        <small class="feed-item-date">Today at 12:00pm</small>
      </div>
      <div class="clearfix">
        <div class="feed-item-icon">
          <i class="ss-standard ss-user"></i>
        </div>
        <h5>Bill Gates just became a lead</h5>
      </div>
    </div>
    <div class="feed-item-content">
      <p>from our website</p>
      {{!render 'comments' model}}
    </div>
  </div>

  <div class="feed-item">
    <div class="feed-item-header">
      <div class="pull-right">
        <small class="feed-item-date">Yesterday at 4:12pm</small>
        <button class="btn btn-link feed-item-comments-btn"><i class="ss-symbolicons-block ss-chat"></i> 2</button>
      </div>
      <div class="clearfix">
        <div class="feed-item-icon">
          <i class="ss-standard ss-briefcase"></i>
        </div>
        <h5>"Weekly catchup" meeting moved to Tuesday, 4th of June</h5>
      </div>
    </div>
    <div class="feed-item-content">
      <ul class="inline">
        <li>Attendees:</li>
        <li><img src="/images/default_avatars/small.png" alt=""></li>
        <li><img src="/images/default_avatars/small.png" alt=""></li>
        <li><img src="/images/default_avatars/small.png" alt=""></li>
      </ul>
      {{!render 'comments' model}}
    </div>
  </div>

  <div class="activity row">
    {{!partial "shared/show_more"}}
  </div>
</div>
-->
