{{#with view.content}}
  <a href="#" {{action setFilter type href=true}}>
    {{label}}
    {{#if view.isSelected}}
      <i class="icon-ok pull-right"></i>
    {{/if}}

    {{#if addButton}}
      {{view view.addResourceButton}}
    {{/if}}
  </a>
{{/with}}

