<button type="button" class="close" {{action "close" target="view"}}><i class="ss-standard ss-delete"></i></button>
{{#if message}}
  {{message}}
{{else}}
  <ul>
    {{#each errors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
