<button type="button" class="close" {{action "close" target="view"}}>&times;</button>
{{#if message}}
  {{message}}
{{else}}
  <ul>
    {{#each errors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
