<div class="block">
  <h1>Forms Playground</h1>

  <h3>New Todo Form: No Context</h3>
  {{control "forms/todo" newTodo}}

  <h3>Existing todo/w Context</h3>
  {{control "forms/todo" existingTodo}}

  <h3>Uneditable Todo</h3>
  {{control "forms/todo" uneditableTodo}}
</div>
