<header class="dashboard-header">
  {{#if currentUser.account.subscriptionInvalid}}
    <div class="alert">
      <i class="ss-standard ss-clock"></i> Your free, 14-day trial has expired. Please {{#link-to "settings.billing"}}upgrade your plan{{/link-to}} to continue using Radium.
    </div>
  {{/if}}
  <!--
  <div class="alert alert-info">
    <i class="ss-standard ss-users"></i> Looks like you haven't added any users yet. Radium can import your Gmail contacts for you, head over to the {{#link-to "addressbook.index"}}Address Book{{/link-to}} to add some now.
  </div>
  -->
  <div class="pull-right">
    {{#link-to "settings.profile" class="btn btn-primary"}}My Profile{{/link-to}}
  </div>
  <h4 class="muted dashboard-user-title">
    <div class="pull-left dashboard-user-avatar">
     {{#if  currentUser.isLoaded}}
        {{avatar currentUser}}
      {{else}}
        {{partial 'is_loading'}}
      {{/if}}
    </div>
    Welcome back, {{controller.currentUser.name}}
  </h4>
  <div class="clearfix"></div>
  <h1>Now, click on the links below to get started</h1>
</header>

<div class="dashboard-grid">
  <ul class="unstyled">
    <li class="dashboard-grid-item">
      {{#link-to 'settings.profile' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-user"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Complete Profile</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'settings.company' class="dashboard-grid-link" style="background:red"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-like"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Invite Your Team</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'settings.billing' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-heart"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Get a Free Month</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'leads.new' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-users"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add Contacts</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'deals.new' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-dollarsign"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Deal</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'user' currentUser class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-check"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Todo</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'user.form' currentUser 'call' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-phone"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Call</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'user.form' currentUser 'meeting' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-calendar"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Meeting</h4>
        </div>
      {{/link-to}}
    </li>
  </ul>
</div>
