<header class="dashboard-header">
  <div class="pull-right">
    {{#link-to "settings.profile" class="btn btn-primary"}}My Profile{{/link-to}}
  </div>
  <h4 class="muted dashboard-user-title">
    <div class="pull-left dashboard-user-avatar">
     {{#if  currentUser.isLoaded}}
        {{avatar currentUser}}
      {{else}}
        {{partial 'is_loading'}}
      {{/if}}
    </div>
    Welcome back, {{controller.currentUser.name}}
  </h4>
  <div class="clearfix"></div>
  <h1>Now, click on the links below to get started</h1>
</header>

<div class="dashboard-grid">
  <ul class="unstyled">
    <li class="dashboard-grid-item">
      <a href="https://chrome.google.com/webstore/detail/radium-crm/dnddobnppadodoiomgomhmkbalanoeia" class="dashboard-grid-link" target="_blank">
        <div class="dashboard-grid-icon">
          <img src="/images/google-chrome-logo.svg" width="70" alt="Download our Google Chrome Extenstion" />
        </div>
        <div class="dashboard-grid-label">
          <h4>Get the Chrome Extension</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'settings.company' class="dashboard-grid-link" style="background:red"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-like"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Invite Your Team</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'leads.new' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-users"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add Contacts</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'deals.new' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-dollarsign"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Deal</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'user' currentUser class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-check"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Todo</h4>
        </div>
      {{/link-to}}
    </li>
    <li class="dashboard-grid-item">
      {{#link-to 'user.form' currentUser 'meeting' class="dashboard-grid-link"}}
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-calendar"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Meeting</h4>
        </div>
      {{/link-to}}
    </li>
  </ul>
</div>
