<header class="dashboard-header">
  <div class="pull-right">
    <a href="#" class="btn btn-primary">My Profile</a>
  </div>
  <h4 class="muted">Welcome back, user</h4>
  <h1>Now, click on the links below to get started</h1>
</header>

<div class="dashboard-grid">
  <ul class="unstyled">
    <li class="dashboard-grid-item dashboard-grid-item-profile">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-label">
          <h4>Complete Your Profile</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-like"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Invite Your Team</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-heart"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Get a Free Month</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-users"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add Contacts</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-dollarsign"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Deal</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-check"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Todo</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-phone"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Call</h4>
        </div>
      </a>
    </li>
    <li class="dashboard-grid-item">
      <a href="#" class="dashboard-grid-link">
        <div class="dashboard-grid-icon">
          <i class="ss-standard ss-calendar"></i>
        </div>
        <div class="dashboard-grid-label">
          <h4>Add a Meeting</h4>
        </div>
      </a>
    </li>
  </ul>
</div>