<div class="comments">
  {{#if view.comments.length}}
  <ul class="comments-list unstyled">
    {{#each view.comments}}
      {{view Radium.CommentView commentBinding="this"}}
    {{/each}}
  </ul>
  {{/if}}
  {{#if view.isError}}
    <p class="error">Hmm, something wasn't done correctly. Try again?</p>
  {{/if}}
  {{view view.commentTextArea}}
</div>
