<div class="page-header">
  <h2>Add Leads</h2>
</div>

<div class="new-leads-control">
  <div class="btn-toolbar">
    {{#link-to "leads.new" class="btn btn-large btn-link" activeClass="btn-primary"}}
      <i class="ss-standard ss-plus"></i> Single Lead
    {{/link-to}}
    {{#link-to "leads.import" class="btn btn-large btn-link" activeClass="btn-primary"}}
      Import leads from file
    {{/link-to}}
  </div>
</div>

<div class="tab-content">
  {{outlet}}
</div>