<div class="page-header">
  <h2>Add Contacts</h2>
</div>

<div class="new-leads-control">
  <ul class="nav nav-tabs">
    {{#link-to "leads.single" href=false tagName="li"}}
      <a href="#"><i class="ss-standard ss-plus"></i> Single Contact</a>
    {{/link-to}}
    {{#link-to "leads.import" href=false tagName="li"}}
      <a href="#">Import Contacts from File</a>
    {{/link-to}}
    {{#link-to "untracked.index" "filtered" tagName="li"}}
      <a href="#">
        Import Contacts from Google
        <span class="badge">{{untrackedTotal}}</span>
      </a>
    {{/link-to}}
    {{#unless currentUser.initialContactsImported}}
      <li>
        <a href="#">
          <span class="badge contacts-importing">Importing</span>
        </a>
      </li>
    {{/unless}}
  </ul>
</div>

<div class="tab-content">
  {{outlet}}
</div>