<div class="page-header">
  <h2>Add Leads</h2>
</div>

<div class="new-leads-control">
  <ul class="nav nav-tabs">
    {{#link-to "leads.new" href=false tagName="li"}}
      <a href="#"><i class="ss-standard ss-plus"></i> Single Lead</a>
    {{/link-to}}
    {{#link-to "leads.import" href=false tagName="li"}}
      <a href="#">Import leads from file</a>
    {{/link-to}}
  </ul>
</div>

<div class="tab-content">
  {{outlet}}
</div>