<div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
  <div class="modal-header">
    <h3 align="center"><a href="http://api.radiumcrm.com/sessions/new">Login to Radium</a></h3>
  </div>
</div>
