<div id="topbar" role="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    {{#link-to "index" class="brand"}}
      <img src="/images/logo.png" alt="::radium">
    {{/link-to}}
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".main-nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pull-right">
        {{render "search/main"}}
        <ul class="nav">
          <li>
            <a href="#" {{action "logOut"}}>
              <i class="ss-standard ss-logout"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="collapse nav-collapse main-nav-collapse">
        <ul class="nav main-nav">
          <li class="dropdown">
            {{#link-to "messages" "inbox"}}
              Messages
            {{/link-to}}
          </li>

          <li class="dropdown">
            {{#link-to "conversations" "incoming"}}
              Conversations
            {{/link-to}}
          </li>

          <li>
            {{#link-to "calendar.index" today}}
              Calendar
            {{/link-to}}
          </li>

          <li>
            {{#link-to "user" currentUser}}
              Tasks
            {{/link-to}}
          </li>

          <li>
            {{#link-to "pipeline"}}
              Pipeline
            {{/link-to}}
          </li>

          <li>
            {{#link-to "people.contacts"}}
              Contacts
            {{/link-to}}
          </li>
          <li>
            {{#link-to "reports"}}
              Reports
            {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
