<li class="notification-item">
  <div href="#" class="notification-item-content">
    <div class="notification-item-header">
      <div>
        {{yield}}
        <!--<small class="notification-item-meta">Write a memo to Bob about targets this month</small>-->
      </div>
    </div>

    <div class="notification-item-footer">
      {{partial "notifications/notification_actions"}}
      <div class="clearfix">
        <small class="notification-item-meta">
          <i class="ss-symbolicons-block ss-chat notification-item-icon"></i>
          {{timeInHumanFormat}}
        </small>
      </div>
    </div>
  </div>
</li>
