<ul>
  <li><a {{action showPreviousPage target="controller"}} href="#">«</a></li>
  <li><a href="#">{{currentPage}}</a></li>
  <li><a {{action showNextPage target="controller"}} href="#">»</a></li>
</ul>
