<div class="row">
  <aside class="settings-sidebar">
    <nav class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li>{{#linkTo settings.account}}Account{{/linkTo}}</li>
        <li>{{#linkTo settings.teamMembers}}Team Members{{/linkTo}}</li>
        <li>{{#linkTo settings.billing}}Billing and Upgrade{{/linkTo}}</li>
        <li>{{#linkTo settings.accounts}}Connected Accounts{{/linkTo}}</li>
        <li>{{#linkTo settings.email}}Email{{/linkTo}}</li>
        <li>{{#linkTo settings.calendar}}Calendar{{/linkTo}}</li>
        <li>{{#linkTo settings.mobile}}Mobile{{/linkTo}}</li>
        <li>{{#linkTo settings.calls}}Calls{{/linkTo}}</li>
        <li>{{#linkTo settings.api}}API{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Custom Fields{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Pipeline States{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Reminders alerts{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Third party data{{/linkTo}}</li>
      </ul>
    </nav>
  </aside>

  <div class="span10">
    {{outlet}}
  </div>
</div>