<div class="row">
  <aside class="settings-sidebar">
    <nav class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li>{{#linkTo "settings.profile"}}Profile{{/linkTo}}</li>
        <li>{{#linkTo "settings.company"}}Company{{/linkTo}}</li>
        <li>{{#linkTo "settings.billing"}}Billing and Upgrade{{/linkTo}}</li>
        <li>{{#linkTo "settings.api"}}API{{/linkTo}}</li>
        <li>{{#linkTo "settings.customFields"}}Custom Fields{{/linkTo}}</li>
        <li>{{#linkTo "settings.pipelineStates"}}Pipeline States{{/linkTo}}</li>
        <li>{{#linkTo "settings.remindersAlerts"}}Reminders alerts{{/linkTo}}</li>
      </ul>
    </nav>
  </aside>

  <div class="span8">
    {{outlet}}
  </div>
</div>
