<div class="row">
  <aside class="settings-sidebar">
    <h3>Settings</h3>
    <nav>
      <ul class="unstyled">
        <li>{{#link-to "settings.profile"}}Profile{{/link-to}}</li>
        <li>{{#link-to "settings.company"}}Company{{/link-to}}</li>
        <li>{{#link-to "settings.billing"}}Billing and Upgrade{{/link-to}}</li>
        <li>{{#link-to "settings.api"}}API{{/link-to}}</li>
        <li>{{#link-to "settings.pipelineStates"}}Pipeline States{{/link-to}}</li>
        <li>{{#link-to "settings.leadSources"}}Lead Sources{{/link-to}}</li>
        <li>{{#link-to "settings.remindersAlerts"}}Reminders alerts{{/link-to}}</li>
      </ul>
    </nav>
  </aside>

  <div class="span8">
    {{outlet}}
  </div>
</div>
