<div class="row">
  <aside class="settings-sidebar">
    <h3>Settings</h3>
    <nav>
      <ul class="unstyled">
        <li>{{#linkTo "settings.profile"}}Profile{{/linkTo}}</li>
        <li>{{#linkTo "settings.company"}}Company{{/linkTo}}</li>
        <li>{{#linkTo "settings.billing"}}Billing and Upgrade{{/linkTo}}</li>
        <li>{{#linkTo "settings.api"}}API{{/linkTo}}</li>
        <li>{{#linkTo "settings.pipelineStates"}}Pipeline States{{/linkTo}}</li>
        <li>{{#linkTo "settings.leadSources"}}Lead Sources{{/linkTo}}</li>
        <li>{{#linkTo "settings.remindersAlerts"}}Reminders alerts{{/linkTo}}</li>
      </ul>
    </nav>
  </aside>

  <div class="span8">
    {{outlet}}
  </div>
</div>
