<div class="row">
  <aside class="settings-sidebar">
    <nav class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li>{{#linkTo settings.account}}Account{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Team Members{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Billing and Upgrade{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Connected Accounts{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Email{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Calendar{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Mobile{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Calls{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}API{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Custom Fields{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Pipeline States{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Reminders alerts{{/linkTo}}</li>
        <li>{{#linkTo settings.empty}}Third party data{{/linkTo}}</li>
      </ul>
    </nav>
  </aside>

  <div class="span10">
    <div class="page-header">
      <h2>My Profile</h2>
    </div>
  </div>
</div>