<div class="task-list">
  {{#each task in visibleContent itemController="taskListItem"}}
    {{#if showTodoForm}}
      {{render "forms/todo" task.model}}
    {{/if}}

    {{#if showCallForm}}
      {{render "forms/call" task.model}}
    {{/if}}

    {{#if showMeetingForm}}
      {{render "forms/meeting" task.model}}
    {{/if}}
  {{/each}}
  {{partial "shared/show_more"}}
</div>
