.search-result-list {

}

.search-results-header {
  padding: 4px 0;
  line-height: 30px;
  border: {
    top: 2px solid $border;
    bottom: 2px solid $border;
  }

  a {
    color: $border;
  }
}

.search-result-list-item {
  padding: 10px 0 10px 50px;
  position: relative;
  border-bottom: 1px solid $border;
  @include box-sizing(border-box);

  &.is-checked {
    border: {
      right: 1px solid $link;
      left: 1px solid $link;
    }
    background-color: $calendar-active-bg;
  }

  .delete {
    margin: 25px 10px;
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .delete {
    opacity: 1;
  }

  .avatar {
    display: inline-block;
  }

  .links a,
  .search-list-item-title a {
    color: #333;
  }
}

.search-list-item-title {
  margin-top: 0;
}