$body: #6e6e6e;

.search-result-list {

}

#addressbook {
  .page-header {
    min-height: 60px;
  }

  table {
    width: 100%;
  }

  th {
    color: rgb(118,144,170);
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid black;

  }


  td {
    background-color: white;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  td, th {
    width: 80px;
    max-width: 80px;
    padding-left: 5px;
    height: 50px;
    &.row-selector {
      width: 20px;
    }
  }

  .untracked {
    .avatar-col {
      width: 40px;
    }
  }
}

.search-results-header {
  $border: #595858;
  padding: 4px 0;
  overflow-x: hidden;
  line-height: 30px;
  font-weight: bold;
  border: {
    top: 2px solid $border;
    bottom: 2px solid $border;
  }
  color: $body;

  > div {
    float: left;
  }

  a {
    color: $body;
  }

  @include breakpoint(portrait) {
    font-size: 11px;
  }
}

.address-book-button {
  min-width: 160px;
}

.search-result-list-item {
  width: 100%;
  padding: 10px 0;
  float: left;
  position: relative;
  border-bottom: 1px solid $border;
  border: {
    right: 1px solid transparent;
    left: 1px solid transparent;
  }
  color: $body;
  @include box-sizing(border-box);

  > div {
    float: left;
  }

  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .title,
  .title a {
    color: #2d2d30;
  }

  a {
    color: $body;
  }

  &.is-checked {
    border: {
      right-color: $link;
      left-color: $link;
    }
    background-color: $calendar-active-bg;
  }

  .company-icon {
    height: 50px;
    font-size: 50px;
    line-height: 60px;

    @include breakpoint(portrait) {
      margin-right: 0;
      float: right;
    }
  }

  .delete {
    margin: 25px 10px;
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .delete {
    opacity: 1;
  }

  .checker {
    position: relative;
  }

  .checkers {
    text-align: right;


    @include breakpoint(portrait) {
      text-align: left;

      .check-box {
        top: 18px;
        left: 8px;
        bottom: auto;
      }
    }
  }

  .check-box {
    margin: auto;
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
  }

  .avatar {
    display: inline-block;
  }
}

.search-list-item-title {
  h4 {
    margin-top: 0;

    a {
      color: #333;
    }
  }
}

.new-company {
  label {
    font-weight: bold;
    color: #6e6e6e;
  }

  .control-box input.ember-text-field {
    min-width: 300px;
  }

  .controlbox-dropdown-group,  .controlbox-dropdown-group .btn{
    width: 35px;
  }
}

.existing-company {
  clear: both;
  float: right;
  margin-top: 10px;
}
