$body: #6e6e6e;

.search-result-list {

}

.search-results-header {
  $border: #595858;
  padding: 4px 0;
  overflow-x: hidden;
  line-height: 30px;
  font-weight: bold;
  border: {
    top: 2px solid $border;
    bottom: 2px solid $border;
  }
  color: $body;

  > div {
    float: left;
  }

  a {
    color: $body;
  }
}

.address-book-button {
  min-width: 160px;
}

.search-result-list-item {
  width: 100%;
  padding: 10px 0;
  float: left;
  position: relative;
  border-bottom: 1px solid $border;
  border: {
      right: 1px solid transparent;
      left: 1px solid transparent;
    }
  color: $body;
  @include box-sizing(border-box);

  > div {
    float: left;
  }

  .title,
  .title a {
    color: #2d2d30;
  }

  a {
    color: $body;
  }

  &.is-checked {
    border: {
      right-color: $link;
      left-color: $link;
    }
    background-color: $calendar-active-bg;
  }

  .company-icon {
    height: 50px;
    font-size: 50px;
    line-height: 60px;
  }

  .delete {
    margin: 25px 10px;
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .delete {
    opacity: 1;
  }

  .checker {
    position: relative;
  }

  .check-box {
    margin: auto;
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
  }

  .avatar {
    display: inline-block;
  }
}

.search-list-item-title {
  h4 {
    margin-top: 0;

    a {
      color: #333;
    }
  }
}