.billing-form {
  display: none;
}
.update-billing {
  color: $blue;
}
.settings-view {
  
  .control-box {
    margin-left: 0 !important;
    width: calc(100% - 180px);

    .selected-container {
      height: 50px;
      line-height: 50px;
    }

    input {
      border: 1px solid $border !important;
      background: white !important;
      border-radius: 0px !important;
      width: 350px;
    }
  }

  .control-box input,
  .control-box span {
    float: left;
    clear: right;
    margin-right: 10px;
  }
}

#card-expiry-month,
#card-expiry-year {
  width: 80px;
}

.settings-group .control-group label {
  line-height: 44px;
  width: 180px;
}