.calendar-container {
  padding: 0 20px 0 420px;

  @include breakpoint(landscape) {
    padding-left: 350px;
  }

  @include breakpoint(large-handheld) {
    padding-left: 60px;
  }
}

.calendar-navigation {
  h3 {
    text-align: center;
    margin: 0 auto;

    // related to centering the header vertically
    margin-bottom: 5px;
    line-height: 24.5px;
  }
}

.calendar-sidebar{
  .selected{
    border: 1px solid $blue;
  }
}

.events-list-back-button {
  padding: 0 0 10px 20px;
}

._events-list {
  padding: 0 20px;
  line-height: 25px;

}

.events-list-header {
  @extend ._events-list;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.events-list-item {
  @extend ._events-list;
  padding: {
    top: 5px;
    bottom: 5px;
  }
  background: #fff;
  border-bottom: 1px solid rgba(black, 0.1);

  &.is-selected {
    background: lightblue;
  }
}

.events-list-empty {
  text-align: center;
}

.events-list-item-timestamp {
  float: left;
}

.events-list-item-description {
  padding: 0 0 0 20px;
  overflow: hidden;
}

.calendar {
  width: 100%;
  border-spacing: 4px;
  border-collapse: separate;

  td {
    width: 14%;
    background-color: $bright;
  }

  .is-different-month {
    background-color: $dark-background;

    .btn-slab {
      border-color: darken($dark-background, 15);
    }
  }

  .is-selected-date {
    background-color: #c3e3ba;

    .btn-slab {
      border-color: darken(#adde9f, 15);
    }
  }

  .date {
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: lighten($dark, 45);
    line-height: 11px;
  }

  .wrapper {
    padding: 4px;
    min-height: 100px;
  }

  .day ul {
    list-style: none;
    margin: 0;

    li {
      font-size: 11px;
      line-height: 11px;
    }
  }

  .btn-slab {
    border-top: solid 1px $dark-background;
    display: block;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: none;
  }
}
