$calendar-off: #d8d9d9;

.calendar-container {
  width: 100%;

  @include breakpoint(landscape) {
    padding-left: 350px;
  }

  @include breakpoint(large-handheld) {
    padding-left: 60px;
  }
}

.calendar-month-btn {
  i {
    font-size: 9px;
  }
}

.calendar-sidebar{
  .selected{
    border: 1px solid $blue;
  }
}

.events-user-details {
  margin: 0;
  overflow: hidden;

  .user-avatar {
    margin-right: 10px;
    float: left;
  }
}

.events-user-name {
  margin-top: 0;
}

.events-list-back-button {
  padding: 0 0 10px 20px;
}

._events-list {
  padding: 0 20px;

}

.events-list-header {
  @extend ._events-list;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;
  background-color: #e9e9e9;
}

.events-list-item {
  @extend ._events-list;
  padding: {
    top: 8px;
    bottom: 8px;
  }
  font-size: 14px;
  line-height: 18px;
  background: #fff;
  border-bottom: 1px solid rgba(black, 0.1);
  color: #6e6e6e;

  &.is-selected {
    background: $calendar-active-bg;

    a {
      color: $calendar-active;
    }
  }

  time {
    float: left;
    font-weight: bold;
    text-transform: lowercase;
  }

  i {
    float: left;
    margin-right: 10px;
  }

  a {
    color: inherit;
  }
}

.events-list-empty {
  text-align: center;
}

.events-list-item-description {
  padding: 0 0 0 20px;
  overflow: hidden;
}

.calendar {
  width: 100%;
  border-spacing: 4px;
  border-collapse: separate;
  table-layout: fixed;

  td {
    vertical-align: top;
    background-color: $bright;
  }

  tr {
    td:last-of-type,
    td:nth-of-type(6) {
      color: darken($calendar-off, 20%);
      background-color: lighten($calendar-off, 2%);

      .date {
        color: darken($calendar-off, 8%);
      }
    }

    th:last-of-type,
    th:nth-of-type(6) {
      color: darken($calendar-off, 20%);
    }
  }

  .is-different-month {
    background-color: $dark-background;
  }

  .is-selected-date {
    background-color: $calendar-active-bg;
    border: 1px solid #bcbcbc;

    .btn-slab {
      color: darken($calendar-active, 20%);
    }

    .date {
      color: darken($calendar-active, 25%);
    }
  }

  .date {
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: lighten($dark, 45);
    line-height: 20px;
  }

  .wrapper {
    padding: 4px 10px;
    min-height: 100px;
  }

  .day ul {
    list-style: none;
    margin: 0;
  }

  .btn-slab {
    display: block;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
  }
}

.day-event-item {
  font-size: 12px;
  line-height: 18px;
  color: #6e6e6e;

  a {
    color: inherit;

    &:hover {
      color: #3290e5;
    }
  }

  time {
    width: 60px;
    display: block;
    font-weight: bold;
    float: left;
    clear: left;
  }

  &.is-selected a {
    color: #3290e5;
  }
}

.day-event-item-description {
  max-width: 200px;
  display: block;
  margin-left: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
