#addressbook {
  .existing-company {
    clear: both;
    margin-top: 10px;
    margin-left: 25px;
  }

  .table-container.companies, .table-container.untracked, .company-form {
    margin-left: 15px;
  }

  .companies .variadic-table thead tr {
    .open-deals {
      min-width: 120px;
    }
  }
  .companies .variadic-table tbody tr {
    td.open-deals {
      text-align: center;
    }
  }
}

#addressbook .companies-view {
  .subhead {
    margin: 10px 15px 20px;
    width: calc(100% - 30px);

    .col-selector {
      margin-right: 0;
    }
    .count {
      float: left;

      .chosen,
      .total {
        font-size: 24px;
      }
    }
    .tools {
      .btn-group {
        height: 36px;
        line-height: 36px;
        display: inline-block;
      }
      .caret {
        margin-top: 16px;
        margin-left: 12px;
      }
    }
  }

  .table-container {
    width: 100%;
  }

  .table-container .left-table {
    margin-left: 10px;
  }

  .company-form {
    margin-bottom: 30px;
  }
}