.company-sidebar-view{
  .control-label{
    font-weight: bold;
  }

  .inline-editor-open{
    input{
      margin-bottom: 0;
    }

    input.zip{
      margin-top: 10px;
    }
  }

  .meta {
    .img-polaroid {
      float: left;
      margin-right: 10px;
    }

    .company{
      h1{
        text-transform: uppercase;
      }

      input{
        font-weight: bold;
        font-size: 18px;
        padding-left: 5px;
        padding-top: 3px;
      }

      .icon-edit{
        position: relative;
        top: 10px;
      }
    }

    .inline-editor-open.company{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .inline-editor-closed.company{
      margin-bottom: 13px;
    }

    .inline-editor.website{
      &.inline-editor-closed{
        margin-bottom: 32px;
      }
    }

    .website {
      position: relative; 
      top: 5px;

      input{
        margin-bottom: -8px;
      }
      .icon-edit{
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }

  .add-contact{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .add.icon-plus{
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
  }

  hr.first{
    margin-top: 30px;
    margin-bottom: 0;
  }

  hr:not(.first){
    margin: 5px 0 5px 0;
  }

  .tag-picker{
    h2{
      margin: 0;
    }
  }

  .assigned-to {
    .avatar {
      float: left;
      margin-right: 10px;
    }
  }

  .control-group.files{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .user-picker-control-box{
    margin-bottom: 10px;
  }
}
