.company-banner {
  background-color: #eaeaea;

  .name {
    .edit-icon {
      font-size: 12px;
      color: $muted;
      display: none;
    }

    &:hover .edit-icon {
      display: block;
    }
  }
}

.company-banner-details {
  margin-left: 60px;
  position: relative;

  .page-header,
  .page-header h3 {
    margin: 0;
  }

  .page-header {
    margin-bottom: 20px;
  }
}

.company-banner-address {
  width: 310px;
}

.company-banner-stats {
  color: #787878;

  .dl-horizontal {
    margin-top: 0;

    dt {
      width: 175px;
      text-align: left;
    }

    dd {
      margin-left: 175px;
    }
  }
}

.company-banner-actions {
  position: absolute;
  right: 0;
  bottom: 0;

  .btn-toolbar > .btn {
    margin-right: 0;
  }

  margin-bottom: 8px;
}

.company-icon {
  margin: 0 20px 0 0;
  font-size: 40px;
  line-height: 60px;
  color: $link;
}

.contact-company-list {
  margin-bottom: 0;
}

.company-link {
  margin: 0;
  font-size: 14px;
}

.company-sidebar-view{
  .control-label{
    font-weight: bold;
  }

  .inline-editor-open{
    input{
      margin-bottom: 0;
    }
  }

  .meta {
    .img-polaroid {
      float: left;
      margin-right: 10px;
    }

    .company{
      h1{
        text-transform: uppercase;
      }

      input{
        font-weight: bold;
        font-size: 18px;
        padding-left: 5px;
        padding-top: 3px;
      }

      .icon-edit{
        position: relative;
        top: 10px;
      }
    }

    .inline-editor-open.company{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .inline-editor-closed.company{
      margin-bottom: 13px;
    }

    .inline-editor.website{
      &.inline-editor-closed{
        margin-bottom: 32px;
      }
      a{
        position: relative;
        top: 4px;
      }
    }

    .website {
      position: relative;
      top: 5px;

      input{
        margin-bottom: -8px;
      }
      .icon-edit{
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }

  .company-type{
    h2{
      font-weight: normal;
      font-size: 15px;
      position: relative;
      top: -4px;
      left: 7px;
      margin: 0;
    }

    .icon-edit{
      position: absolute;
      right: 0;
      top: 7px;
    }
  }

  .add-contact{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .add.icon-plus{
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
  }

  hr.first{
    margin-top: 30px;
    margin-bottom: 0;
  }

  hr:not(.first){
    margin: 5px 0 5px 0;
  }

  .tag-picker{
    h2{
      margin: 0;
    }
  }

  .assigned-to {
    margin-bottom: 30px;
    .avatar {
      float: left;
      margin-right: 10px;
    }
  }

  .control-group.files{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .user-picker-control-box{
    margin-bottom: 10px;
  }
}
