.conversations-view .single-column-container {
    padding-right: 0;
}

.conversations-container {
  margin-top: 10px;
}

.conversations-sidebar {
  display: inline-block;
  float: left;
  margin-top: 67px;
}

.toolbar a.list {
  display: none;
}

.conversations-sidebar .group {
  margin-bottom: 30px;
}

.conversations-sidebar .group p {
  font-weight: 600;
  margin-bottom: 5px;
}

.conversations-sidebar .item {
    width: calc(100% - 30px);
    display: inline-block;
    padding: 7px 15px 6px;
    border-radius: 5px;
    margin-bottom: 3px;
    background: #e9e9e9;
    color: #666;

    &.active {
        background: #3887e6 !important;
        color: #fff;

        .badge {
            background: #6AA4EC;
        }
    }

    .badge {
        border-radius: 21px;
        margin-right: 0;
        font-weight: 600;
        padding: 2px 8px;
        background: #ddd;
        text-align: center;
        float: right;
    }
}



.conversations-table {
  display: inline-block;
  float: left;
}

.toolbar {
    padding-top: 7px;
    padding-bottom: 30px;
}

.toolbar > div {
  display: inline-block;
}


.toolbar input {
  height: 30px !important;
  margin-bottom: 0;
}


.toolbar .right {
  float: right;
}

.toolbar .right a {
  color: #666;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 0 2px;
}

.toolbar .right a i {
  position: relative;
  top: 2px;
}


.toolbar .right .list {
  background: #ddd;
}

.toolbar .right .chat {
  margin-right: 10px;
}


.toolbar .right a:hover {
  text-decoration: none;
}

.toolbar .right .chat:hover {
  background: #e9e9e9;
}

.toolbar .btn-group button:focus {
  outline: 0px;
}

.toolbar .btn-group img {
  width: 22px;
  padding-right: 5px;
  border-radius: 4px;
}

.toolbar .caret {
  border-top-color: #666 !important;
  vertical-align: top;
  top: 2px;
  position: relative;
  left: 2px;
}

.convo {
  font-size: 14px;
  width: 100%;
  margin-top: 35px;
  table-layout: fixed;
}

.convo tbody, .convo thead {
  display: block;
}

.convo tbody {
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.convo th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.convo tbody td.contact {
    // width: 20%;
    width: auto;

    a {
        display: inline-block;
        float: left;

        &:nth-of-type(1) {
            width: 23px;
        }
        &:nth-of-type(2) {
            width: calc(10vw + 5px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}



.convo tbody td.assign {
  width: 15%;
}

.convo tbody td.follow {
  width: 9%;
}

.convo tbody td.subject {
    // width: 24%;
    width: auto;

    a {
        width: calc(10vw + 110px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
    }
}

.convo tbody td.received {
  width: 8%;
  text-align: center;
}

.convo img {
  width: 22px;
  border-radius: 4px;
}

.convo th, .convo td {
  padding: 0 10px;
  line-height: 30px;
}

.convo tbody tr:first-of-type td {
    border-top: 0px;
}

.convo tr {
  border: {
    right: 1px solid transparent;
    left: 1px solid transparent;
  }

  &.is-checked {
    border: {
      right-color: $link;
      left-color: $link;
    }

    & td,
    &:hover td {
      background: $calendar-active-bg;
    }
  }
}



.convo tr tbody td{
  border-top: 1px solid #ddd;
}

.convo tr td.check{
  border-left: 1px solid #ddd;
}

.convo tr td.choose{
  border-right: 1px solid #ddd;
}

.convo td {
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #eee;
}

.convo tr .check:hover {
  cursor: pointer;
}


.convo .check {
  width: 3%;
  text-align: center;

  input {
    margin-top: 0;
  }
}

.convo td.choose span {
  padding: 0 4px;
  color: #ccc;
}

.convo .btn-group {
  // width: 100%;
  width: auto;
}

.convo .btn-group > a {
  font-size: 13px;
  display: inline-block;
  // width: 100%;
  width: auto;
  color: #333;
}

.convo .btn-group > a:hover {
  text-decoration: none;
}

.convo .btn-group > a:focus {
  box-shadow: none;
  outline: 0px;
  text-decoration: none;
}

.convo .btn-group > a span {
  vertical-align: middle;
}

.convo .btn-group > a .to {
  padding-left: 5px;
  // width: calc(70% - 22px);
  width: 100px;
  display: inline-block;
}

.convo .assign:active, .convo .assign:focus {
  color: red !important;
}

.convo i {
  width: 22px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 1px;
}

.convo .contact a {
  font-weight: 500;

  i {
    text-align: left;
    color: $muted;

    &.isPublic {
        color: $blue;
    }
  }
}

.convo .choose {
    width: 13%;
}

.convo .delete {
    width: 3%;
    padding: 0;

    a {
        color: #666;

        &:hover {
            color: $blue;
        }
    }
}

.follow-yes {
  color: Crimson;
}

.follow-waiting {
  color: #999;
}

.no-results {
    width: 100%;
}


.loading-gif {
    background: #e3e3e3;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    line-height: 30px;
    text-align: center;

    div {
        display: inline-block;
        width: auto;
    }
}

