// FIXME: remember to move
.two-column #main-panel {
  margin-left: 390px;
  margin-right: 55px;
}

.blue{
  color: $blue;
}

.contact-sidebar-view{
  .form{
    margin-right: 5px;
  }

  .control-label{
    font-weight: bold;
  }

  .inline-editor-open{
    input{
      margin-bottom: 0;
    }

    input.zip{
      margin-top: 10px;
    }
  }

  span.empty{
    color: $muted;
    font-style: italic;
  }

  .icon-call,
  .icon-mail{
    position: relative;
    top: 1px;
  }

  .multiple-field{
    position: relative;
  }

  .contact-detail{
    .detail{
      width: 267px;
      padding: 4px 0 4px 0;
    }
  }

  hr{
    margin: 10px 2px 10px 2px;
  }

  input{
    padding-left: 0;
  }

  .phone,
  .email{
     position: relative;

    .inline-editor-closed{
    a{
        position: relative;
        left: 1px;
      }
    }

    .multiple-field{
      .add-new{
        position: absolute;
        top: 2px;
        right: 2px;
      }

      input{
        margin-bottom: 5px;
      }
    }
  }


  .additional-detail{
    display: none;
  }

  .header,
  .company-website,
  .contact-type,
  .phone .control-group,
  .deals-won,
  .open-deals .deal,
  .assigned-to .createdAt,
  .assigned-to .source,
  .open-deals .deal-links{
    width: 100%;
    position: relative;

    > div{
      @include display-box;
      @include box-pack(justify);
      position: relative; 
    }
  }

  .company-website{
    margin-bottom: 10px;
    input{
      position: relative;
      top: -1px;
    }
    .inline-editor-open{
      .icon-cloud{
        position: relative;
        left: 1px;
      }
    }

    .inline-editor-closed{
      margin-bottom: 18px;

      .not-editing{
        height: 22px;
        position: relative;
        top: 4px;
        a{
          position: relative;
          left: 1px;
          top: 1px;
        }
        span{
          position: relative;
          top: 1px;
          left: 1px;
        }
      }
    }
  }

  .email{
    margin-bottom: 20px;
  }

  .phone{
    margin-top: 1px;
  }

  .show-more{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .email,
  .phone,
  .company-website{
    .icon-edit{
      opacity: 1;
      position: relative;
      top: 5px;
    }
  }

  .about,
  .email,
  .inline-editor{
    .icon-edit{
      opacity: 0;
    }

    &:hover{
      .icon-edit{
        opacity: 0.3;
        &:hover{
          opacity: 1;
        }
      }
    }
  }

  .meta{
    line-height: 26px;
    .company, .type{
      text-transform: uppercase;
    }
    overflow: visible;
  }

  .contact-type{
    height: 30px;
    h2{
      font-weight: normal;
      font-size: 15px;
      position: relative;
      top: -6px;
      left: 7px;
    }
  }

  .group-picker{
    i.icon-plus{
      font-size: 10px;
    }
  }

  .deals-won{
    .amount{
      margin-top: 9px;
    }
  }

  .open-deals{
    > div{
      text-transform: uppercase;
      font-weight: bold;
    }

    .deal{
      > div{
        margin-bottom: 10px
      }

      .deal-value{
        text-align: right;
        i{
          font-weight: normal;
        }
      }
    }

    .btn-primary{
      padding-left: 56px;
      padding-right: 70px;
    }
  }

  .deal-links{
    margin-top: 20px;
  }

  .about{
    .icon-edit{
      position: relative;
      top: 19px;
    }

    .inline-editor-closed{
      span{
        position: relative;
        top: 5px;
        left: 1px;
      }
    }

    textarea{
      width: 92%;
      padding-left: 0;
    }
  }

  .address{
    .icon-edit{
      position: relative;
      top: 13px;
    }

    .readonly{
      margin-left: 10px;
    }

    .multiple-field{
      .add-new{
        width: 100%;
        .icon-plus{
          position: absolute;
          right: 0;
          top: -25px;
        }
      }
    }
  }

  .assigned-to {
    label{
      text-transform: uppercase;
      color: $muted;
    }

    .icon-edit{
      position: relative;
      top: 20px;
    }

    span.text{
      display: none;
    }

    .avatar {
      float: left;
      margin-right: 10px;
    }

    .user-picker-control-box{
      border: solid 1px $control-border-color;
    }

    .source,
    .createdAt{
      margin-top: 20px;
    }
  }

  .btn-block{
    width: 100%;
  }
}
