.contact-sidebar-view{
  .form{
    margin-right: 5px;
  }

  .meta{
    line-height: 26px;
    .company, .type{
      text-transform: uppercase;
    }
  }

  hr{
    margin: 0;
  }

  .company-website, .contact-type, .email, .phone{
    width: 100%;
    position: relative;
    > div{
      @include display-box;
      @include box-pack(justify);
      .status{
        h2{
          color: $blue;
        }
      }
      margin-bottom: 10px;
      i.icon-edit{
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .not-editing{
        position: relative;
        top: 1px;
        margin-bottom: 1px;
      }

      input{
        outline: none;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .contact-type{
    > div{
      position: relative;
      top: 5px;
    }

    select{
      position: relative;
      top: 4px;
    }
  }

  .company-website{
    margin-top: 10px;
    a{
      margin-left: 3px;
    }
  }
}
