  .deal-sidebar-view {
    .page-header {
      h1 {
        font-size: 26px;
        line-height: 26px;
    }
  }

  .additional-check{
    position: relative;
    top: -7px;
  }

  .forecast{
    position: relative;
    hr{
      margin: 0;
    }
    .progress.progress-info{
      display: inline-block;
      width: 80%;
      height: 31px;
    }

    .checklist-plus{
      display: inline-block;
      vertical-align: top;
      .btn, .btn:focus {
        outline: none;
      }
    } 

    .total{
      position: absolute;
      top: 56px;
      left: 3px;
      font-size: 24px;

      &.white{
        color: #fff;
      }
    }
  }

  #checklistModal{
    width: 60%;
    .checklist-progress{
      display: none;
    }
  }

  .meta {
    margin-bottom: 10px;
    overflow: auto;

    .avatar {
      float: left;
      margin-right: 10px;
    }

    .name {
      font-weight: bold;
      font-size: 18px;
    }

    .title {
      font-style: italic;
    }
  }

  .amount {
    font-size: 22px;
  }

  .assigned-to {
    .avatar {
      float: left;
      margin-right: 10px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;

    .btn {
      margin-top: 5px;
    }

    &.with-button {
      line-height: 40px;
    }
  }
}

.deal-deleted-view {
  text-align: center;
}
