/* Deal banner */
.deal-banner-collapsed {
  ul {
    margin-left: 160px;
    font-weight: bold;

    li i.ss-briefcase {
      top: 2px;
      position: relative;
    }
  }

  .ss-directright {
    font-size: 10px;
  }
}

.deal-banner-details {
  width: 360px;

  .inline-editor .field {
    width: 100%;
    height: 34px;
    padding: {
      right: 0;
      left: 0;
    }
    margin-bottom: 8px;
    font: {
      size: 32px;
      weight: bold;
    }
    border: none;
    background: transparent;
  }

  .deal-title {
    margin-top: 0;

    span {
      display: inline-block;
    }

    i {
      margin-left: 20px;
      font-size: 14px;
      line-height: 14px;
      color: $muted;
      display: none;
    }

    &:hover i {
      display: inline-block;
    }
  }
}

.deal-name-view {
  position: relative;
}

.deal-banner-stats {

  table {

    th {
      padding: 0 0 10px;
      text-align: left;
      color: #787878;
    }

    td {
      padding: 10px 0;
      font-weight: bold;
      font-size: 30px;

      i {
        position: relative;
        top: 4px;
      }
    }

    .deal-total {
      width: 284px;
    }

    .deal-forecast {
      width: 180px;
    }
  }
}

.deal-banner-bar {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  border-top: 3px solid $red;

  .tab {
    margin: 0 0 0 250px;
    padding: 0 20px;
    display: inline-block;
    font-weight: bold;
    line-height: 19px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(black, 0.2);
    text-transform: uppercase;
    background: $red;
    @include border-radius(0 0 5px 5px);
  }

  .is-scrolled & .tab {
    margin-left: 20px;
  }

  &.is-public {
    border-top-color: $green;

    .tab {
      background: $green;
    }
  }
}

.deal-progress {
  width: 100%;
  max-width: 820px;
  margin: 30px 0 0;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #c3c3c3;

  .deal-label {
    width: 20%;
    float: left;
    text-transform: capitalize;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    color: #787878;
  }

  .bar {
    width: 0;
    max-width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: $blue;
    @include transition(width 1s ease-in);
  }

  &.status-closed {
    .deal-label:nth-child(4) {color: $green;}
    .bar {
      background-color: $green;
    }
  }

  &.status-lost {
    .deal-label:last-of-type {color: $red;}
    .bar {
      background-color: $red;
    }
  }
}

.deal-timeframe {
  margin: 10px 0;
  font-size: 12px;
  color: #787878;

  i {
    font-size: 10px;
  }
}

.deal-checklist-view{
  .modal.fade.in{
    width: 754px;
    table{
      .btn-group{
        position: relative;
        top: -6px;
      }
    }
  }
}
.deal-sidebar-view {
  .page-header {
    margin-bottom: 11px;
  }

  .inline-editor.inline-editor-closed.contact{
    margin-bottom: 8px;
  }

  .deal-name{
    width: 100%;
    margin-bottom: -3px;
  }

  .user-picker-control-box{
    width: 288px;
    margin-top: 5px;
    .btn-group{
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .status-select{
    width: 100%;
    position: relative;
    top: 1px;
    left: -2px;
  }

  .deal-status{
    p {
      font-size: 15px;
    }

    .icon-edit{
      position: relative;
      top: 2px;
    }
  }

  .additional-check{
    position: relative;
    top: -7px;
  }

  .forecast{
    position: relative;
    hr{
      margin: 0;
    }
    .progress.progress-info{
      display: inline-block;
      width: 80%;
      height: 31px;
    }

    .checklist-plus{
      display: inline-block;
      vertical-align: top;
      .btn, .btn:focus {
        outline: none;
      }
    }

    .total{
      position: absolute;
      top: 56px;
      left: 3px;
      font-size: 24px;

      &.white{
        color: #fff;
      }
    }
  }

  #checklistModal{
    width: 60%;
    .checklist-progress{
      display: none;
    }
  }

  .meta {
    margin-bottom: 10px;

    .name {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .amount {
    font-size: 22px;
  }

  .assigned-to {
    .avatar {
      float: left;
      margin-right: 10px;
    }
  }

  h2 {
    font-size: 12px;
    line-height: 30px;

    .btn {
      margin-top: 5px;
    }

    &.with-button {
      line-height: 40px;
    }
  }
}

.deal-deleted-view {
  text-align: center;
}
