.list-statuses {
  h3 {
    width: 75%;
  }
  .edit-list-name {
    width: 400px;

    .ss-write {
      cursor: pointer;
    }
  }

  .liststatuses-editor-component {
    list-style: none;
    li {
      position: relative;
      padding: 2px 0;
      line-height: 50px;
    }

    li .inline-editor-component {
      border-bottom: 1px solid $control-border-color;
      width: 74%;
    }

    li .list-status-actions {
      position: absolute;
      top: 0;
      right: 0;
    }

    li .list-status-actions .toggle-switch-component {
      position: relative;
      top: 9px;
    }
  }

  .new-list-status-name {
    width: 100%;
  }
}

.list-statuses h4 {
  .ss-trash {
    font-size: 17.5px;
    margin-left: 5px;
  }
}

.list-editor-component {
  margin-top: 0;
  width: 100%;
}

.modal .list-editor-component .from .actions {
  display: block;
}

.list-status-item {

}