.list-statuses {
  h3 {
    width: 75%;
  }
  .edit-list-name {
    width: 400px;

    .ss-write {
      cursor: pointer;
    }
  }

  .liststatuses-editor-component {
    list-style: none;
    li {
      position: relative;
      padding: 2px 0;
      line-height: 50px;
    }

    li .inline-editor-component {
      border-bottom: 1px solid $control-border-color;
      width: 74%;
    }

    li .list-status-actions {
      position: absolute;
      top: 0;
      right: -50px;
    }

    li .list-status-actions .ss-trash {
      font-size: 15px;
    }

    li .list-status-actions .toggle-switch-component {
      position: relative;
      top: 9px;
    }
  }

  .new-list-status-name {
    width: 100%;
  }
}

.list-statuses h4 {
  .ss-trash {
    font-size: 17.5px;
    margin-left: 5px;
  }
}

.list-editor-component {
  margin-top: 0;
  width: 100%;

  h1 {
    margin-left: 25px;
  }

  .form {
    padding-left: 0;
    display: inline-block;
    width: 100%;
    margin-left: 25px;

    .item {
      min-height: 0;

      input {
        width: calc(100% - 14px);
        margin-bottom: 0;
        height: 30px;
      }
    }
    .list-editor-radio {
      margin-top: 15px;
      display: inline-block;
      float: left;

      .xradio-component {
        display: inline-block;
        float: left;
        clear: both;
        margin-left: 10px;
        margin-bottom: 6px;
      }
    }
    .actions {
      display: inline-block;
      float: left;
      clear: both;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

.modal .list-editor-component .from .actions {
  display: block;
}

.liststatus-editor-component .up-down-component .btn-mini {
  padding: 5px;
}