
.messages-list-item {
  $item-border: #dddddd;

  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid $item-border;
  background: #fff;
  @include box-sizing(border-box);
  @include transition(background-color 0.25s);

  &.is-selected {
    background-color: $calendar-active-bg;
  }

  .btn-read-status {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .btn-read {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .btn-read {
    opacity: 1;
  }
}

.message-list-readable-item {
  padding-left: 30px;
}

.message-item-content {
  overflow: hidden;
}

.message-item-avatar {
  margin-right: 20px;
}

.message-item-title {
  margin: 0 0 5px;
}

.message-item-subject {
  margin: 0 0 5px;
}

.message-item-actions {
  opacity: 0;
  @include transition(opacity 0.25s);

  .messages-list-item:hover &,
  .messages-list-item.is-selected & {
    opacity: 1;
  }

  i {
    color: $blue;
    margin: 0 0 0 5px;
  }
}

.message-item-links {
  a {
    margin: 0 5px 0 0;
    color: #979797;

    .is-selected & {
      color: $blue;
    }
  }

}

.folders-list {
  text-align: center;
}

.folders-list-item {
  width: 100%;
  margin: 20px 0;
  display: inline-block;
  cursor: pointer;

  a {
    display: block;
    line-height: 60px;
    color: darken(white, 10%);
    @include transition(all 0.25s);

    &:hover {
      color: white;

      i {
        @include translateY(-10px);
      }
    }

    i {
      position: relative;
      top: 2px;
      font-size: 50px;
      text-shadow: 0 1px 4px rgba(black, 0.8);
      @include translateY(0);
    }

  }
}

.btn-messages-action {
  margin-left: 30px;
  color: #000;
  @include transition(color 0.25s);

  i {
    margin: 0 5px 0 0;
    color: #e4e4e4;
    @include transition(color 0.25s);
  }

  &:hover {
    text-decoration: none;
    &, i {
      color: $blue;
    }
  }
}