$item-border: #dddddd;

.messages-tabs {
  margin: 0;
  background-color: $active-state;
  border-bottom: none;
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);

  &:before,
  &:after {
    content: none;
  }

  > li {
    @include box-flex(1);
    float: none;
    margin: 0;
    border: none;

    > a {
      height: 35px;
      overflow: hidden;
      margin: 0;
      line-height: 35px;
      text-align: center;
      text-transform: capitalize;
      color: #E9E9E9;
      border: none;
      @include border-radius(0);

      &:hover {
        border: none;
        color: $active-state;
      }
    }
  }

  > a {
    color: #fff;
  }

  > .active > a {
    font-weight: bold;
    border: none;
    color: $active-state;
    background-color: #E9E9E9;

    &:hover {
      border: none;
    }
  }
}

.messages-search-tab {
  width: 30px;
  text-align: center;

  &.active a {
    background: #fff;
  }
}

.messages-list-controls {
  background: #fff;
  border-bottom: 1px solid $item-border;

  .main-search-results-section {
    margin: 0 15px;
    border: {
      right: 1px solid #cecece;
      left: 1px solid #cecece;
    }

    .control-box input {
      width: 178px;
    }
  }
}

.new-message-btn {
  margin: 15px 10px;
}

.mailbox-tab {
  padding-left: 10px;
  line-height: 60px;
  font-weight: bold;
}

.messages-list-search {
  margin: 0;
  padding: 15px 15px 0;
  background: #fff;

  .control-box {
    padding-left: 50px;
    border: 1px solid #ddd;
  }

  .ss-search {
    position: absolute;
    left: 16px;
    top: 8px;
  }

  .field {
    width: 240px;
  }

  .btn .caret {
    margin-top: 8px;
  }
}

.messages-list-empty {
  padding: 10px 0;
  line-height: 30px;
}

.messages-list {
  margin: 0;
  padding: 0;
}

.messages-list-item {
  position: relative;
  background: $background;
  @include box-sizing(border-box);
  @include transition(background-color 0.25s);

  &.is-selected {
    background-color: #fff;

    .message-item-content {
      border-color: $blue;
    }
  }

  .btn-read-status {
    position: absolute;
    left: 7px;
    top: 10px;
  }

  .btn-read {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  .messages-list-item-timestamp {
    font-size: 11px;
    line-height: 1em;
  }

  .delete {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover,
  &.is-selected {
    .delete,
    .btn-read {
      opacity: 1;
    }
  }

  .check-box {
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 32px;
    z-index: 1;

    i {
      margin: 0;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .label {
    line-height: 20px;
    padding: 0 5px;
    background: #E4E4E4;
    border: 1px solid #BFBFBF;
    color: #333;
    text-shadow: none;
  }
}

.message-item-content {
  padding: 10px 20px;
  overflow: hidden;
  border: {
    top: 1px solid $item-border;
    right: 1px solid transparent;
    bottom: 1px solid transparent;
    left: 1px solid transparent;
  }

  .message-list-readable-item & {
    padding-left: 50px;
  }

  &.is-draft {
    font-style: italic;

    .btn-read-status {
      display: none;
    }

    a {
      color: $text;
    }

    .message-item-avatar {
      background: #333;

      img {
        opacity: 0.75;
      }
    }
  }
}

.message-item-avatar {
  margin-right: 20px;
}

.message-item-title {
  margin: 0 0 5px;
  // So the title is flush to the top of the avatar
  position: relative;
  top: -4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-item-subject {
  margin: 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 28px;
}

.message-item-actions {
  i {
    color: $muted;
    margin: 0 0 0 5px;
  }
}

.message-item-links {
  a {
    margin: 0 5px 0 0;
    color: #979797;

    .is-selected & {
      color: $blue;
    }
  }

}

.folders-list {
  text-align: center;
}

.folders-list-item {
  width: 100%;
  margin: 0 0 2px 0;
  display: inline-block;
  cursor: pointer;

  a {
    padding: 30px 0;
    display: block;
    overflow: hidden;
    line-height: 30px;
    text-shadow: 0 1px 1px rgba(black, 0.8);
    color: darken(white, 10%);
    background: #787878;
    @include transition(color 0.25s);

    &:hover,
    &.is-selected {
      background: #fff;
      color: #000;
      text-shadow: none;

      i {
        color: $blue;
        text-shadow: 0 -1px 0px darken($blue, 15%);
      }
    }

    i {
      position: relative;
      top: 2px;
      font-size: 50px;
      @include transition(color 0.25s);
    }

  }
}

.folders-list-title {
  padding: 0 15px;
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  background: #4b4b4b;

  p {
    margin: 0;
    line-height: 50px;
  }

  .btn-close {
    margin: 16px 0 0;
  }
}

.folder-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.btn-messages-action {
  margin-left: 10px;
  color: #000;
  @include transition(color 0.25s);

  i {
    margin: 0 5px 0 0;
    color: #e4e4e4;
    @include transition(color 0.25s);
  }

  &:hover {
    text-decoration: none;
    &, i {
      color: $blue;
    }
  }
}

// Sent message page
.email-confirmation-view {

}