.messages-sidebar-view {
  .checker {
    border-right: solid 2px $dark-background;
  }

  .is-selected .content,
  .content:hover {
    .delete { 
      display: inline;
    }

    .icon-attachments {
      display: inline;
    }
  }

  .has-tasks .content:after {
    position: absolute;
    content: ' ';
    left: -33px;
    height: 0;
    width: 0;
    bottom: -32px;
    border: solid 20px transparent;
    border-top-color: $associated-blue;
    @include rotate(45deg);
  }

  .content {
    margin-left: 40px;
    position: relative;
  }

  .content.is-selectable:hover {
    cursor: pointer;
  }

  .icon-attachments {
    display: none;
  }

  .delete {
    display: none;
  }

  .footer {
    overflow: auto;
  }

  .discussion-item {
    [class^="icon-discussion"] {
      float: left;
    }

    .text-container {
      margin-left: 40px;
      margin-right: 15px;
    }

    .user-list {
      margin-bottom: 10px;
    }
  }
}

.messages-view .hud + div {
  padding-top: 120px;
}

.messages-view .context {
  display: table;
  box-sizing: border-box;
  width: 100%;

  .deal-info, .task-info, .sender-info {
    display: table-cell;
  }

  .sender-info {
    .avatar {
      float: left;
      margin-right: 20px;
    }

    p { 
      color: $dark;
      font-size: 16px;
      line-height: 30px;
    }

    .name { 
      font-weight: bold;
    }
  }

  .task-info {
    text-align: right;
  }

  h2 {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    margin-bottom: 15px;
    color: $dark;
  }

  table {
    width: 100%;
  }
}

.messages-view .email {
  padding: 50px;
  padding-bottom: 0px;

  .header {
    margin-bottom: 15px;

    .more {
      margin-right: 15px;
    }

    .sender {
      margin-right: 10px;
    }

    .subject {
      margin-left: 10px;
    }
  }

  .message {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  .body-text {
    margin-bottom: 30px;
  }

  .email-actions {
    margin-top: 40px;
    text-align: right;
  }
}

ul.sentence, ol.sentence {
  list-style: none;
  margin: 0;
  display: inline;

  li { 
    display: inline;
  }

  li:not(:last-of-type):after {
    content: ','
  }
}

.discussion-item {
  .header {
    i { 
      float: left;
      margin-right: 40px;
      font-size: 32px;
    }

    p {
      margin-bottom: 0;
    }
  }
}
