#addressbook, .conversations-table {
  .message {
    background: #ecf3fd;
    border: 1px solid #4587e7;
    border-radius: 3px;
    width: 670px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
  }

  .message i {
    font-size: 110px;
    line-height: 110px;
    color: #666;
  }

  .new-company {
    margin-right: 11px;
  }

  .subhead {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 28px;
    width: 100%;
    display: inline-block;
  }

  .subhead .left {
    display: inline-block;
    float: left;
    margin-left: 45px;
  }

  .subhead .nav-wrap {
    width: auto;
  }

  .subhead .nav-wrap .count {
    display: inline-block;
    line-height: 32px;

    .chosen, .total {
      display: inline-block;
      text-align: right;

      &.is-loading {
        visibility: hidden;
      }
    }

    .total {
      text-align: left;
    }
  }

  .subhead .nav-wrap .count .chosen {
    font-size: 28px;
    margin-right: -2px;
    font-weight: 900;
  }

  .subhead .nav-wrap .count .divider {
    font-size: 18px;
    font-weight: 400;
    color: #777;
  }

  .subhead .nav-wrap .count .total {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-left: -4px;
  }

  .subhead .nav-wrap .count .subtitle {
    font-size: 18px;
    font-weight: 900;
    margin-right: 73px;
    margin-left: 8px;
  }

  .subhead .nav-wrap a.active:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .subhead .nav-wrap a.active:hover span {
    text-decoration: underline;
  }

  .subhead .tools {
    display: inline-block;
    right: 4%;
    top: 25px;
    margin-left: -26px;

    a {
      margin-right: 15px;
      font-size: 15px;
      color: #555;
    }
  }

  .subhead .filter-wrap {
    margin-left: 226px;
    margin-top: 25px;
    font-size: 13px;
    height: 30px;
    float: left;
  }

  .subhead .filter-wrap .combobox-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-right: 30px;
    float: left;
  }

  .subhead .filter-wrap .combobox-container input {
    vertical-align: bottom;
  }

  .subhead .filter-wrap .variables {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 1px;
  }

  .subhead .filter-wrap .variables .field {
    border: none;
    background: #fff;
    height: 20px;
    width: auto;
    display: inline-block;
    padding: 5px 10px 5px 8px;
  }

  .subhead .filter-wrap .variables .field a {
    color: #666;
    font-size: 13px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;

    &.delete {
      position: relative;
      top: 2px;
    }
  }

  .subhead .filter-wrap .variables .operator {
    background: #fff url("/images/icons/dropdown.png") no-repeat;
    background-size: 11px;
    background-position: calc(100% - 5px) center;
    border: 0px solid #ccc;
    color: #000;
    font-weight: bold;
    outline: 0px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 0px;
    height: 30px;
    margin: -5px -4px 0 -4px;
    width: auto;
    padding: 5px 25px 5px 10px;
    line-height: 22px;
  }

  .subhead .filter-wrap .variables .value {
    display: inline-block;
    background: #fff;
    height: 30px;
    line-height: 32px;
    padding: 0 10px;
    min-width: 100px;

    &[placeholder]:empty:before {
      content: attr(placeholder);
      color: #ccc;
    }

    &.is-invalid {
      border: 1px solid $red;
    }
  }

  .subhead .tools a.btn-contact, .subhead .tools .btn-group > a {
    font-size: 15px;
    margin-right: 25px;
    color: #555;
  }

  .subhead .nav-wrap .btn-group {
    margin-top: 7px;
  }

  .subhead .nav-wrap .tools .caret {
    margin-top: 6px;
  }

  .subhead .col-selector {
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 30px;
  }

  .subhead .col-selector button {
    margin-top: 8px;
    background: transparent;
    border: 0;
  }

  .subhead .col-selector button i:nth-of-type(1) {
    font-size: 20px;
    vertical-align: middle;
  }

  .subhead .col-selector button i:nth-of-type(2) {
    color: #aaa;
    font-size: 12px;
    margin-left: 8px;
  }

  .subhead .searchbox{
    height: 35px !important;
    margin-bottom: 0px !important;
    width: 250px;
  }

  .subhead .col-menu {
    background: white;
    list-style: none;
    margin: 0 0 0 -105px;
    z-index: 99999;
    padding: 14px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .subhead .col-selector.open input[type="checkbox"] {
    position: relative;
    top: -3px;
  }

  .contacts-sidebar .list-new {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: calc(100% - 24px);
  }

  .contacts-sidebar .nav {
    margin-bottom: 25px;
  }

  .contacts-sidebar .nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background: #f3f3f3;
  }

  .nav {
    margin-bottom: 25px;
  }

  .nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background: #f3f3f3;
  }

  .nav-tabs li a, .nav-pills li a {
    padding-right: 7px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #444;
    margin-right: 5px;
    display: inline-block;
    width: calc(100% - 13px);
  }

  .nav li {
    line-height: 0;
  }

  .nav li:first-of-type a {
    margin-left: 0;
  }

  .nav li a:hover, .nav li a:focus {
    background: #e5e5e5;
  }

  .nav-pills .active a, .nav-pills .active a:hover, .nav-pills .active a:focus {
    background: $blue;
    color: #fff;

    i {
      color: #fff;
    }
  }

  .nav-pills {
    margin-bottom: 0;
    font-size: 13px;
  }

  .nav-pills-left {
    width: 10.5em;
    float: left;
    display: inline-block;
    height: 20px;
  }

  .nav-pills-right {
    width: 51px;
    float: left;
  }

  .contacts-sidebar .tag-item {
    .nav-pills-right {
      position: relative;
    }

    .nav-pills-right.total {
      display: block;
    }

    .nav-pills-right.delete {
      display: none;

      .ss-trash {
        position: relative;
        top: 2px;
      }
    }

    &:hover {
      .nav-pills-right.total {
        display: none;
      }

      .nav-pills-right.delete {
        display: inline-block;
      }
    }
  }

  .nav-pills-right span {
    background: #ddd;
    border-radius: 30px;
    padding: 3px 8px;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    float: right;
  }

  .nav-pills-right.delete span {
    text-align: right;
  }

  .nav li.active .nav-pills-right span {
    background: #6AA4EC;
  }


  .nav li a .nav-pills-left span:nth-of-type(1) {
    width: calc(100% - 19px);
    display: inline-block;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 1.2em;
    line-height: 1.2em;
    vertical-align: bottom;
    position: relative;
    top: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .new .col-name {
    position: relative;
  }

  .new .col-name div {
    width: 60% !important;
    overflow-x: hidden;
    padding-left: 0 !important;
  }

  .nav-pills .rename[placeholder]:empty:before {
    content: attr(placeholder);
    color: #ccc;
  }

  .nav-pills i {
    width: 19px;
    height: 12px;
    display: inline-block;
    top: 4px;
    font-size: 13px;
    float: left;
    position: relative;
    top: 5px;
    color: #777;
  }

  .contacts-sidebar .nav li.active a span:nth-of-type(2) {
    background: #6AA4EC;
  }

  .contacts-sidebar .new .col-name {
    position: relative;
  }

  .contacts-sidebar .new .col-name > div {
    width: 60% !important;
    overflow-x: hidden;
    padding-left: 0 !important;
  }

  .table-container {
    position: relative;
    height: 100%;
    display: inline-block;
    width: calc(100% - 288px) !important;
    margin-top: 7px;
  }

  .right-table {
    overflow: auto;

    .variadic-table tr th:last-of-type,
    .variadic-table tr td:last-of-type {
      border-right: 1px solid #ddd;
    }
  }

  .variadic-table {
    table-layout: fixed;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    float: left;
  }

  .variadic-table tr {
    &.is-checked {
      border: {
        right-color: $link;
        left-color: $link;
      }

      & td,
      &:hover td {
        background: $calendar-active-bg;
      }
    }
  }

  .variadic-table .check {
    width: 40px;
    text-align: center;
    padding: 0;
    border-left: 1px solid #ddd;

    input {
      vertical-align: top;
      margin-top: 4px;
    }
  }

  .variadic-table th {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #f9f9f9;
    text-transform: uppercase;
  }

  .variadic-table td, .variadic-table th {
    img {
      padding-right: 5px;
    }
  }

  .variadic-table td.active {
    padding: 1px 0 0 9px;
    border: 1px solid $blue !important;
  }

  .variadic-table td.active {
    border: 1px solid transparent;
  }

  .variadic-table tbody tr:not(.is-checked) td.name {
    border-right: 2px solid #ccc;
  }

  .variadic-table .assign {
    position: static;
    overflow: visible;
  }

  .variadic-table .assign .btn-group a {
    &:hover {
      text-decoration: none;
    }
    font-size: 13px;
    display: inline-block;
    width: auto;
    color: #333;
    cursor: hand;
  }

  .variadic-table {
    .events {
      padding-left: 0 !important;
      min-width: 70px;
    }
  }

  .variadic-table thead tr {
    .name, .email, ,.company {
      min-width: 220px;
    }

    .inactive {
      min-width: 110px;
    }

    .next-task, .next-task-date {
      min-width: 140px;
    }

    .assign {
      min-width: 125px;
    }

    .city, .source {
      min-width: 125px;
    }

    .status, .deals-closed-total, .deals-total, .events-seven, .events-thirty {
      min-width: 90px
    }

    .events-thirty {
      min-width: 100px;
    }

    .column-sort {
      position: relative;

      .ss-dropdown {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 19px;
      }
    }
  }

  .variadic-table tbody tr {
    td {
      a {
        text-decoration: none;
      }

    }

    td .editable {
      outline: none;
      display: inline;
      width: 100%;
      padding-left: 1px;

      a::-webkit-scrollbar {
        display: none !important;
      }

      &.is-saving {
        color: #fff;
      }

      &.is-invalid a {
        color: $red;
      }

      &:focus{
        a {
          display: inline-block;
          overflow-x: scroll;
          width: 100%;
          margin-bottom: -5px;
        }
      }

      em {
        font-style: italic;
        color:#888
      }

      a:hover {
        cursor: pointer;
      }
    }

    td.last-activity{
      img {
        display: none;
      }

      .activity {
        border-bottom: 0px;
        padding: 0;
        margin-top: 10px;

        .activity-icon {
          margin: 0px 0 0 4px;
        }

        br {
          display: none;
        }

        .span1 {
          width: 0;
        }

        .timestamp {
          display: none;
        }

        .activity-content {
          max-width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 30px;
          padding-right: 5px;

          p {
            display: inline;
          }
        }

        .activity-icon i {
          position: relative;
          top: 2px;
        }
      }

      .rd-note-editor {
        display: none;
      }
    }

    td.events, td.inactive, td.next-task-date, td.last-activity, td.source, td.added, td.deals-closed-total, td.deals-total, td.events-seven, td.events-thirty {
      background: #f9f9f9;
    }

    td.phone {
      min-width: 105px;
    }

    td.tags {
      div:first-of-type {
        min-width: 350px;
        max-width: 350px;
        max-height: 50px;
        overflow: hidden;
      }
    }

    .deals-closed-total, .deals-total, .events-seven, .events-thirty, .events {
      text-align: center;
    }

    a.dropdown-toggle {
      width: 100%;
      display: inline-block;
      overflow-x: hidden;
      float: left;

      span:first-of-type:not(.caret) {
        width: calc(100% - 14px);
        display: inline-block;
        white-space: normal;
      }
    }

    .next-task {
      padding-right: 10px;

      a.dropdown-toggle:hover {
        text-decoration: none;
      }

      .caret {
        margin-top: 8px;
        margin-left: 2px;
      }
    }

    .next-task, .next-task-date {
      max-width: 100px;
    }

    .assign {
      padding-right: 10px;

      .btn-group {
        width: 100%;
      }

      .assignto {
        height: 22px;
        box-shadow: none;
        overflow-y: hidden;

        .assignto-left {
          height: 22px;

          img {
            float: left;
          }

          .to {
            overflow-x: hidden;
            white-space: nowrap;
            width: calc(100% - 32px);
            height: 22px;
            line-height: 22px;
            text-overflow: ellipsis;
            padding-left: 5px;
          }
        }

        .caret {
          position: relative;
          top: 8px;
        }
      }
    }

    .city {
      max-width: 200px;
    }

    .company, .name, .email {
      max-width: 220px;
    }

    .stat {
      .btn-group a {
        font-size: 15px;
      }
      .caret {
        float: right;
        margin-left: 10px;
        margin-top: 6px;
      }

      ul > li:not(.edit) > a {
        width: 82%;
      }
    }
  }

  .editableList:empty:before {
    content: attr(placeholder);
  }

  .editableList:empty {
    font-style: italic;
  }

  .contacts-sidebar {
    display: inline-block;
    width: 205px;
    height: 400px;
    float: left;
    margin-right: 58px;
    padding-top: 14px;
    padding-left: 25px;
  }

  .contacts-sidebar .newList {
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .contacts-sidebar .viewList {
    color: #0088cc;
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
  }

  .subhead .nav-wrap a.active {
    color: #fff;
  }

  .show-more {
    width: 177px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
  }

  .loading {
    text-align: center;
    background-color: #fff;
    vertical-align: center;
    height: 52px;
  }

  .modal {
    top: 30%;
    width: 50%;

    .modal-body {
      width: 90%;

      textarea {
        min-height: 28px;
      }
    }
    .modal-header {
      border-bottom: 0;
    }
  }

  .left-table th {
    height: 44px !important;
  }

  .custom-field .sidebar-panel-content{
    width: auto;
    padding: 0;
    background-color: inherit;
    border-bottom: none;
    color: inherit;
  }

  .custom-field .sidebar-panel-content .control-group {
    margin-bottom: 0;

    .customfield-textinput-component, .customfield-urlinput-component {
      position: relative;
      top: 8px;
      border: transparent;
      outline: none;

      &::-webkit-input-placeholder {
        font-style: italic;
      }
    }

    .customfield-currencyinput-component {
      position: relative;
      top: 8px;

      .ember-text-field.span2 {
        width: 150px;
        margin-right: 10px;
      }
    }
  }
}

.modal-backdrop {
  background-color: transparent;
}
.addressbook-view {
  .single-column-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
  }
}

.subhead .tools .dropdown-toggle {
  box-shadow: none;

  &:focus {
    text-decoration: none;
  }
}

.dropdown-submenu > a:after {
  margin-top: 10px;
}

.dropdown-menu > li > a {
  font-size: 15px;
  padding-left: 10px;
}

.dropdown-submenu .dropdown-menu li > a {
  line-height: 22px;
  padding: 6px 15px 6px 10px;
  text-overflow: inherit;

  img {
    margin-right: 7px;
  }
}

.nav-tabs {
  .active {
    border-bottom: 1px solid $background;
  }

  a {
    background: transparent !important;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      background: transparent;
      border-bottom: 0px;
    }

    .badge {
      background: #ccc;
      color: #666;
      padding: 3px 5px;
      text-shadow: none;
      margin-left: 4px;
    }
  }
}
