#addressbook {
  .subhead {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 28px;
    width: 100%;
    display: inline-block;
  }

  .subhead .left {
    display: inline-block;
    float: left;
  }

  .subhead .nav-wrap {
    width: auto;
  }

  .subhead .nav-wrap .count {
    display: inline-block;
    line-height: 32px;
  }

  .subhead .nav-wrap .count .chosen {
    font-size: 28px;
    margin-right: 3px;
    font-weight: 900;
  }

  .subhead .nav-wrap .count .divider {
    font-size: 20px;
    font-weight: 500;
    color: #777;
  }

  .subhead .nav-wrap .count .total {
    font-size: 22px;
    font-weight: 500;
    color: #777;
    margin-left: -2px
  }

  .subhead .nav-wrap .count .label {
    font-size: 16px;
    font-weight: 900;
    margin-right: 73px;
    margin-left: 8px;
  }

  .subhead .nav-wrap a.active:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .subhead .nav-wrap a.active:hover span {
    text-decoration: underline;
  }

  .subhead .tools {
    display: inline-block;
    right: 4%;
    top: 25px;
  }

  .subhead .tools a {
    font-size: 15px;
    margin-right: 25px;
    color: #555;
  }

  .subhead .nav-wrap .btn-group {
    margin-top: 5px;
  }

  .subhead .nav-wrap .tools .caret {
    margin-top: 6px;
  }

  .subhead .col-selector {
    display: inline-block;
    float: right;
    position: relative;
  }

  .subhead .col-selector button {
    margin-top: 8px;
    background: transparent;
    border: 0;
  }

  .subhead .col-selector button i:nth-of-type(1) {
    font-size: 20px;
    vertical-align: middle;
  }

  .subhead .col-selector button i:nth-of-type(2) {
    color: #aaa;
    font-size: 12px;
    margin-left: 8px;
  }

  .subhead .searchbox{
    height: 35px !important;
    margin-bottom: 0px !important;
    width: 250px;
  }

  .subhead .col-menu {
    background: white;
    list-style: none;
    margin: 0 0 0 -105px;
    z-index: 99999;
    padding: 14px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .subhead .col-selector.open input[type="checkbox"] {
    position: relative;
    top: -3px;
  }

  .contacts-sidebar .nav {
    margin-bottom: 25px;
  }

  .contacts-sidebar .nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background: #f3f3f3;
  }

  .nav {
    margin-bottom: 25px;
  }

  .nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background: #f3f3f3;
  }

  .nav-tabs li a, .nav-pills li a {
    padding-right: 12px;
    padding-left: 12px;
    color: #777;
    background: #e9e9e9;
    margin-right: 5px;
  }

  .nav.nav-pills li .tag {
    padding-left: 27px;
  }

  .nav li:first-of-type a{
    margin-left: 0;
  }

  .nav li a:hover, .nav li a:focus {
    background: #e5e5e5;
  }

  .nav-pills .active a, .nav-pills .active a:hover, .nav-pills .active a:focus {
    background: #3887e6;
    color: #fff;
  }

  .nav-pills {
    margin-bottom: 0;
  }

  .nav li a span:nth-of-type(1) {
    width: 103px;
    display: inline-block;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 1.2em;
    vertical-align: bottom;
  }

  .nav li a span:nth-of-type(2) {
    background: #ddd;
    border-radius: 30px;
    padding: 3px 3px;
    margin-left: 4px;
    font-size: 11px;
    font-weight: 700;
    width: 21px;
    display: inline-block;
    text-align: center;
  }

  .nav li.active a span:nth-of-type(2) {
    background: #6AA4EC;
  }

  .new .col-name {
    position: relative;
  }

  .new .col-name div {
    width: 60% !important;
    overflow-x: hidden;
    padding-left: 0 !important;
  }

  .nav-pills .rename[placeholder]:empty:before {
    content: attr(placeholder);
    color: #ccc;
  }

  .nav-pills i {
    width: 19px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 4px;
    font-size: 13px;
  }

  .contacts-sidebar .nav li.active a span:nth-of-type(2) {
    background: #6AA4EC;
  }

  .contacts-sidebar .new .col-name {
    position: relative;
  }

  .contacts-sidebar .new .col-name > div {
    width: 60% !important;
    overflow-x: hidden;
    padding-left: 0 !important;
  }

  .table-container {
    position: relative;
    height: 100%;
    display: inline-block;
  }

  .right-table {
    overflow: auto;
  }

  .contacts-table {
    table-layout: fixed;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    float: left;
  }

  .contacts-table tr {
    &.is-checked {
      border: {
        right-color: $link;
        left-color: $link;
      }

      & td,
      &:hover td {
        background: $calendar-active-bg;
      }
    }
  }

  .contacts-table .check {
    width: 25px;
    text-align: center;
  }

  .contacts-table td.check {
    padding-left: 10px;
  }

  .contacts-table th {
    border-bottom: 1px solid #777;
    text-transform: uppercase;
  }

  .contacts-table td, .contacts-table th {
    padding: 0 0 0 0px;
  }

  .contacts-table tbody tr:not(.is-checked) td.name {
    border-right: 5px solid #f5f5f5;
    background: #fbfbfb;
  }

  .contacts-table .assign {
    overflow: visible;
  }

  .contacts-table .assign .btn-group a {
    &:hover {
      text-decoration: none;
    }
    font-size: 13px;
    display: inline-block;
    width: auto;
    color: #333;
    cursor: hand;
  }

  .contacts-table thead tr {
    .name, .email, ,.company {
      min-width: 250px;
    }

    .events, {
      min-width: 80px;
    }

    .inactive {
      min-width: 110px;
    }

    .nextTask {
      min-width: 125px;
    }

    .assign {
      min-width: 125px;
    }

    .city, .source {
      min-width: 125px;
    }

    .status, .deals-closed-total, .deals-total, .events-seven, .events-thirty {
      min-width: 90px
    }

    .events-thirty {
      min-width: 100px;
    }
  }

  .contacts-table tbody tr {
    td {
      padding-right: 10px;
    }

    .deals-closed-total, .deals-total, .events-seven, .events-thirty, .events {
      text-align: center;
    }

    .nextTask {
      max-width: 100px;
    }

    .assign {
      padding-right: 20px;
    }

    .city {
      max-width: 200px;
    }

    .company, .name, .email {
      max-width: 350px;
    }
  }

  .contacts-sidebar {
    display: inline-block;
    width: 200px;
    height: 400px;
    float: left;
    margin-right: 22px;
    padding-top: 14px;
    margin-top: 30px;
  }

  .contacts-sidebar .newList {
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .contacts-sidebar .viewList {
    color: #0088cc;
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
  }

  .subhead .nav-wrap a.active {
    color: #fff;
  }

  .show-more {
    width: 177px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
  }

  .nav-pills.more {
    display: none;
  }

  .loading {
    text-align: center;
    background-color: #fff;
    vertical-align: center;
    height: 52px;
  }
}