.pipeline-header {
  width: 100%;
  display: inline-block;
  border: none;

  h1, h3 {
    margin-top: 0;
  }
}

.pipeline-title {
  margin: 0 40px 0 0;
}

.pipeline-header-center {
  margin: 0 auto;
  overflow: hidden;

  .form-search {
    width: 50%;
    float: right;
  }

  .search-input {
    width: 100%;
  }
}

.pipeline-grand-total {
  h3 {
    font-weight: normal;
  }

  span {
    font-size: 14px;
    color: $muted;
  }
}

.add-lead {
  display: inline-block;
}

.pipeline-workflows-list-item {
  margin: 0 0 50px;
}

.pipeline-workflows-total {
  width: 25%;
  margin: 0 0 30px;
  padding: 0 20px;
  float: right;
  vertical-align: middle;
  background: #e9e9e9;

  h3 {
    font-weight: normal;
  }

  small {
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    color: #888;
  }

  .pipeline-lost-view & {
    background: #ead7d7;
  }
}

.pipeline-state-controls {
  .btn,
  .btn-group {
    margin: 0 0 0 10px;
  }
}

.pipeline-workflow-deals-list {
  $base-width: 1200px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;

  th {
    text-align: left;
    color: #6e6e6e;
  }

  .next-task-widget {
    max-width: 250px;

    .text {
      max-width: 100px;
    }
  }

  .checkbox {
    width: percentage(100px / $base-width);
  }

  .name,
  .deal {
    width: percentage(148px / $base-width);
  }

  .assigned-to {
    width: percentage(148px / $base-width);
  }

  .last-activity {
    width: percentage(122px / $base-width);
  }

  .reason,
  .age {
    width: percentage(148px / $base-width);
  }

  .lost-during,
  .last-activity {
    width: percentage(122px / $base-width);
  }

  .next-task {
    width: percentage(250px / $base-width);
  }

  .status {
    width: percentage(145px / $base-width);
  }

  .pay-by,
  .forecast {
    width: percentage(144px / $base-width);
  }

  .value {
    width: percentage(130px / $base-width);
  }

  .deal-button {
    width: percentage(148px / $base-width);
  }
}

.pipeline-workflow-deals-row {
  border: {
    right: 1px solid transparent;
    left: 1px solid transparent;
  }

  &.is-checked {
    border: {
      right-color: $link;
      left-color: $link;
    }

    & td,
    &:hover td {
      background: $calendar-active-bg;
    }
  }

  a.delete {
    color: #b6b6b6;
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover a.delete {
    opacity: 1;
  }
}

.pipeline-search {
  margin: 0;
  display: inline-block;
}

.pipeline-workflows-list .pipeline-workflows-list-item:last-of-type {
  width: 100%;
  margin: 20px 0;
  padding: 0 5px;
  overflow: hidden;
  clear: both;
  background-color: #e9e9e9;
}

.alert-container{
  .alert{
    width: 40%;
  }
}
