.pipeline-header {
  width: 100%;
  display: inline-block;
  border: none;
  margin-bottom: 30px;

  h1, h3 {
    margin-top: 0;
  }
}

.pipeline-cta-banner {
  position: relative;

  .close {
    margin-top: -9px;
    position: absolute;
    top: 50%;
    right: 10px;
  }

  h4 {
    line-height: 35px;
  }
}

.pipeline-tabs {
  @include breakpoint(portrait) {
    > li {
      float: none;
      display: block;

      a {
        @include border-radius(0);
      }
    }
  }
}

.pipelines-list {
  margin: 2px 0 8px 40px;
}

.btn-toggle-pipelines {
  margin: 5px 20px 10px 10px;
}

.pipeline-header-tools {
  margin-top: 5px;

  > div,
  > form {
    display: inline-block;
  }
}

.pipeline-title {
  margin: 0 40px 0 0;
}

.pipeline-header-center {
  margin: 0 auto;
  overflow: hidden;
}

.pipeline-grand-total {
  color: #777;
  line-height: 44px;
  margin-right: 80px;
  
  .pipeline-total {
    color: $text;
    font-weight: 700;
  }
}
.pipeline-new-form {
  display: inline-block;

  a {
    margin-right: 20px;

    &.btn-primary {
      margin-right: 30px;
    }
  }
  .pipeline-reset {
    font-size: 14px;
    margin-left: 15px;

    i {
      font-size: 13px;
    }
  }
  .needsclick {
    box-shadow: none;
    color: $text;
    margin-left: 20px;

    i.ss-action {
      font-size: 14px;
    }
  }
}

.add-lead {
  display: inline-block;
}

.pipeline-workflows-list-item {
  margin: 0 0 50px;
  display: inline-block;
}

.pipeline-workflows-total {
  width: 25%;
  margin: 0 0 30px;
  padding: 0 20px;
  float: right;
  vertical-align: middle;
  background: #e9e9e9;
  text-align: right;
  font-size: 16px;

  h3 {
    font-weight: normal;
  }

  small {
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    color: #888;
  }
  span {
    font-weight: 600;
  }

  .pipeline-lost-view & {
    background: #ead7d7;
  }
}

.pipeline-state-controls {
  .btn,
  .btn-group {
    margin: 0 0 0 10px;
  }
}

.pipeline-workflow-deals-list {
  $base-width: 1200px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;

  .column-sort {
    color: $text;

    i {
      position: static;
      margin-left: 10px;
    }
  }

  th {
    text-align: left;
    color: $text;
  }

  td {
    
    a {
      color: $text;
    }
    p {
      margin-bottom: 0;
    }
  }

  tr.pipeline-workflow-deals-row + tr:not(.pipeline-workflow-deals-row)  {
    display: none;
  }

  .next-task-widget {
    max-width: 250px;

    .text {
      max-width: 100px;
    }
  }

  .checkbox {
    width: percentage(100px / $base-width);
    a {
      color: #6e6e6e;
    }
  }

  .name,
  .deal {
    width: percentage(148px / $base-width);
  }

  .deal {

    p span a:first-of-type {
      font-weight: 600;
    }
  }

  .assigned-to {
    width: percentage(148px / $base-width);
  }

  .last-activity {
    width: percentage(122px / $base-width);
  }

  .reason,
  .age {
    width: percentage(148px / $base-width);
  }

  .lost-during,
  .last-activity {
    width: percentage(122px / $base-width);
  }

  .status-last-changed-at {
    width: percentage(100px / $base-width);
    i.ss-dropdown {
      right: -30px;
    }
  }

  .next-task {
    width: percentage(250px / $base-width);
  }
  .need-status {
    padding-right: 40px;

    .btn-group {
      width: 100%;

      .btn-main {
        float: left;
        line-height: 44px;
      }
      .needsclick {
        float: right;
      }
    }
  }

  .status {
    width: percentage(145px / $base-width);
  }

  .pay-by,
  .forecast {
    width: percentage(144px / $base-width);
  }

  td.forecast {
  
    a {
      color: $blue !important;
      font-weight: 600;
    }
  }

  tr.show-more {
    
    td {
      padding: 0;
      border-top: 0;

      .btn-load-more {
        margin: 10px 0;
      }
    }
  }

  .value {
    width: percentage(130px / $base-width);
    min-width: 88px;
  }

  .deal-button {
    width: percentage(148px / $base-width);
  }

  .expected-close-date {
    width: percentage(200px / $base-width);
    i.ss-dropdown, i.ss-directup {
      right: -38px;
    }
  }
}

.pipeline-workflow-deals-row {
  border: {
    right: 1px solid transparent;
    left: 1px solid transparent;
  }

  &.is-checked {
    border: {
      right-color: $link;
      left-color: $link;
    }

    & td,
    &:hover td {
      background: $calendar-active-bg;
    }
  }

  a.delete {
    color: #b6b6b6;
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover a.delete {
    opacity: 1;
  }
}

.pipeline-search {
  margin: 0;
  display: inline-block;

  .search-input {
    width: 300px;
  }
  input {
    border-radius: 0px !important;
    height: 48px;
    padding: 0 0 0 36px;
  }
}

.pipeline-workflows-list {
  width: calc(100% - 60px);
  margin: 20px 0 0;
  padding: 10px 30px;
  clear: both;
  background-color: white;
  border: 1px solid $border;
}

.alert-container{
  .alert{
    width: 40%;
  }
  border: 1px solid #d3d3d3;
  padding: 18px 5px 0 5px;
}

.new-lead{
  margin-top: 50px;
}

.pipeline-view {

  .tabbar {
    display: inline-block;
  }

  .pipeline-index-view,
  .pipeline-workflow-deals-view {
    width: calc(100% - 20px);
    margin-left: 10px;

    .page-header-controls {

      .search-field {
        
        input {
          width: 350px;
          margin-left: 10px;
        }
      }
    }
    .pipeline-workflow-deals-row {

      .btn-main {
        background-color: transparent;
        box-shadow: none;
        border-right: 0;
        padding-left: 20px;

        &:hover {
          color: $text;
        }
      }
      .needsclick {
        background-color: transparent;
        border-left: 0px;
        box-shadow: none;
      }
    }
  }
}

