.settings-view {
  .main-content {
    margin-top: 50px;
  }

  .page-header > .company-logo {
    margin-right: 20px;

    & + h3 {
      line-height: 50px;
    }
  }

  .control-label {
    text-align: left;
    font-weight: bold;
  }

  .form-actions {
    border: none;
    background: none;
  }
}

.settings-group {
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;
}

.settings-title,
.settings-sidebar h3 {
  margin-top: 0;
}

.settings-sidebar {
  width: 230px;
  float: left;
  font-size: 18px;

  nav {
    margin-top: 10px;
  }

  ul li {
    margin: 0 0 5px;
  }

  a {
    display: block;
    line-height: 28px;
    color: #787878;

    &.active {
      font-weight: bold;
    }
  }
}

// Forms
.settings-form {
  fieldset {
    @extend .settings-group;

    &:last-child {
      border-bottom: none;
      margin: 0;
    }
  }

  .long-label {
    width: 290px;
  }

  input[type="number"] {
    width: 40px;
    padding-right: 0;

    & + .add-on {
      background-color: #fff;
      border-left: none;
      color: $muted;
    }
  }

  .input-append input[type="number"] {
    border-right: none;
    @include box-shadow(none);
  }
}

.form-horizontal .settings-user-details {
  overflow: hidden;
  margin-left: 150px;

  h2 {
    font-size: 17.5px;
    margin: 0 0 20px;
  }

  label.control-label {
    width: 80px;
    color: #666;
    font-size: 12x;
  }

  .inline-editor {
    .ss-write{
      opacity: 0.3;
      font-size: 12px;
    }
  }
}

input.inline-field {
  border: 1px solid transparent;
  background: transparent;
  @include box-shadow(none);

  &:hover,
  &:focus {
    @include box-shadow(none);
    background: lightyellow;
  }

  &.large-inline-field {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    height: auto;
  }

  &.is-invalid {
    border-color: red;
  }
}

.api-key-panel {
  .control-group {
    margin: 0;
  }

  .control-label {
    width: 120px;
  }

  .controls {
    margin-left: 130px;
  }
}

input.api-field {
  width: 400px;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.control-disabled {
  color: lightgray;

  .help-block {
    color: lightgray;
  }
}

.control-inline-text {
  display: inline-block;
}

.toggle-switch{
  display: inline-block;
}

.import-switch {
  margin-top: 25px;
  .switch {
    position: relative;
    top: -3px;
  }
}

.user-edit-avatar {
  width: 134px;
  float: left;
  position: relative;

  .user-change-avatar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }

  .user-change-avatar {
    padding: 0;
  }
}

.settings-list {
  border-top: 1px solid rgba(black, 0.1);

  li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(black, 0.1);

    &:hover .user-actions {
      opacity: 1;
    }
  }

  .is-admin {
    background: lightyellow;
  }
}

.settings-users-list {
  li {
    padding: {
      right: 10px;
      left: 10px;
    }
  }

  .user-avatar {
    margin-right: 20px;
  }


  .user-meta {

  }

  .name {
    margin: 0;
  }

  .user-actions {
    margin-top: 6px;
    opacity: 0;
    @include transition(opacity 0.25s);

    > .btn {
      vertical-align: middle;
    }
  }
}

.settings-accounts-list {
  li {
    > div:first-child {
      width: 100px;
      min-height: 1px;
    }
  }

  .icon-todo {
    color: green;
  }

  .account-actions {
    form {
      margin:0;
    }
  }
}

// Pipeline States
.pipeline-state-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(black, 0.1);

  h4 {
    margin-top: 0;
  }

  .pipeline-delete-btn {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .pipeline-delete-btn {
    opacity: 1;
  }
}

.pipeline-checklist-item {
  margin: 0 0 5px;
  border-bottom: 1px solid rgba(black, 0.1);

  .btn, .btn-group {
    vertical-align: top;
  }

  .checklist-controls {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .checklist-controls,
  &.is-new-item .checklist-controls,
  &.is-valid .checklist-controls,
  &.is-editing .checklist-controls {
    opacity: 1;
  }
}

.checklist-controls {
  display: inline-block;
  vertical-align: top;

  .is-editing & {
    vertical-align: top;
  }
}

.pipeline-checklist-item-read {
  padding: 5px 0;
  display: inline-block;
  line-height: 30px;
}

.pipeline-state-create {
  margin: 20px;
}

.checklist-kind {
  width: 120px;
  color: #333;
}

.checklist-description {
  margin: 0 20px;
}

.checklist-weight,
.checklist-dates {
  width: 200px;
  color: #333;
}

// Break me into my own file
.new {
  background-color: lightyellow;
  @include transition(background-color 0.75s ease-out);

  &.out {
    background-color: #fff;
  }
}

// Lead Sources ordered list
.lead-sources {
  li {
    padding: 2px 0;
    line-height: 30px;
    border-bottom: 1px solid $control-border-color;

    input[type="text"] {
      margin-bottom: 0;
    }
  }
}

.lead-source-item {
  float: left;
  line-height: 30px;
  width: 224px;
}