.settings-view {
  .main-content {
    margin-top: 50px;
  }

  .page-header > .company-logo {
    margin-right: 20px;

    & + h3 {
      line-height: 50px;
    }
  }

  .control-label {
    text-align: left;
    font-weight: bold;
  }

  .form-actions {
    border: none;
    background: none;
  }
}

.settings-group {
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;
  line-height: 45px;

  h4 {
    line-height: 40px;
  }
}

.settings-title,
.settings-sidebar h3 {
  margin-top: 0;
}

.settings-sidebar {
  width: 230px;
  float: left;
  font-size: 18px;

  nav {
    margin-top: 10px;
  }

  ul li {
    margin: 0 0 5px;
  }

  a {
    display: block;
    line-height: 28px;
    color: #787878;
    font-size: 16px;

    &.active {
      font-weight: bold;
    }
  }
}

// Forms
.settings-form {
  fieldset {
    @extend .settings-group;
    width: 550px;

    &:last-child {
      border-bottom: none;
      margin: 0;
    }

    > div {
      margin-bottom: 15px;

      .toggle-switch {
        float: right;
      }
    }
  }

  .long-label {
    width: 290px;
  }

  input[type="number"] {
    width: 40px;
    padding-right: 0;

    & + .add-on {
      background-color: #fff;
      border-left: none;
      color: $muted;
    }
  }

  .input-append input[type="number"] {
    border-right: none;
    @include box-shadow(none);
    float: left;
  }
}

.form-horizontal .settings-user-details {
  overflow: hidden;
  margin-left: 150px;
  width: auto;

  h2 {
    margin: 0 0 20px;

    .resource-name {
      font-size: 24px;
    }
  }

  label.control-label {
    width: 80px;
    color: #666;
    font-size: 12x;
  }

  .inline-editor {
    .ss-write{
      opacity: 0.3;
      font-size: 12px;
    }
  }
  #appendedPrependedInput {
    float: left;
  }
  .user-phone {
    float: left;
    clear: both;
  }
  .control-group {

    .controls {
      float: left;
      margin-left: 0;
      clear: both;

      textarea {
        width: 300px;
      }
    }
  }
}

.settings-company-view .settings-user-details {
  width: 40%;
}

input.inline-field {
  border: 1px solid transparent;
  background: transparent;
  @include box-shadow(none);

  &:hover,
  &:focus {
    @include box-shadow(none);
    background: #eee;
  }

  &.large-inline-field {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    height: auto;
  }

  &.is-invalid {
    border-color: red;
  }
}

.api-key-panel {
  .control-group {
    margin: 0;
    margin-bottom: 0 !important;
  }

  .control-label {
    width: 120px;
  }

  .controls {
    margin-left: 130px;
  }
}

input.api-field {
  width: 400px;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.control-disabled {
  color: lightgray;

  .help-block {
    color: lightgray;
  }
}

.control-inline-text {
  display: inline-block;
}

.toggle-switch{
  display: inline-block;
}

.import-switch {
  margin-top: 25px;
  line-height: 30px;

  .switch {
    position: relative;
    top: -3px;
  }
}

.user-edit-avatar {
  width: 134px;
  float: left;
  position: relative;

  .user-change-avatar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }

  .user-change-avatar {
    padding: 0;
  }
  button {
    margin-right: 5px;

    i {
      top: 2px;
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}

.settings-list {
  border-top: 1px solid rgba(black, 0.1);

  li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(black, 0.1);

    &:hover .user-actions {
      opacity: 1;
    }
  }

  .is-admin {
    background: #eee;
  }
}

.settings-users-list {
  margin-top: 10px;
  margin-bottom: 40px;

  li {
    padding: {
      right: 10px;
      left: 10px;
    }
  }

  .user-avatar {
    margin-right: 20px;
  }


  .user-meta {

  }

  .name {
    margin: 0;
  }

  .user-actions {
    margin-top: 6px;
    opacity: 0;
    @include transition(opacity 0.25s);

    > .btn {
      vertical-align: middle;
    }
  }
}

.settings-accounts-list {
  li {
    > div:first-child {
      width: 100px;
      min-height: 1px;
    }
  }

  .icon-todo {
    color: green;
  }

  .account-actions {
    form {
      margin:0;
    }
  }
}

// Pipeline States
.pipeline-state-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(black, 0.1);
  margin-left: 0;

  h4 {
    margin-top: 0;
  }

  .pipeline-delete-btn {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .pipeline-delete-btn {
    opacity: 1;
  }
}

.pipeline-checklist-item {

  .btn, .btn-group {
    vertical-align: top;
  }

  .checklist-controls {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  &:hover .checklist-controls,
  &.is-new-item .checklist-controls,
  &.is-valid .checklist-controls,
  &.is-editing .checklist-controls {
    opacity: 1;
  }
}

.checklist-controls {
  display: inline-block;
  vertical-align: top;

  .is-editing & {
    vertical-align: top;
  }
  a {
    position: relative;
    top: 2px;
    margin-left: 4px;

    &:hover {
      color: $text;
    }
  }
}

.pipeline-checklist-item-read {
  padding: 5px 0;
  display: inline-block;
  line-height: 30px;
}

.pipeline-state-create {
  margin: 40px 0;
}

.checklist-kind {
  width: 120px;
  color: #333;
}

.checklist-description {
  margin: 0 20px;
}

.checklist-weight,
.checklist-dates {
  width: 200px;
  color: #333;
}

// Break me into my own file
.new {
  background-color: lightyellow;
  @include transition(background-color 0.75s ease-out);

  &.out {
    background-color: #fff;
  }
}

.lead-sources {
  li {
    padding: 2px 0;
    line-height: 50px;
    border-bottom: 1px solid $control-border-color;

    input[type="text"] {
      margin-bottom: 0;
    }
  }

  .ss-write {
    margin-right: 5px;
  }

  .ss-trash {
    font-size: 15px;
    position: relative;
    top: -3px;
  }
}

.lead-sources {
  list-style-position: inside;
  margin-left: 0px;
  width: 400px;

  .lead-source-item {
    line-height: 50px;
    width: 224px;
    margin-left: 10px;

    i {
      position: relative;
      top: 2px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
}

.integrations .service{
  width: 92%;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 30px;
  display: inline-block;
}

/* .service .logo { */
/*   display: inline-block; */
/*   &.connected { */
/*     background: url('http://res.cloudinary.com/radium/image/upload/v1421930278/thirdparty/zapier-bw.png'); */
/*   } */

/*   &.diconnected { */
/*     background: url('http://res.cloudinary.com/radium/image/upload/v1421930278/thirdparty/zapier-bw.png') */
/*   } */
/*   background-size: 100px auto; */
/*   background-repeat: no-repeat; */
/*   background-position: 0 25px; */
/*   width: 100px; */
/*   height: 100px; */
/*   float: left; */
/* } */

.service .logo {
  display: inline-block;
  &.disconnected {
    background: url('http://res.cloudinary.com/radium/image/upload/v1421930278/thirdparty/zapier-bw.png');
  }

  &.connected {
    background: url('http://res.cloudinary.com/radium/image/upload/v1421938618/thirdparty/zapier-color.png');
  }
}

.service .logo.disconnected, .service .logo.connected {
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-position: 0 25px;
  width: 100px;
  height: 100px;
  float: left;
}

.service .description {
  padding: 20px 20px 20px 40px;
  display: inline-block;
  float: left;
  width: 547px;
}

.service .description span {
  display: none;
  margin-left: 2px;
}

.service .description > div:nth-of-type(1) {
  display: inline-block;
  margin-top: 3px;
}

.service .description > div:nth-of-type(1) p {
  margin: 0 0 2px;
}

.service .description > div:nth-of-type(1) a {
  color: #999;
  text-decoration: underline;
}

.service .description > a {
  display: inline-block;
  float: right;
  font-size: 14px;
  position: relative;
  top: -10px;
}

.service .description i {
  color: #57ad32;
}

.service h2 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 5px;
}

.service p {
  padding-bottom: 0;
}

.settings-general-component {
  .excluded-domains {
    list-style: none;
    margin-left: 0;

    .btn-remove-field {
      position: relative;
      margin-left: 10px;

      i {
        font-size: 14px;
      }
    }
  }
}

.settings-wrap {
  margin-left: 15px;

  .pipeline-states-list {

    .pipeline-state-item {
      display: inline-block;
      width: 1000px;

      .pipeline-top {
        float: left;
        display: inline-block;
        width: 500px;

        input {
          line-height: 42px;
          height: 42px;
          padding: 0 0 0 10px;
          float: left;
          margin-bottom: 0;
          margin-left: 30px;
          width: 300px;

          &.inline-field:hover,
          &.inline-field:focus {
            background: #eee;
          }
        }
        .btn-toolbar {
          float: left;
          margin: 0;
        }
      }
      .pipeline-bottom {
        float: left;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
      }

      .pipeline-checklist-item-view {

        .input-prepend {
          float: left;

          input {
            line-height: 42px;
            height: 42px;
            padding: 0 0 0 10px;
          }
        }
        .input-append {
          margin-bottom: 0;
          margin-left: 20px;
          float: left;

          input {
            height: 42px;
            padding: 0;
          }
          .add-on {
            height: 34px;
            line-height: 34px;
          }
        }
        > .btn-group {
          margin-left: 20px;
        }
      }
      .pipeline-delete-btn {
        background: $red;
        color: #fff;
      }
    }
  }
  .settings-main {
    display: inline-block;
    float: left;
    width: 1000px;

    .checkbox {
      padding-top: 0;
    }
    .help-block {
      margin-top: 8px;
    }
    .control-group {
      margin-bottom: 25px;
    }
    .form-actions {
      padding-left: 0;
    }
    .country-picker .selected-container b {
      top: 0;
    }
    .settings-company-view fieldset {
      width: 100%;
    }

    .invite-user-view {
      margin-bottom: 20px;
    }

    .invite-user-component {
      margin-bottom: 40px;

      .invite-team {
        height: 44px;
        border-radius: 0px; 
        box-shadow: none;
        padding: 0 10px;
        width: 300px;
      }
    }
  }
}