.user-sidebar-view{

  .sidebar-panel-content.following {
    .ss-buildings {
      font-size: 28px;
    }
  }

  .control-label{
    font-weight: bold;
  }

  span.empty{
    font-style: italic;
    color: $muted;
  }

  .meta{
    .title{
      margin-top: 14px;
    }
  }

  .deal-links,
  .assigned-contacts,
  .header{
    width: 100%;
    position: relative;

    > div{
      @include display-box;
      @include box-pack(justify);
      position: relative;
    }
  }

  .email{
    .inline-editor-closed{
      margin-bottom: 25px;
    }
  }

  .phone,
  .email{
     position: relative;

    .inline-editor-closed{
    a{
        position: relative;
        left: 1px;
      }
    }

    input{
      position: relative;
      top: -5px;
      left: 18px;
      width: 300px;
    }
  }

  .phone{
    span.empty{
      margin-left: 7px;
    }
  }

  #sales-goal{
    .sales-total{
      margin-right: 30px;
      .control-group{
        position: relative;
        top: -6px;
      }
      input[type=number]{
        width: 75px;
      }
      label.blue{
        position: relative;
        margin-bottom: 30px;
        .icon-edit{
          position: absolute;
          top: 2px;
          left: 78px;
        }
      }
    }
  }

  .sales-forecast {
    $green: #5ab623;
    position: relative;
    margin-bottom: -20px;

    .progress {
      display: inline-block;
      width: 100%;
      height: 40px;
      overflow: visible;
      border: 1px solid #dedede;
      @include background-image(linear-gradient(left, #dedede, #e1e1e1));
      @include box-shadow(none);
    }

    .bar {
      position: relative;
      border: none;
      background: {
        color: $green;
        image: none;
      }
      @include border-radius(4px 0 0 4px);
      @include box-shadow(none);

      &.has-percentage:after {
        width: 0;
        height: 0;
        content: "";
        top: 0;
        left: 100%;
        position: absolute;
        z-index: 8;
        border: {
          bottom: 20px solid transparent;
          top: 20px solid transparent;
          left: 12px solid $green;
        }
      }
    }

    .total{
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 24px;
      margin: 0;
      bottom: 0;
      line-height: 40px;
    }
  }

  table.totals{
    margin: 0;

    tr{
      td:nth-child(2),
      td:nth-child(3){
        text-align: center;
      }
      td{
        padding: {
          top: 4px;
          bottom: 4px;
        }
        border: none;

        label{
          display: inline;
        }
      }
    }
  }

  .deal-links{
    .btn-primary{
      padding-left: 56px;
      padding-right: 70px;
    }
  }
}

.user-view {
  .main-content {
    width: 96%;
    margin: 20px 2% 0;
  }
  .tasks-content {
    max-width: 835px;

    h2 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .form-box-controls {
      display: inline-block;
      z-index: 9;
      position: relative;
      top: 0;

      a {
        color: $text;
        padding: 15px 30px;
        display: inline-block;

        &.active {
          background: white;
          border: 1px solid $border;
          border-bottom: 1px solid white;
        }

        i {
          position: relative;
          top: 2px;
          margin-right: 6px;
        }
      }
    }
    .form-container {
      width: calc(100% - 43px);
      display: inline-block;
      background: white;
      border: 1px solid $border;
      z-index: 2;
      position: relative;
      top: -2px;
      padding: 20px;

      .forms-todo-view {
        display: inline-block;
        float: left;
        line-height: 1;

        .todo {
          margin: 0 0 0 20px;

          textarea {
            font-size: 16px;
          }
        }
      }

      button.finish-todo {
        display: none;
      }
      .todo-form {
        width: 100%;
        display: inline-block;
        margin-bottom: 0;

        .primary {
          width: 535px;
          float: left;
        }
        .btn-options {
          float: left;
          margin: 20px 20px 0 20px;
        }

        &.is-expanded {

          .control-box {
            width: 330px;
          }
        }
      }
    }
    .task-list {
      background: white;
      border: 1px solid $border;
      padding: 10px 30px;

      .has-reference {

        .primary {
          background-color: transparent;
          border: 0px;

          textarea {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
            white-space: nowrap;
          }
        }
      }
      h3 {
        border-bottom: 1px solid #dedede;
      }
    }
  }
}


.expanded-fields {
  float: left;
  background-color: white;
  width: calc(100% - 30px);
  border: 0px;
  box-shadow: none;
  z-index: 9;

  .field-group {

    .field {
      height: 46px;

      .prepend-group {
        float: left;
        height: auto;
        line-height: 46px;
        margin-left: 10px;

        .btn {
          padding: 0;

          i {
            top: 2px;
          }
        }
      }
      .text {
        float: left;
        line-height: 46px;
        padding-right: 15px;
      }
      &.autocomplete-textbox-component {

        input[type=text] {
          width: calc(100% - 164px);
        }
      }
    }
    .control-box {
      width: auto;
    }
  }
}

.is-expanded {
  display: inline-block;
}
.task-list {

  .expanded-fields {
    padding-left: 40px;
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }
  .primary {
    background: transparent;
    border: 0px;
  }
}
