.user-sidebar-view{

  .sidebar-panel-content.following {
    .ss-buildings {
      font-size: 28px;
    }
  }

  .control-label{
    font-weight: bold;
  }

  span.empty{
    font-style: italic;
    color: $muted;
  }

  .meta{
    .title{
      margin-top: 14px;
    }
  }

  .deal-links,
  .assigned-contacts,
  .header{
    width: 100%;
    position: relative;

    > div{
      @include display-box;
      @include box-pack(justify);
      position: relative;
    }
  }

  .email{
    .inline-editor-closed{
      margin-bottom: 25px;
    }
  }

  .phone,
  .email{
     position: relative;

    .inline-editor-closed{
    a{
        position: relative;
        left: 1px;
      }
    }

    input{
      position: relative;
      top: -5px;
      left: 18px;
      width: 300px;
    }
  }

  .phone{
    span.empty{
      margin-left: 7px;
    }
  }

  #sales-goal{
    .sales-total{
      margin-right: 30px;
      .control-group{
        position: relative;
        top: -6px;
      }
      input[type=number]{
        width: 75px;
      }
      label.blue{
        position: relative;
        margin-bottom: 30px;
        .icon-edit{
          position: absolute;
          top: 2px;
          left: 78px;
        }
      }
    }
  }

  .sales-forecast {
    $green: #5ab623;
    position: relative;
    margin-bottom: -20px;

    .progress {
      display: inline-block;
      width: 100%;
      height: 40px;
      overflow: visible;
      border: 1px solid #dedede;
      @include background-image(linear-gradient(left, #dedede, #e1e1e1));
      @include box-shadow(none);
    }

    .bar {
      position: relative;
      border: none;
      background: {
        color: $green;
        image: none;
      }
      @include border-radius(4px 0 0 4px);
      @include box-shadow(none);

      &.has-percentage:after {
        width: 0;
        height: 0;
        content: "";
        top: 0;
        left: 100%;
        position: absolute;
        z-index: 8;
        border: {
          bottom: 20px solid transparent;
          top: 20px solid transparent;
          left: 12px solid $green;
        }
      }
    }

    .total{
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 24px;
      margin: 0;
      bottom: 0;
      line-height: 40px;
    }
  }

  table.totals{
    margin: 0;

    tr{
      td:nth-child(2),
      td:nth-child(3){
        text-align: center;
      }
      td{
        padding: {
          top: 4px;
          bottom: 4px;
        }
        border: none;

        label{
          display: inline;
        }
      }
    }
  }

  .deal-links{
    .btn-primary{
      padding-left: 56px;
      padding-right: 70px;
    }
  }
}

.user-view {
    .main-content {
        width: 96%;
        margin: 20px 2% 0;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }
}
